@import (reference) "vars.less";

div#rewards-header{
    border-bottom: thin solid @light-grey;
    div.reward-actions{
        padding-top: 20px;
        div.action{
            padding-bottom: 20px;
        }
    }
}

div#wrapper-reward-dashboard{
    div#reward-dashboard{
        padding-bottom: 40px;
        div.section-title{
            margin-top: 40px;
        }
        div.empty-rewards{
            margin-top: 20px;
            padding-top: 40px;
            padding-bottom: 40px;
            border: thin solid @light-grey;
            border-radius: 3px;
            background: url('../images/emptystates/tag_bg.jpg');
            background-size: 80%;
            background-position: left center;
            background-repeat: no-repeat;
            div.title{
                margin-bottom: 20px;
            }
            div.description{
                line-height: 1.4rem;
            }
            div.action{
                margin-top: 20px;
                a{
                    display: inline-block;
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
        }
        div.reward-inventory{
            div.description{
                min-height: 50px !important;
            }
        }
        div.rewards{
            div.reward-catalog{
                &.is-deleted{
                    display: none;
                }
            }
            margin-top: 20px;
            div.reward{
                margin-top: 10px;
                border: thin solid @grey;
                border-radius: 3px;
                transition: all .1s;
                &:hover{
                    div.reward-stats{
                        display: none;
                    }
                    div.reward-neutral{
                        display: none;
                    }
                    div.reward-hover{
                        display: block !important;
                    }
                    border: thin solid @orange;
                }
                div.reward-info-container{
                    position: relative;
                    div.reward-hover{
                        display: none;
                    }
                    div.reward-info{
                        padding: 25px 20px;
                        div.name{
                            margin-top: 20px;
                        }
                        div.quantity{
                            margin-bottom: 5px;
                        }
                        div.description{
                            margin-top: 20px;
                            height: 150px;
                            line-height: 1.3rem;
                            div.stat{
                                margin-top: 5px;
                                font-weight: bold;
                            }
                        }
                    }
                    div.reward-stats{
                        border-top: thin solid @grey;
                        padding-top: 15px;
                        padding-bottom: 5px;
                        position: absolute;
                        bottom: 0;
                        div.reward-stat{
                            margin-bottom: 10px;
                        }
                    }
                    div.reward-actions{
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                    }
                }
                div.reward-actions{
                    border-top: thin solid @grey;
                    div.reward-action{
                        a{
                            display: block;
                            padding-top: 20px;
                            padding-bottom: 20px;
                            font-weight: bold;
                            &:hover{
                                background: @light-grey;
                                color: @orange;
                            }
                        }
                    }
                }
            }
        }
        div.deleted-rewards-btn-container{
            margin-top: 40px;
        }
    }
}

div#send-reward-modal{
    div.send-description{
        line-height: 1.2rem;
    }
    div.send-actions{
        div.profile-search, div.email-send{
            margin-top: 30px;
        }
    }
    form{
        > div{
            margin-top: 15px;
        }
        label, input{
            margin-bottom: 0;
        }
        div.organizer{
            div.organizer-name{
                padding-top: 10px;
            }
            div.organizer-image{
                text-align: center;
                img{
                    max-height: 40px;
                }
            }
        }
    }
}