@import (reference) "vars.less";

div#rewards-header{
    border-bottom: thin solid @light-grey;
    div.reward-actions{
        padding-top: 20px;
        div.action{
            padding-bottom: 20px;
        }
    }
}

div#wrapper-reward-dashboard{
    div#reward-dashboard{
        padding-bottom: 40px;
        div.section-title{
            margin-top: 40px;
        }
        div.empty-rewards{
            margin-top: 20px;
            padding-top: 40px;
            padding-bottom: 40px;
            border: thin solid @light-grey;
            border-radius: 3px;
            background: url('../images/emptystates/tag_bg.jpg');
            background-size: 80%;
            background-position: left center;
            background-repeat: no-repeat;
            div.title{
                margin-bottom: 20px;
            }
            div.description{
                line-height: 1.4rem;
            }
            div.action{
                margin-top: 20px;
                a{
                    display: inline-block;
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
        }
        div.rewards{
            margin-top: 20px;
            div.reward-catalog{
                margin-top: 10px;
                box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
                border: thin dotted @grey;
                border-radius: 5px;
                &.is-deleted{
                    display: none;
                }
                &:hover{
                    box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
                }
                div.reward{
                    transition: all .1s;
                    div.reward-top{
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        background: @light-grey;
                        border-bottom: thin dotted @grey;
                        div.item-name-container{
                            height: 70px;
                            line-height: 1.1rem;
                            div.item-name{
                                position: relative;
                                top: 50%;
                                transform: translateY(-50%);
                                span.title{
                                    font-weight: 200;
                                    font-size: 12px
                                }
                                span.date{
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                    div.reward-middle{
                        font-size: 13px;
                        border-bottom: thin dotted @grey;
                        div.actions-container{
                            padding-left: 0;
                            padding-right: 0;
                            div.actions{
                                a{
                                    display: block;
                                    height: 60px;
                                    width: 50%;
                                    float: left;
                                    text-align: center;
                                    border-right: thin dotted @grey;
                                    font-weight: 500;
                                    div.action-text{
                                        position: relative;
                                        top: 50%;
                                        transform: translateY(-50%);
                                    }
                                }
                            }
                        }
                        div.stats-container{
                            div.stats{
                                div.stat-container{
                                    height: 60px;
                                    div.stat{
                                        color: @orange;
                                        position: relative;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        line-height: 1.1rem;
                                        &.claimed{
                                            font-weight: 600;
                                        }
                                    }
                                }
                                &.stats-hover{
                                    text-align: center;
                                    display: none;
                                }
                            }
                        }
                    }
                    div.reward-bottom{
                        div.description-container{
                            position: relative;
                            height: 300px;
                            div.price{
                                color: @orange;
                                margin-top: 20px;
                                margin-bottom: 15px;
                            }
                            div.description{
                                line-height: 1.5rem;
                                margin-bottom: 20px;
                            }
                            div.delete-container{
                                position: absolute;
                                bottom: 10px;
                                a{
                                    color: @dark_grey;
                                    font-size: 13px;
                                    text-decoration: underline;
                                    font-style: italic;
                                }
                            }
                        }
                        div.item-image-container{
                            padding-left: 0;
                            padding-right: 15px;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            div.item-image{
                                height: 300px;
                            }
                        }
                    }
                    &:hover{
                        div.stats-hover{
                            display: block !important;
                        }
                        div.stats-neutral{
                            display: none !important;
                        }
                    }
                }
            }
            div.reward-inventory{
                margin-top: 10px;
                &.is-deleted{
                    display: none;
                }
                &.giveaway{
                    div.reward{
                        border: thin solid @green !important;
                        div.reward-name{
                            background: rgba(29, 188, 133, .8) !important;
                        }
                        div.reward-alert{
                            background: @green;
                        }
                    }
                }
                div.reward{
                    transition: all .1s;
                    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
                    border: thin solid @light-orange;
                    border-radius: 5px;
                    div.reward-top{
                        div.reward-image{
                            position: relative;
                            height: 250px;
                            border-top-left-radius: 4px;
                            border-top-right-radius: 4px;
                            div.reward-alert{
                                text-align: center;
                                position: absolute;
                                top: 0;
                                width: 100%;
                                padding-top: 6px;
                                padding-bottom: 6px;
                                font-size: 12px;
                                font-weight: bold;
                                color: #FFF;
                            }
                            div.reward-name{
                                width: 100%;
                                color: #FFF;
                                padding-left: 10px;
                                padding-top: 15px;
                                padding-bottom: 15px;
                                position: absolute;
                                bottom: 0;
                                background: rgba(243, 165, 54, .8);
                            }
                        }
                    }
                    div.reward-middle{
                        div.from-container{
                            background: @light-grey;
                            div.from{
                                position: relative;
                                padding: 10px;
                                height: 55px;
                                img.logo{
                                    display: block;
                                    position: absolute;
                                    top: 10px;
                                    left: 10px;
                                    height: 36px;
                                    width: 36px;
                                    border-radius: 18px;
                                }
                                div.from-text{
                                    margin-left: 50px;
                                    line-height: .9rem;
                                    font-size: 12px;
                                    position: relative;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    span{
                                        font-weight: bold;
                                    }
                                    span.light{
                                        font-weight: 200;
                                        font-style: italic;
                                    }
                                }
                            }
                        }
                    }
                    div.reward-stats{
                        font-size: 13px;
                        div.reward-expires-container{
                            padding-right: 0;
                            div.reward-expires{
                                border-right: thin solid #D4D4D4;
                                border-top: thin solid #D4D4D4;
                                border-bottom: thin solid #D4D4D4;
                                padding-top: 8px;
                                padding-bottom: 8px;
                                color: #878787;
                                span.heavy{
                                    font-weight: bold;
                                }
                            }
                        }
                        div.reward-sent-container{
                            padding-left: 0;
                            div.reward-sent{
                                border-top: thin solid #D4D4D4;
                                border-bottom: thin solid #D4D4D4;
                                padding-top: 8px;
                                padding-bottom: 8px;
                                color: @orange;
                                span.sent-number{
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                    div.reward-bottom{
                        div.description{
                            padding: 10px;
                            height: 150px;
                            line-height: 1.4rem;
                        }
                        div.actions-container{
                            div.send-container{
                                padding-right: 0;
                                border-right: thin solid #D4D4D4;
                            }
                            div.discard-container{
                                padding-left: 0;
                            }
                            div.action{
                                border-top: thin solid #D4D4D4;
                                a{
                                    padding-top: 20px;
                                    padding-bottom: 20px;
                                    font-weight: 500;
                                    display: block;
                                }
                            }
                        }
                    }
                    &:hover{
                        box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
                    }
                }
            }
        }
        div.deleted-rewards-btn-container{
            margin-top: 40px;
        }
    }
}

div#send-reward-modal{
    margin-bottom: 200px;
    div.section-title{
        margin-bottom: 5px;
    }
    div.send-description{
        margin-top: 20px;
        line-height: 1.2rem;
        div.description-title{
            text-decoration: underline;
        }
        div.action-item{
            margin-top: 5px;
        }
    }
    div.send-actions{
        div.profile-search{
            margin-top: 30px;
        }
    }
    form{
        > div{
            margin-top: 15px;
        }
        label, input{
            margin-bottom: 0;
        }
        div.organizer{
            div.organizer-name{
                padding-top: 10px;
            }
            div.organizer-image{
                text-align: center;
                img{
                    max-height: 40px;
                }
            }
        }
    }
}