@import (reference) "vars.less";

div#wrapper-new-reward{
  div#new-reward{
    div.create-actions{
      margin-top: 30px;
    }
    div.or{
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}

div#gif-modal div.gifs div.gif{
  height: 200px;
  padding-bottom: 20px;
  &:hover{
    cursor: pointer;
    img{
      border: @dark 2px solid;
    }
  }
}