// Fundraiser

extends ../layout

block title
    | {{ fundraiser.title }}

append head
    {% if fundraiser.is_private %}
    meta(name="robots", content="noindex,nofollow")
    {% endif %}
    link(rel="stylesheet", href="{{ STATIC_URL }}redactor/redactor.css")

prepend body
    {% if not user.fb_id %}
    include ../components/facebook
    {% endif %}

block content
    div#fundraiser
        div.cover
            div.image
            div.caption
        div.title
            div.controls
            div.text
            div.clear
        div.info
            div.right
                div.action
                div.middle
                div.friends
                    {% if user.fb_id %}
                    {% else %}
                    {% endif %}
            div.clear
        div.details
            div.description
                div.editable
                div.controls
                    a.save(href="javascript:;") Save
            div.extra
                div.organizers
            div.clear
        div.sponsors
        div.others
            div.similar
            div.nearby
            div.recommendation
            div.clear

append script
    script(type="text/javascript", src="{{ STATIC_URL }}redactor/redactor.min.js")
    //script(type="text/javascript", src="{{ STATIC_URL }}js/fundraiser/index.js")
    //script(type="text/javascript").
    //    Bazaarboy.fundraiser.index.init()