@import (reference) "vars.less";

@surge-green: #43FD35;

#event-body {
	border-radius:3px;
	overflow:hidden;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.25);
}

.surge {
	a {
		color: @surge-green!important;
	}
}

#event-hero {
	height:400px;
	position:relative;
	background-size:cover;
	background-position:center center;
	border-bottom:2px solid @surge-green;
	.gradient-overlay {
		position:absolute;
		bottom:0;
		width:100%;
		display:block;
		height:200px;
		background-image: -o-linear-gradient(-90deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.50) 100%);
		background-image: -moz-linear-gradient(-90deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.50) 100%);
		background-image: -ms-linear-gradient(-90deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.50) 100%);
		background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.50) 100%);
	}
	.event-hero-rsvp {
		position: absolute;
		width: 100%;
		bottom: 0px;
		height: 200px;
		display:block;
		// text-align:center;
		.organizer-logo {
			overflow:hidden;
			width:92px;
			height:92px;
			margin:auto auto 24px;
			display:block;
			border-radius:50%;
			background-color:white;
			box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
			padding:10px;
			// position:absolute;
			// bottom:144px;
			// left:auto;
			img {

			}
		}
		form {
			margin:auto;
			float:none;
			.tix-type, .tix-quantity, button {
				width:100%;
				height:44px;
				border-radius: 8px;
				box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
			}
			.tix-type {
				padding-left:1em;
				line-height:44px;
			}
			.tix-type, .tix-quantity {
				border-radius: 3px;
				background: #FFFFFF;
				border: 1px solid @surge-green;
				display:inline-block;
			}
			button {
				border-radius: 3px;
				background: @surge-green;
				padding:0;
			}
		}
	}
}