@import (reference) "vars.less";

div#event {
    min-width: 100%;
    min-height: 100%;
    padding-top: 66px;
    background: #F6F6F6;
}

div#event-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    z-index: 20;
    background: rgba(255, 255, 255, 0.96);
    box-shadow: 0px 1px 5px 1px rgba(221,221,221,1);

    div.event-header-body {
        position: relative;
        height: 66px;

        div.profile-icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 66px;
            height: 66px;
            background: #F5A623;

            div.inner {
                width: 44px;
                height: 44px;
                margin: 11px;
                border-radius: 22px;
                background: @white;
            }
        }

        div.event-name {
            display: table;
            width: 100%;
            height: 66px;
            padding-left: 66px;
            color: #4A4A4A;
            font-size: 18px;
            line-height: 20px;

            span {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }

    div.event-rsvp {
        height: 66px;
        padding: (66px - 36px) / 2 0;
        padding-right: 10px;

        @media @media_small {
            position: absolute;
            top: 0;
            right: 0;
        }

        a.primary-btn {
            display: block;
            width: 100px;
            padding-top: 9px;
            padding-bottom: 11px;
            color: @white;
        }

        div.price {
            display: table;
            height: 36px;
            padding-right: 10px;
            color: #4A4A4A;
            font-size: 18px;
            line-height: 20px;

            span {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}

div#event-body {
    margin-top: 24px;
    margin-bottom: 48px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: @white;
}

div#event-info {
    position: relative;
}

div#event-date {
    position: absolute;
    top: 0;
    left: 15px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    box-shadow: inset 0px -2px 0px 0px #F5A623;
    background: #FEC84D;

    div.month {
        width: 100%;
        height: 12px;
        margin-top: 3px;
        color: @white;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }

    div.day {
        width: 36px;
        height: 20px;
        background: @white;
        margin: 0 auto;
        margin-top: 2px;
        padding: 1px 0;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
    }
}

div#event-time {
    display: table;
    width: 100%;
    height: 40px;
    padding-left: 65px;
    top: 0;
    left: 0;
    font-size: 14px;
    line-height: 18px;

    span {
        display: table-cell;
        vertical-align: middle;
    }
}

div#event-location {
    margin-top: 25px;

    div.caption {
        height: 24px;
        padding-bottom: 10px;
        font-size: 14px;
        font-weight: 500;
    }

    div.location {
        padding-top: 5px;
        font-size: 14px;
    }

    div.map-canvas {
        margin-top: 15px;
        height: 150px;

        > div {
          width: 100%;
          height: 100%;
          border: 1px solid #000;
        }

        div#map-canvas {
            width: 100%;
            height: 100%;
        }
    }
}

div#event-organizers {
    margin-top: 25px;

    div.caption {
        height: 24px;
        padding-bottom: 10px;
        font-size: 14px;
        font-weight: 500;
    }

    div.canvas {
        div.organizer {
            position: relative;
            width: 100%;
            height: 40px;
            padding: 5px 0;

            div.organizer-icon {
                position: absolute;
                top: 5px;
                left: 0;
                width: 30px;
                height: 30px;
                border-radius: 4px;
                background: @orange;
            }

            div.organizer-name {
                display: table;
                width: 100%;
                height: 30px;
                padding-left: 40px;
                font-size: 16px;
                line-height: 18px;

                span {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
}

div#event-description {
    > div.caption {
        height: 28px;
        font-size: 18px;

        > div {
            width: 100%;
            height: 100%;
            padding-bottom: 10px;
            border-bottom: 1px solid #979797;
        }
    }

    > div.description {
        margin-top: 20px;

        div.inner {
            width: 100%;

            p {
                font-size: 14px;
                line-height: 22px;
            }

            img, iframe {
              max-width: 100%;
            }
        }
    }

    > div.actions {
        padding-top: 20px;

        a.primary-btn {
            display: block;
            padding-top: 9px;
            padding-bottom: 11px;
            color: @white;
        }

        div.save-status {
            height: 36px;
            padding: 10px 15px;
            font-size: 16px;
            line-height: 16px;
        }
    }
}

div#event-share {
    div.caption {
        height: 48px;
        font-size: 18px;
        padding-bottom: 30px;
    }
}

div#event-footer {
    width: 100%;
    height: 66px;
    background: #D4D4D4;
}

div#tickets {
    position: absolute;
    width: 440px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 100px;
    z-index: 10;
    border-radius: 4px;
    background: #FDE7B5;
    background-image: -o-linear-gradient(top, #FDE7B5, #FDE7B5, #FCC75A);
    background-image: -moz-linear-gradient(top, #FDE7B5, #FDE7B5, #FCC75A);
    background-image: -webkit-linear-gradient(top, #FDE7B5, #FDE7B5, #FCC75A);
    background-image: -ms-linear-gradient(top, #FDE7B5, #FDE7B5, #FCC75A);
    background-image: linear-gradient(top, #FDE7B5, #FDE7B5, #FCC75A);
}

div#tickets-header {
    width: 100%;
    height: 40px;
    padding: 12px 0;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

div#tickets-body {
    width: 428px;
    margin: 0 auto;
    border-radius: 4px;
    border: 2px solid #FEC84D;
    background: #4A90E2;

    > div.inner {
        width: 404px;
        padding-left: 4px;
        background: #FFFFFF;

        > div.caption {
            width: 100%;
            height: 40px;
            padding: 13px 10px;
            font-size: 14px;
            text-transform: uppercase;
        }
    }

    div.ticket {
        display: table;
        width: 100%;
        min-height: 108px;
        background: #F5F5F5;
        border-top: 1px solid darken(@grey, 10%);

        &.last {
            min-height: 109px;
            border-bottom: 1px solid darken(@grey, 10%);
        }

        &:hover, &.on {
            background: #FFE6B0;

            > div.inner > div.info {
                background: #FFF1D2;

                div.top div.price {
                    background: #F5A639;
                }
            }
        }

        &.soldout {
            background: #F5F5F5;

            > div.inner > div.info {
                background: #FFFFFF;
                color: #929292;

                div.top div.price {
                    background: #929292;
                }
            }
        }

        > div.inner {
            display: table-row;
            width: 100%;

            > div.action {
                position: relative;
                display: table-cell;
                width: 64px;
                height: 100%;
                vertical-align: middle;

                div.wrapper {
                    width: 44px;
                    margin: auto;

                    div.top {
                        input {
                            display: block;
                            margin: 0 auto;
                        }
                    }

                    div.bottom {
                        margin-top: 10px;

                        input {
                            width: 44px;
                            height: 20px;
                            margin: 0;
                            text-align: center;
                        }
                    }

                    div.soldout {
                        width: 44px;
                        height: 44px;
                        background: #FFFFFF;
                        color: @dark;
                        font-size: 14px;
                        line-height: 22px;
                        text-align: center;
                    }
                }
            }

            > div.info {
                display: table-cell;
                width: 336px;
                min-height: 107px;
                padding: 20px;
                background: #FFFFFF;

                div.top {
                    width: 100%;
                    height: 40px;

                    div.price {
                        width: 40px;
                        height: 40px;
                        padding: 13px 0;
                        border-radius: 4px;
                        background: #4963E4;
                        color: #FFFFFF;
                        font-size: 14px;
                        text-align: center;
                    }

                    div.name {
                        display: table;
                        width: 255px;
                        height: 40px;
                        padding-left: 10px;

                        div {
                            display: table-cell;
                            vertical-align: middle;
                            font-size: 14px;
                            line-height: 18px;
                        }
                    }
                }

                div.bottom {
                    width: 100%;
                    margin-top: 10px;
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }
}

div#tickets-details {
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid @grey;

    > div.inner {
        width: 100%;
        background: #F5F5F5;
    }

    div.left {
        width: 64px;
    }

    div.right {
        width: 336px;
        background: #FFFFFF;

        > div {
            width: 336px;
            height: 40px;
            padding: 4px;

            input {
                width: 328px;
                height: 32px;
                margin: 0;
                border-radius: 4px;
            }
        }

        div.top input {
            width: 160px;
        }
    }
}

div#tickets-footer {
    position: relative;
    width: 100%;
    height: 60px;
}

div#tickets-subtotal {
    width: 100%;
    height: 60px;
    padding: 23px 12px;
    font-size: 14px;
    //text-align: center;
}

a#tickets-confirm {
    position: absolute;
    width: 140px;
    height: 41px;
    top: 10px;
    right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;
}