@import (reference) "vars.less";

div#event {
    min-width: 100%;
    min-height: 100%;
    padding-top: 66px;
    background: #F6F6F6;
}

div#confirmation-modal{
    margin-left: -25%;
    width: 50%;
    div.confirmation-title{
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    div.organizers{
        div.title{
            padding-left: 0;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 20px;
        }
        div.organizer {
            position: relative;
            width: 100%;
            height: 40px;
            padding: 5px 0;

            div.organizer-icon {
                position: absolute;
                top: 5px;
                left: 0;
                width: 30px;
                height: 30px;
                border-radius: 4px;
                background: @orange;
                background-size: cover;
                background-position: center;
            }

            div.organizer-name {
                display: table;
                width: 100%;
                height: 30px;
                padding-left: 40px;
                font-size: 16px;
                line-height: 18px;

                span {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
    div.tickets{
        div.title{
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 20px;
        }

        div.ticket {
            width: 100%;
            border-top: 1px solid darken(@grey, 10%);
            padding: 20px 0;

            div.quantity {
                width: 40px;
                height: 40px;
                padding: 13px 0;
                border-radius: 4px;
                background: #4963E4;
                color: #FFFFFF;
                font-size: 14px;
                font-weight: 600;
                text-align: center;
            }

            div.name {
                margin-top: 10px;
                font-size: 14px;
                line-height: 18px;
                font-weight: 700;
            }
        }
    }
}

div#launch-modal{
    div.empty-state-container{
        border: #F6F6F6 thin solid;
        border-radius: 4px;
        background: url('../images/emptystates/champagne_bg.jpg');
        background-size: 80%;
        background-position: left center;
        background-repeat: no-repeat;
        div.empty-state-content{
            margin: 60px 0;
            div.text{
                text-align: left;
                font-size: 1.3rem;
                font-weight: 600;
                color: @dark;
            }
            hr{
                margin: 10px 0;
            }
            div.subtext{
                text-align: left;
            }
            div.to-dash{
                margin-left: 0;
                padding-right: 0;
            }
            a.primary-btn{
                display: block;
                width: 100%;
                margin-top: 20px;
                padding-top: 11px;
                padding-bottom: 14px;
                font-size: 15px;
                text-transform: uppercase;
                &:hover{
                    color: #FFF;
                }
            }
            div.close-launch-modal{
                text-align: left;
                margin-top: 30px;
                a.close-reveal-modal{
                    font-size: 1rem;
                    line-height: inherit;
                    position: relative;
                    top: 0;
                    right: 0;
                    color: @orange;
                    font-weight: normal;
                }
            }
        }
    }
}

div#contact-organizer-modal{
    div.contact-organizer-title{
        margin-bottom: 20px;
    }
    form{
        > div{
            margin-top: 15px;
        }
    }
    span.underline{
        text-decoration: underline;
    }
    div.send-contact-organizer{
        a.send-message{
            display: block;
            width: 100%;
            padding-top: 9px;
            padding-bottom: 11px;
            &:hover, &:focus{
                color: #FFF;
                    }
        }
        div.move-down{
            margin-top: 10px;
        }
    }
    div.contact-organizer-success{
        display: none;
        a.contact-organizer-close{
            display: block;
            width: 100%;
            padding-top: 9px;
            padding-bottom: 11px;
            &:hover{
                color:#FFF;
            }
        }
    }
}

div#add-organizer-modal{
    div.add-organizer-title{
        margin-bottom: 20px;
    }
    form{
        > div{
            margin-top: 15px;
        }
        div.organizer{
            div.organizer-name{
                padding-top: 10px;
            }
            div.organizer-image{
                text-align: center;
                img{
                    max-height: 40px;
                }
            }
            div.organizer-submit{
                a{
                    display: block;
                    width: 100%;
                    padding-top: 9px;
                    padding-bottom: 11px;
                    &:hover{
                        color: #FFF;
                    }
                }
            }
        }
    }
    span.underline{
        text-decoration: underline;
    }
    div.add-organizer-success{
        display: none;
        a.add-organizer-close, a.add-organizer-another{
            display: block;
            width: 100%;
            padding-top: 9px;
            padding-bottom: 11px;
            &:hover{
                color:#FFF;
            }
        }
    }
}

div#event-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 66px;
    z-index: 20;
    background: rgba(255, 255, 255, 0.96);
    box-shadow: 0px 1px 5px 1px rgba(221,221,221,1);

    div.event-header-body {
        position: relative;
        min-height: 66px;

        div.profile-icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 66px;
            min-height: 66px;
            background: #F5A623;

            div.inner {
                width: 44px;
                min-height: 44px;
                margin: 11px;
                border-radius: 22px;
                background: @white;

                &:hover {
                    box-shadow: 0 0 20px #FFFFFF;
                }
            }
        }

        div.event-name {
            display: table;
            width: 100%;
            height: 66px;
            padding-left: 66px;
            color: #4A4A4A;
            font-size: 18px;
            line-height: 20px;

            span {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }

    div.event-price{
        margin-top: 13px;
        padding-top: 9px;
        padding-right: 0;
        text-align: right;
        font-weight: 500;
        color: @dark;
        font-size: 20px;
    }

    @media only screen and (max-width: 40em){
        div.event-price{
            text-align: center !important;
        }
    }

    div.event-rsvp, div.event-share{
        padding-top: 13px;
        height: 66px;
        a{
            display: block;
            width: 100%;
            margin: 0 auto;
            padding-top: 9px;
            padding-bottom: 11px;
            &:hover{
                color: #FFF;
            }
            span.ss-bookmark{
                position: relative;
                top: 4px;
                font-size: 17px;
                right: 8px;
            }
        }
    }

    @media only screen and (min-width: 40em){
        div.event-rsvp{
            padding-left: 2rem;
        }
    }

    div.event-share{
        border-left: #F6F6F6 thin solid;
    }

    div.event-design {
        height: 66px;
        padding: (66px - 36px) / 2 0;
        padding-right: 10px;
        text-align: center;
        a{
            color: @orange;
            font-size: .9em;
        }
    }

    div.event-launch {
        height: 66px;
        padding: (66px - 36px) / 2 0;
        padding-right: 10px;

        @media @media_small {
            position: absolute;
            top: 0;
            right: 0;
        }

        a.primary-btn, a.secondary-btn {
            display: block;
            width: 100%;
            padding-top: 9px;
            padding-bottom: 11px;
            color: @white;
        }

        div.price {
            display: table;
            height: 36px;
            padding-right: 10px;
            color: #4A4A4A;
            font-size: 18px;
            line-height: 20px;

            span {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
    div.event-share-canvas{
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 10px;
        text-align: center;
        span.close-share{
            font-size: 1.9rem;
            color: #000;
            cursor: pointer;
            user-select:none;
            &:hover{
                color: @dark;
            }
        }
    }
}

div#event-body {
    margin-top: 24px;
    margin-bottom: 48px;
    padding-bottom: 40px;
    background: @white;
    div#event-content{
        padding-right: 2rem;
        padding-top: 70px;
        padding-left: 2rem;
    }
    div#event-sidebar{
        border-left: #F6F6F6 thin solid;
        hr{
            border: solid #F6F6F6;
            border-width: 1px 0 0;
        }
        > .row{
            padding-left: 2rem;
        }
        @media only screen and (max-width: 40em){
            > .row{
                padding-right: 2rem;
            }
        }
        div.event-actions-container{
            border-bottom: #F6F6F6 thin solid;
        }
        div#event-actions{
            min-height: 50px;
            div.edit-tickets{
                a.edit-tickets-btn{
                    display: block;
                    width: 100%;
                    padding-top: 9px;
                    padding-bottom: 11px;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    &:hover{
                        color: #FFF;
                    }
                }
            }
            div.ticket-prices{
                padding-left: 0;
                padding-right: 0;
                text-align: center;
                color: @dark;
                font-size: 1.2rem;
                font-weight: 500;
                margin-top: 25px;
            }
            div.share-btn-container{
                border-left: #F6F6F6 thin solid;
            }
            a#rsvp-button{
                display: block;
                width: 100%;
                padding-top: 9px;
                padding-bottom: 11px;
                margin-top: 15px;
                margin-bottom: 15px;
                .rsvp-icon{
                    position: relative;
                    top: 4px;
                }
                &:hover{
                    color: #FFF;
                }
            }
            a.share-btn{
                display: block;
                width: 100%;
                padding-top: 9px;
                padding-bottom: 11px;
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }
        div#event-datetime{
            margin-top: 70px;
            position: relative;
        }
    }
}

div#event-info {
    position: relative;
}

div#event-date {
    position: absolute;
    top: 0;
    left: 15px;
    width: 44px;
    height: 44px;
    border-radius: 4px;
    box-shadow: inset 0px -2px 0px 0px #F5A623;
    background: #FEC84D;
    border: @orange thin solid;

    div.month {
        width: 100%;
        height: 10px;
        margin-top: 3px;
        color: @white;
        font-size: 11px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: -1px;
    }

    div.day {
        color: @dark;
        width: 40px;
        height: 25px;
        background: @white;
        margin: 0 auto;
        margin-top: 2px;
        padding: 1px 0;
        padding-top: 3px;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
    }
}

div#event-time {
    color: @dark;
    display: table;
    width: 100%;
    height: 40px;
    padding-left: 70px;
    top: 0;
    left: 0;
    font-size: 14px;
    line-height: 18px;

    span {
        display: table-cell;
        vertical-align: middle;
    }

    div.day-name{
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
}

div#event-location {
    margin-top: 15px;
    padding-bottom: 10px;

    div.location {
        padding-top: 5px;
        font-size: 14px;
        font-weight: 500;
    }

    div.address{
        line-height: 1.3rem;
        margin-top: 5px;
        font-size: 13px;
    }

    div.map-canvas {
        margin-top: 15px;
        height: 150px;

        > div {
          width: 100%;
          height: 100%;
        }

        div#map-canvas {
            width: 100%;
            height: 100%;
            border-radius: 3px;
        }
    }
}

div#event-organizers {
    margin-top: 25px;

    div.caption {
        height: 24px;
        padding-bottom: 10px;
        font-size: 14px;
        font-weight: 500;
    }

    div.canvas {
        div.organizer {
            position: relative;
            width: 100%;
            height: 40px;
            padding: 5px 0;

            div.organizer-icon {
                position: absolute;
                top: 5px;
                left: 0;
                width: 30px;
                height: 30px;
                border-radius: 4px;
                background: @white;
                background-size: cover;
                background-position: center;
            }

            div.organizer-name {
                display: table;
                width: 100%;
                height: 30px;
                padding-left: 40px;
                font-size: 16px;
                line-height: 18px;

                span {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
}

div.contact-organizer, div.add-organizer{
    margin-top: 20px !important;
    a{
        font-size: 13px;
        color: @orange;
        font-style: italic;
        text-decoration: underline;
    }
}

div#event-description {
    > div.caption {
        height: 28px;
        font-size: 18px;

        > div {
            width: 100%;
            height: 100%;
            padding-bottom: 10px;
            border-bottom: 1px solid #979797;
        }
    }

    > div.description {
        margin-top: 20px;

        div.inner {
            width: 100%;

            p {
                font-size: 14px;
                line-height: 22px;
            }

            img, iframe {
              max-width: 100%;
            }
        }
    }

    > div.actions {
        padding-top: 20px;

        a.primary-btn {
            display: block;
            padding-top: 9px;
            padding-bottom: 11px;
            color: @white;
        }

        div.save-status {
            height: 36px;
            padding: 10px 15px;
            font-size: 16px;
            line-height: 16px;
        }
    }
}

div#event-share {
    div.caption {
        height: 48px;
        font-size: 18px;
        padding-bottom: 30px;
    }

    div.canvas {
        padding-left: 7px;
    }
}

div#event-footer {
    width: 100%;
    height: 66px;
    padding: 11px 0;
    background: #D4D4D4;

    div.inner {
        width: 284px;
        height: 44px;
        margin: 0 auto;
        font-size: 14px;
        color: #FFFFFF;

        a {
            color: #FFFFFF;
        }
    }

    div.poweredby {
        width: 120px;
        height: 44px;
        padding: 15px 0;
        text-align: center;
    }

    div.logo {
        width: 44px;
        height: 44px;
        border-radius: 22px;
        background: #FFFFFF;
    }

    div.links {
        width: 120px;
        height: 44px;
        padding: 15px 0;
        text-align: center;
    }
}

div#tickets {
    position: absolute;
    width: 440px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 100px;
    z-index: 10;
    border-radius: 4px;
    background: #FDE7B5;
    background-image: -o-linear-gradient(top, #FDE7B5, #FDE7B5, #FCC75A);
    background-image: -moz-linear-gradient(top, #FDE7B5, #FDE7B5, #FCC75A);
    background-image: -webkit-linear-gradient(top, #FDE7B5, #FDE7B5, #FCC75A);
    background-image: -ms-linear-gradient(top, #FDE7B5, #FDE7B5, #FCC75A);
    background-image: linear-gradient(top, #FDE7B5, #FDE7B5, #FCC75A);
}

div#tickets-header {
    width: 100%;
    height: 40px;
    padding: 12px 0;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

div#tickets-body {
    width: 428px;
    margin: 0 auto;
    border-radius: 4px;
    border: 2px solid #FEC84D;

    > div.inner {
        padding-left: 4px;
        background: #FFFFFF;

        > div.caption {
            width: 100%;
            height: 40px;
            padding: 13px 10px;
            font-size: 14px;
            text-transform: uppercase;
        }
    }

    div.ticket {
        display: table;
        width: 100%;
        min-height: 108px;
        background: #F5F5F5;
        border-top: 1px solid darken(@grey, 10%);
        cursor: pointer;
        -webkit-user-select: none;       
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &.last {
            min-height: 109px;
            border-bottom: 1px solid darken(@grey, 10%);
        }

        &:hover, &.on {
            background: #FFE6B0;

            > div.inner > div.info {
                background: #FFF1D2;

                div.top div.price {
                    background: #F5A639;
                }
            }
        }

        &.soldout {
            background: #F5F5F5;

            > div.inner > div.info {
                background: #FFFFFF;
                color: #929292;

                div.top div.price {
                    background: #929292;
                }
            }
        }

        > div.inner {
            display: table-row;
            width: 100%;

            > div.action {
                position: relative;
                display: table-cell;
                width: 64px;
                height: 100%;
                vertical-align: middle;

                div.wrapper {
                    width: 40px;
                    margin: auto;

                    div.top {
                        input {
                            display: block;
                            margin: 0 auto;
                        }
                    }

                    div.bottom {
                        margin-top: 10px;

                        input {
                            width: 40px;
                            height: 24px;
                            margin: 0;
                            text-align: center;
                            border-radius: 3px;
                        }
                    }

                    div.soldout {
                        width: 44px;
                        height: 44px;
                        background: #FFFFFF;
                        color: @dark;
                        font-size: 14px;
                        line-height: 22px;
                        text-align: center;
                    }
                }
            }

            > div.info {
                display: table-cell;
                min-height: 107px;
                padding: 20px 25px;
                background: #FFFFFF;

                div.top {
                    width: 100%;
                    height: 40px;

                    div.price {
                        width: 40px;
                        height: 40px;
                        padding: 13px 0;
                        border-radius: 4px;
                        background: #4963E4;
                        color: #FFFFFF;
                        font-size: 14px;
                        text-align: center;
                    }

                    div.name {
                        display: table;
                        width: 255px;
                        height: 40px;
                        padding-left: 10px;

                        div {
                            display: table-cell;
                            vertical-align: middle;
                            font-size: 14px;
                            line-height: 18px;
                            font-weight: 700;
                        }
                    }
                }

                div.bottom {
                    width: 100%;
                    margin-top: 10px;
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }
}

div#tickets-details {
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid @grey;

    > div.inner {
        width: 100%;
        background: #F5F5F5;
    }

    div.left {
        width: 64px;
    }

    div.right {
        width: 336px;
        background: #FFFFFF;

        > div {
            width: 336px;
            height: 40px;
            padding: 4px;

            input {
                width: 328px;
                height: 32px;
                margin: 0;
                border-radius: 4px;
            }
        }

        div.top input {
            width: 160px;
        }
    }
}

div#tickets-footer {
    position: relative;
    width: 100%;
    height: 60px;
}

div#tickets-subtotal {
    width: 100%;
    height: 60px;
    padding: 23px 12px;
    font-size: 14px;
    //text-align: center;
}

a#tickets-confirm {
    position: absolute;
    width: 140px;
    height: 41px;
    top: 10px;
    right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;
}