@import (reference) "vars.less";

div#event {
    min-width: 100%;
    min-height: 100%;
    padding-top: 66px;
    background: #F6F6F6;
}

div#confirmation-modal{
    margin-left: -25%;
    width: 50%;
    @media @media_small {
        margin-left: -45%;
        width: 90%;
    }
    div.confirmation-title{
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    div.organizers{
        margin-bottom: 20px;
        div.title{
            padding-left: 0;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 20px;
        }
        div.organizer {
            position: relative;
            width: 100%;
            height: 40px;
            padding: 5px 0;

            div.organizer-icon {
                position: absolute;
                top: 5px;
                left: 0;
                width: 30px;
                height: 30px;
                border-radius: 4px;
                background: @orange;
                background-size: cover;
                background-position: center;
            }

            div.organizer-name {
                display: table;
                width: 100%;
                height: 30px;
                padding-left: 40px;
                font-size: 16px;
                line-height: 18px;

                span {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
    div.tickets{
        div.title{
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 20px;
        }

        div.ticket {
            width: 100%;
            border-top: 1px solid darken(@grey, 10%);
            padding: 20px 0;

            div.quantity {
                width: 40px;
                height: 40px;
                padding: 13px 0;
                border-radius: 4px;
                background: #4963E4;
                color: #FFFFFF;
                font-size: 14px;
                font-weight: 600;
                text-align: center;
            }

            div.name {
                margin-top: 10px;
                font-size: 14px;
                line-height: 18px;
                font-weight: 700;
            }
        }
    }
    div.confirmation-note{
        margin-top: 10px;
        font-size: 12px;
        line-height: 1.5em;
    }
}

div#launch-modal{
    div.empty-state-container{
        border: #F6F6F6 thin solid;
        border-radius: 4px;
        background: url('../images/emptystates/champagne_bg.jpg');
        background-size: 80%;
        background-position: left center;
        background-repeat: no-repeat;
        div.empty-state-content{
            margin: 60px 0;
            div.text{
                text-align: left;
                font-size: 1.3rem;
                font-weight: 600;
                color: @dark;
            }
            hr{
                margin: 10px 0;
            }
            div.subtext{
                text-align: left;
            }
            div.to-dash{
                margin-left: 0;
                padding-right: 0;
            }
            a.primary-btn{
                display: block;
                width: 100%;
                margin-top: 20px;
                padding-top: 11px;
                padding-bottom: 14px;
                font-size: 15px;
                text-transform: uppercase;
                &:hover{
                    color: #FFF;
                }
            }
            div.close-launch-modal{
                text-align: left;
                margin-top: 30px;
                a.close-reveal-modal{
                    font-size: 1rem;
                    line-height: inherit;
                    position: relative;
                    top: 0;
                    right: 0;
                    color: @orange;
                    font-weight: normal;
                }
            }
        }
    }
}

div#invite-modal{
    form.invite-form{
        div.title{
            font-size: 1.3rem;
            font-weight: bold;
            margin: 40px 0;
        }
        label{
            line-height: 1.3rem;
        }
        div.event-list{
            cursor: pointer;
            padding: 10px 15px;
            margin-bottom: 5px;
            border-radius: 3px;
            background: @grey;
            &:hover{
                background: @dark;
                color: @white;
            }
            &.selected{
                background: @blue !important;
                color: @white !important;
                font-weight: bold;
            }
            div.event{
                user-select: none;
            }
        }
        div.subtext{
            margin-top: 5px;
            margin-bottom: 20px;
        }
    }
    div.send-invite{
        margin-top: 20px;
        a.send-invitation{
            display: block;
            width: 100%;
            padding-top: 9px;
            padding-bottom: 11px;
            text-align: center;
            &:hover, &:focus{
                color: #FFF;
            }
        }
        div.move-down{
            margin-top: 10px;
        }
    }
    div.invite-success{
        span.invite-count{
            font-weight: bold;
        }
        div.close{
            margin-top: 40px;
            text-align: center;
            a.blue-btn{
                display: inline;
                padding: 15px;
                padding-top: 9px;
                padding-bottom: 11px;
                color: @white;
            }
        }
    }
}

div#contact-organizer-modal{
    div.contact-organizer-title{
        margin-bottom: 20px;
    }
    form{
        > div{
            margin-top: 15px;
        }
    }
    span.underline{
        text-decoration: underline;
    }
    div.send-contact-organizer{
        a.send-message{
            display: block;
            width: 100%;
            padding-top: 9px;
            padding-bottom: 11px;
            &:hover, &:focus{
                color: #FFF;
                    }
        }
        div.move-down{
            margin-top: 10px;
        }
    }
    div.contact-organizer-success{
        display: none;
        a.contact-organizer-close{
            display: block;
            width: 100%;
            padding-top: 9px;
            padding-bottom: 11px;
            &:hover{
                color:#FFF;
            }
        }
    }
}

div#issue-modal{
    div.issue-title{
        margin-bottom: 10px;
    }
    div.issue-subtitle{
        margin-bottom: 15px;
        line-height: 1.3rem;
        font-size: 12px;
    }
    form{
        > div{
            margin-top: 15px;
        }
    }
    span.underline{
        text-decoration: underline;
    }
    div.send-issue{
        a.send-issue-btn{
            display: block;
            width: 100%;
            padding-top: 9px;
            padding-bottom: 11px;
            &:hover, &:focus{
                color: #FFF;
                    }
        }
        div.move-down{
            margin-top: 10px;
        }
    }
    div.issue-success{
        display: none;
        a.issue-close{
            display: block;
            width: 100%;
            padding-top: 9px;
            padding-bottom: 11px;
            &:hover{
                color:#FFF;
            }
        }
    }
}

div#add-organizer-modal{
    div.add-organizer-title{
        margin-bottom: 20px;
    }
    form{
        > div{
            margin-top: 15px;
        }
        div.organizer{
            div.organizer-name{
                padding-top: 10px;
            }
            div.organizer-image{
                text-align: center;
                img{
                    max-height: 40px;
                }
            }
            div.organizer-submit{
                a{
                    display: block;
                    width: 100%;
                    padding-top: 9px;
                    padding-bottom: 11px;
                    &:hover{
                        color: #FFF;
                    }
                }
            }
        }
    }
    span.underline{
        text-decoration: underline;
    }
    div.add-organizer-success{
        display: none;
        a.add-organizer-close, a.add-organizer-another{
            display: block;
            width: 100%;
            padding-top: 9px;
            padding-bottom: 11px;
            &:hover{
                color:#FFF;
            }
        }
    }
}

div#event-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 66px;
    z-index: 20;
    background: rgba(255, 255, 255, 0.96);
    border-bottom: @grey thin solid;

    div.event-header-body {
        position: relative;
        min-height: 66px;
        @media @media_small{
            border-bottom: #F6F6F6 thin solid;
        }

        div.profile-icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 66px;
            min-height: 66px;
            background: #F5A623;

            @media @media_small {
                background: none !important;
            }

            div.inner {
                width: 44px;
                min-height: 44px;
                margin: 11px;
                border-radius: 22px;
                background: @white;

                &:hover {
                    box-shadow: 0 0 20px #FFFFFF;
                }
            }
        }

        div.event-name {
            display: table;
            width: 100%;
            height: 66px;
            padding-left: 66px;
            color: #4A4A4A;
            font-size: 18px;
            line-height: 20px;
            font-weight: 600;

            span {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }

    div.event-price{
        margin-top: 13px;
        padding-top: 9px;
        padding-right: 0;
        text-align: right;
        font-weight: 500;
        color: @dark;
        font-size: 20px;
    }

    @media only screen and (max-width: 40em){
        div.event-price{
            text-align: center !important;
        }
        div.event-rsvp{
            padding-left: .5rem;
        }
        span.ss-bookmark{
            display: none !important;
        }
    }



    div.event-rsvp, div.event-share{
        padding-top: 13px;
        height: 66px;
        a{
            display: block;
            width: 100%;
            margin: 0 auto;
            padding-top: 9px;
            padding-bottom: 11px;
            &:hover{
                color: #FFF;
            }
            span.ss-bookmark{
                position: relative;
                top: 4px;
                font-size: 17px;
                right: 8px;
            }
        }
    }

    @media only screen and (min-width: 40em){
        div.event-rsvp{
            padding-left: 2rem;
        }
    }

    div.event-share{
        border-left: #F6F6F6 thin solid;
    }

    div.event-design {
        height: 66px;
        padding: (66px - 36px) / 2 0;
        padding-right: 10px;
        text-align: center;
        a{
            color: @orange;
            font-size: .9em;
        }
    }

    div.event-launch {
        height: 66px;
        padding: (66px - 36px) / 2 0;
        padding-right: 10px;

        @media @media_small {
            position: absolute;
            top: 0;
            right: 0;
        }

        a.primary-btn, a.secondary-btn {
            display: block;
            width: 100%;
            padding-top: 9px;
            padding-bottom: 11px;
            color: @white;
        }

        div.price {
            display: table;
            height: 36px;
            padding-right: 10px;
            color: #4A4A4A;
            font-size: 18px;
            line-height: 20px;

            span {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
    div.event-share-canvas{
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 10px;
        text-align: center;
        span.email-invite{
            background-image: url(http://w.sharethis.com/images/email_32.png);
            cursor: pointer;
            display: inline-block;
            height: 32px;
            width: 32px;
            position: relative; 
        }
        span.close-share{
            font-size: 1.9rem;
            color: #000;
            cursor: pointer;
            user-select:none;
            &:hover{
                color: @dark;
            }
        }
    }
}

div#event-body {
    margin-top: 24px;
    margin-bottom: 48px;
    padding-bottom: 40px;
    background: @white;
    div#event-content{
        @media only screen and (min-width: 40em){
            float: left !important;
        }
        padding-right: 2rem;
        padding-top: 70px;
        padding-left: 2rem;
    }
    div#event-sidebar{
        @media only screen and (min-width: 40em){
            float: right !important;
        }
        border-left: #F6F6F6 thin solid;
        hr{
            border: solid #F6F6F6;
            border-width: 1px 0 0;
        }
        > .row{
            padding-left: 2rem;
        }
        @media only screen and (max-width: 40em){
            > .row{
                padding-right: 2rem;
            }
        }
        div.event-actions-container{
            border-bottom: #F6F6F6 thin solid;
        }
        div#event-actions{
            min-height: 50px;
            div.edit-tickets{
                a.edit-tickets-btn{
                    display: block;
                    width: 100%;
                    padding-top: 9px;
                    padding-bottom: 11px;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    &:hover{
                        color: #FFF;
                    }
                }
            }
            div.ticket-prices{
                padding-left: 0;
                padding-right: 0;
                text-align: center;
                color: @dark;
                font-size: 1.2rem;
                font-weight: 500;
                margin-top: 25px;
            }
            div.share-btn-container{
                border-left: #F6F6F6 thin solid;
            }
            a#rsvp-button{
                display: block;
                width: 100%;
                padding-top: 9px;
                padding-bottom: 11px;
                margin-top: 15px;
                margin-bottom: 15px;
                .rsvp-icon{
                    position: relative;
                    top: 4px;
                }
                &:hover{
                    color: #FFF;
                }
            }
            a.share-btn{
                display: block;
                width: 100%;
                padding-top: 9px;
                padding-bottom: 11px;
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }
        div#event-datetime{
            margin-top: 70px;
            @media @media_small{
                margin-top: 20px;
            }
            position: relative;
        }
    }
}

div#event-info {
    position: relative;
}

div#event-date {
    position: absolute;
    top: 0;
    left: 15px;
    width: 44px;
    height: 44px;
    border-radius: 4px;
    box-shadow: inset 0px -2px 0px 0px #F5A623;
    background: #FEC84D;
    border: @orange thin solid;

    div.month {
        width: 100%;
        height: 10px;
        margin-top: 3px;
        color: @white;
        font-size: 11px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: -1px;
    }

    div.day {
        color: @dark;
        width: 42px;
        height: 25px;
        background: @white;
        margin: 0 auto;
        margin-top: 2px;
        padding: 1px 0;
        padding-top: 3px;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
    }
}

div#event-time {
    color: @dark;
    display: table;
    width: 100%;
    height: 40px;
    padding-left: 70px;
    top: 0;
    left: 0;
    font-size: 14px;
    line-height: 18px;

    span {
        display: table-cell;
        vertical-align: middle;
    }

    div.day-name{
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
}

div#event-location {
    margin-top: 15px;
    padding-bottom: 10px;

    div.location {
        padding-top: 5px;
        font-size: 14px;
        font-weight: 500;
    }

    div.address{
        line-height: 1.3rem;
        margin-top: 5px;
        font-size: 13px;
    }

    div.map-canvas {
        margin-top: 15px;
        height: 120px;

        > div {
          width: 100%;
          height: 100%;
        }

        div#map-canvas {
            width: 100%;
            height: 100%;
        }
    }
}

div#event-calendar-add{
    div.calendar-add{
        position: relative;
        z-index: 10;
        span{
            font-size: 12px;
        }
        a{
            color: @orange !important;
            font-size: 12px;
            text-decoration: underline;
            font-style: italic;
            font-weight: normal;
        }
        .addthisevent-drop{
            font-family: "Gotham SSm A", "Gotham SSm B", sans-serif !important;
            position: relative;
            color: @orange !important;
            background: transparent;
            text-decoration: underline !important;
            font-style: italic;
            border: none;
            font-weight: normal;
            font-size: 12px;
            padding: 0px 0px 8px 0px !important;
            border-radius: 0 !important;
        }
        .copyx{
            display: none !important;
        }
    }
}

div#event-organizers {
    margin-top: 25px;

    div.caption {
        height: 24px;
        padding-bottom: 10px;
        font-size: 14px;
        font-weight: 500;
    }

    div.canvas {
        div.organizer {
            position: relative;
            width: 100%;
            height: 40px;
            padding: 5px 0;

            div.organizer-icon {
                position: absolute;
                top: 5px;
                left: 0;
                width: 30px;
                height: 30px;
                border-radius: 4px;
                background: @white;
                background-size: cover;
                background-position: center;
            }

            div.organizer-name {
                display: table;
                width: 100%;
                height: 30px;
                padding-left: 40px;
                font-size: 16px;
                line-height: 18px;

                span {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
}

div.contact-organizer, div.add-organizer{
    margin-top: 20px !important;
    a{
        font-size: 13px;
        color: @orange;
        font-style: italic;
        text-decoration: underline;
    }
}

div#event-cover {
    div.image {
        width: 100%;

        img {
            width: 100%;
        }
    }
    form.upload_cover{
        a.blue-btn-inverse{
            display: block;
            width: 100%;
            padding-top: 9px;
            padding-bottom: 11px;
            &.hidden{
                display: none !important;
            }
        }
    }
}

div#event-description {
    > div.caption {
        height: 28px;
        font-size: 18px;

        > div {
            width: 100%;
            height: 100%;
            padding-bottom: 10px;
            border-bottom: 1px solid #979797;
        }
    }

    > div.description {
        margin-top: 20px;

        div.inner {
            width: 100%;

            p {
                font-size: 14px;
                line-height: 22px;
            }

            img, iframe {
              max-width: 100%;
            }
        }
    }

    > div.actions {
        padding-top: 20px;

        a.primary-btn {
            display: block;
            padding-top: 9px;
            padding-bottom: 11px;
            color: @white;
        }

        div.save-status {
            height: 36px;
            padding: 10px 15px;
            font-size: 16px;
            line-height: 16px;
        }
    }
}

div#event-share {
    div.caption {
        height: 48px;
        font-size: 18px;
        padding-bottom: 30px;
    }

    div.canvas {
        padding-left: 7px;
    }
}

div#event-footer {
    width: 100%;
    height: 66px;
    padding: 11px 0;
    background: #D4D4D4;

    div.inner {
        width: 284px;
        height: 44px;
        margin: 0 auto;
        font-size: 14px;
        color: #FFFFFF;

        a {
            color: #FFFFFF;
        }
    }

    div.poweredby {
        width: 120px;
        height: 44px;
        padding: 15px 0;
        text-align: center;
    }

    div.logo {
        width: 44px;
        height: 44px;
        border-radius: 22px;
        background: #FFFFFF;
    }

    div.links {
        width: 120px;
        height: 44px;
        padding: 15px 0;
        padding-left: 10px;
        text-align: center;
    }
}

div#tickets {
    position: absolute;
    width: 500px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    left: 0;
    right: 0;
    top: 125px;
    z-index: 10;
    border: @grey thin solid;
    border-radius: 4px;
    background: @white;
}

div#tickets-header {
    width: 100%;
    padding: 25px 0;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

div#tickets-body {
    width: 100%;
    div#tickets-canvas{
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        div.ticket{
            border: #D7D7D7 thin solid;
            border-radius: 4px;
            margin-bottom: 10px;
            &.active{
                div.ticket-top{
                    background: #FEC84D !important;
                    div.check{
                        div.check-inner{
                            display: block !important;
                        }
                    }
                }
            }
            &.hover, &.active{
                border: @orange thin solid;
                div.ticket-top{
                    background: #FFF4DB;
                    cursor: pointer;
                    div.check{
                        border: @orange thin solid !important;
                    }
                }
                div.ticket-bottom{
                    border-top: @orange thin solid;
                }
            }
            div.ticket-top{
                background: @grey;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                div.container{
                    min-height: 60px;
                    padding: 10px 0;
                    div.ticket-price{
                        padding-left: 0.9375rem;
                        div.check{
                            float: left;
                            position: absolute;
                            top: 50%;
                            -webkit-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                            transform: translateY(-50%);
                            height: 20px;
                            width: 20px;
                            background: @white;
                            border: #D7D7D7 thin solid;
                            border-radius: 2px;
                            div.check-inner{
                                background: @orange;
                                display: none;
                                margin: 2px;
                                border-radius: 2px;
                                height: 14px;
                                width: 14px;
                            }
                        }
                        div.price{
                            padding-left: 30px;
                            float: left;
                            font-size: 22px;
                            font-weight: 600;

                        }
                    }
                    div.ticket-name{
                        font-weight: 600;
                        font-size: 15px;
                        line-height: 1.1rem;
                    }
                    div.ticket-price, div.ticket-name{
                        position: absolute;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                    }
                }
            }
            div.ticket-middle{
                display: none;
                background: #FFF4DB;
                div.custom-option-group{
                    margin-top: 13px;
                    font-size: 13px;
                    div.title{
                        padding: 10px;
                        border-bottom: #D7D7D7 thin solid; 
                    }
                    margin-bottom: 20px;
                    padding: 0 !important;
                    padding-bottom: 0 !important;
                    background: @white;
                    border: #D7D7D7 thin solid;
                    border-radius: 3px;
                }
                div.container{
                    min-height: 60px;
                    padding: 10px 0;
                    padding-bottom: 20px;
                    div.info-label{
                        position: absolute;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                        font-size: 13px;
                        font-weight: 600;
                        padding-left: 0.9375rem;
                    }
                    input.ticket-quantity{
                        border: @orange thin solid;
                        padding: 0;
                        display: block;
                        margin-bottom: 0;
                        width: 30px;
                        height: 25px;
                        position: absolute;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                        text-align: center;
                        border-radius: 4px;
                        font-weight: 300;
                        box-shadow: none;
                        transition: none;
                    }
                    div.custom-field-container{
                        font-size: 13px;
                        padding-left: 0;
                        input{
                            font-size: 13px;
                            outline: none;
                            border: #D7D7D7 thin solid;
                            border-radius: 3px;
                            box-shadow: none;
                        }
                    }

                    div.custom-option{
                        cursor: pointer;
                        padding: 7px 0;
                        padding-left: 0;
                        color: @dark;
                        &.active{
                            text-decoration: underline;
                        }
                        &:hover{
                            font-weight: bold;
                            div.radio{
                                border-color: @orange;
                            }
                        }
                        &.active{
                            font-weight: bold;
                            div.radio{
                                border-color: @orange;
                                div.radio-inner{
                                    background: @orange;
                                }
                            }
                        }
                        div.radio{
                            padding: 1px;
                            width: 16px;
                            height: 16px;
                            border: #D7D7D7 thin solid;
                            border-radius: 8px;
                            background: @white;
                            margin: 0 auto;
                            div.radio-inner{
                                width: 12px;
                                height: 12px;
                                border-radius: 6px;
                                background: @white;
                            }
                        }
                        div.option-text{
                            padding-left: 0;
                            position: relative;
                            top: 2px;
                        }
                    }
                }
            }
            div.ticket-bottom{
                border-top: #D7D7D7 thin solid;
                font-size: 12px;
                div.ticket-description-container{
                    padding: 10px 0;
                    padding-left: 0.9375rem;
                    padding-right: 0.9375rem;
                    min-height: 60px;
                    div.ticket-sold-out{
                        font-weight: bold;
                    }
                }
                div.ticket-description{
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    line-height: 1.1rem;
                }
            }
        }
    }
}

div#tickets-details {
    width: 100%;
    div.title{
        width: 100%;
        padding: 20px 0;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
    }
    input{
        border-radius: 4px;
        font-weight: 300;
        box-shadow: none;
        transition: none;
    }

    hr{
        margin-top: 4px;
    }

    div.top, div.middle{
        @media only screen and (min-width: 40.063em){
            .columns:first-child{
                padding-right: 7px;
            }
            .columns:last-child{
                padding-left: 7px;
            }
        }
    }

    div.bottom{
        div.start-promo{
            padding-bottom: 20px;
            a{
                color: @orange;
                font-weight: 300;
                text-decoration: underline;
                font-style: italic;
                font-size: 12px;
            }
        }
    }
}

div#tickets-footer {
    padding: 20px 0;
    position: relative;
    width: 100%;
    border-top: #F6F6F6 thin solid;
}

div#tickets-subtotal {
    font-size: 14px;
    padding-top: 14px;
    font-weight: bold;
    div.issues{
        a{
            display: block;
            margin-top: 10px;
            font-size: 10px;
            color: @orange;
            font-weight: 300;
            font-style: italic;
        }
    }
}

@media @media_small{
    div#tickets-subtotal {
        text-align: center;
        margin-bottom: 20px;
    }
}

a#tickets-confirm {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 11px;
    color: @white;
    &:hover{
        color: @white;
    }
}