@import (reference) "vars.less";

div#wrapper-event-invite-preview{
    div#event-invite-preview{
        padding-top: 24px;
        div.email-template{
            width: 600px;
            min-height: 100px;
            margin: 0 auto;
            iframe{
                border: @dark_grey thin solid;
            }
        }
    }
}