@import (reference) "vars.less";

div#wrapper-invite-details{
    div#invite-details{
        div.invitation-back{
            margin-top: 20px;
            a{
                color: @blue;
            }
        }
        div.graphs{
            div.pie-graph{
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                height: 250px;
            }
        }
        div.invitations{
            margin-top: 40px;
            > div{
                color: @dark;
            }
            div.invitation{
                padding: 12px 5px;
                margin-bottom: 10px;
                border-radius: 3px;
                border: @dark_grey thin solid;
                div.invitation-name{
                    font-size: 16px;
                    font-weight: 500;
                }
                div.invitation-details{
                    font-weight: 300;
                    font-style: italic;
                    font-size: 14px;
                }
            }
        }
    }
}