@import (reference) "vars.less";

div#wrapper-event-modify {
    > div {
        padding-top: 40px;
    }
}

div#event-modify-basics {
    textarea {
        resize: none;
    }

    div.name {
        padding: 0;
        padding-top: 10px;
        font-size: 18px;
    }

    div.text {
        p {
            color: #666;
            font-size: 14px;
            line-height: 18px;
        }
    }

    div#map-canvas {
        height: 200px;
        border: 1px solid #000;

        img {
            max-width: none;
        }
    }

    div.status {
        padding-top: 53px;
        color: #9B9B9B;
        text-transform: uppercase;
        text-align: right;
    }

    input.primary-btn {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
        padding-top: 11px;
        padding-bottom: 14px;
        border: none;
        font-size: 15px;
        text-transform: uppercase;
    }
}

div#event-modify-tickets {
    div#add-ticket {
        height: 330px;
        border: 9px solid #FEC84D;
        border-radius: 4px;

        div.title {
            height: 46px;

            div {
                width: 100%;
                height: 100%;
                padding: (46px - 20px) / 2 0;
                border-bottom: 1px solid #979797;
                font-size: 20px;
                text-align: center;
            }
        }
    }
}