@import (reference) "vars.less";

div#event-modify-basics {
    padding-top: 40px;
    padding-bottom: 40px;

    textarea {
        resize: none;
    }

    div.name {
        padding: 0;
        padding-top: 10px;
        font-size: 18px;
    }

    div.text {
        p {
            color: #666;
            font-size: 14px;
            line-height: 18px;
        }
    }
}
