div#fb-root
script.
    window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
            appId      : '370497763029710',                        // App ID from the app dashboard
            channelUrl : '{{ STATIC_URL }}channel.html', // Channel file for x-domain comms
            status     : true,                                 // Check Facebook Login status
            xfbml      : true                                  // Look for social plugins on the page
        });
        if (typeof window.fbSDKReady == 'function') {
            fbSDKReady();
        }
    };
    // Load the SDK asynchronously
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));