doctype 5
html(lang="en")
    head
        block head
            title
                block title
                    | Bazaarboy
            link(rel="stylesheet", href="{{ STATIC_URL }}css/layout.css")
    block vars
    - var bodyClass = collapsed !== undefined && collapsed ? 'collapsed' : ''
    body(class="#{bodyClass}")
        block body
            div#wrapper_top
                block top
                    include components/top
            div#wrapper_main
                block main
                    div#wrapper_sidebar
                        block sidebar
                            include components/sidebar
                    div#wrapper_content
                        block content
                    div.clear
            div#wrapper_bottom
                block bottom
            div#wrapper_overlay
        block script
            script(type="text/javascript", src="{{ STATIC_URL }}js/libraries.js")
            script(type="text/javascript").
                var rootUrl = '{% url index %}';
                var csrfToken = '{{ csrf_token }}';
            script(type="text/javascript", src="{{ STATIC_URL }}js/layout.js")