{% load humanize %}
{% load layout %}
!!!5
html(lang="en")
    head
        block head
            title
                block title
                    | Bazaarboy
            meta(charset="utf-8")
            meta(name="viewport", content="width=device-width")
            link(rel="shortcut icon", href="{{ STATIC_URL }}images/logo.png")
            link(rel="stylesheet", href="//cloud.typography.com/7993072/806564/css/fonts.css")
            link(rel="stylesheet", href="{{ STATIC_URL }}css/styles.css")
            link(rel="stylesheet", href="{{ STATIC_URL }}gizmo/ss-gizmo.css")
            link(rel="stylesheet", href="{{ STATIC_URL }}sweetalert/sweet-alert.css")
            include components/analytics
    body
        include components/mixins
        block body
            div#wrapper-top.small-12.columns.show-for-small.only
                block top
                    include components/top
            div#wrapper-sidebar
                div#sidebar-frame
                    div#sidebar-logo
                        a(href="{% url index %}").clearfix
                            div.logo.left
                                img.hide-for-medium-only(src="{{ STATIC_URL }}images/logo_radiating.png")
                                img.small-logo.show-for-medium-only(src="{{ STATIC_URL }}images/big_logo_radiating.png")
                    block sidebar
                    +sidebarItem('ss-login')(href="{% url user:logout %}")
                        | Log Out
            div#wrapper-main
                div#main-header
                    div.row
                        div.small-12
                            div.row
                                block header
                div.row
                    div#main-frame.small-12
                        div#wrapper-content.row
                            block content
                        div#wrapper-bottom.row
                            block bottom
                                include components/bottom
        div#scripts
            block script
                script(src="{{ STATIC_URL }}js/libraries.js")
                script(src="{{ STATIC_URL }}sweetalert/sweet-alert.min.js")
                script.
                    var rootUrl = '{% url index %}';
                    var mediaUrl = '{{ MEDIA_URL }}';
                    var staticUrl = '{{ STATIC_URL }}';
                    var csrfToken = '{{ csrf_token }}';
                    var loggedIn = {% if user %}true{% else %}false{% endif %};
                script(src="{{ STATIC_URL }}fastclick/fastclick.js")
                script(src="{{ STATIC_URL }}js/bazaarboy.js")