!!!5
html(lang="en")
    head
        block head
            title
                block title
                    | Bazaarboy
                link(rel="shortcut icon", href="{{ STATIC_URL }}images/logo.png")
                link(rel="stylesheet", href="{{ STATIC_URL }}css/styles.css")
                include components/analytics
    body
        block body
            div#wrapper-top.row
                block top
                    include components/top
        block script
            script(src="{{ STATIC_URL }}js/libraries.js")
            script.
                var rootUrl = '{% url index %}';
                var mediaUrl = '{{ MEDIA_URL }}';
                var csrfToken = '{{ csrf_token }}';
                var loggedIn = {% if user %}true{% else %}false{% endif %};
            script(src="{{ STATIC_URL }}js/layout.js")