{% load humanize %}
{% load layout %}
doctype 5
html(lang="en")
    head
        block head
            title
                block title
                    | Bazaarboy
            script(type="text/javascript", src="//use.typekit.net/gjc0hvy.js")
            script(type="text/javascript").
                try{Typekit.load();}catch(e){}
            link(rel="shortcut icon", href="{{ STATIC_URL }}images/logo.png")
            link(rel="stylesheet", href="{{ STATIC_URL }}css/layout.css")
    body
        block body
            div#wrapper_top
                block top
                    include components/top
            div#wrapper_content
                block content
            div#wrapper_bottom
                block bottom
                    include components/bottom
            div#wrapper_overlay
        block script
            script(type="text/javascript", src="{{ STATIC_URL }}js/libraries.js")
            script(type="text/javascript").
                var rootUrl = '{% url index %}';
                var mediaUrl = '{{ MEDIA_URL }}';
                var csrfToken = '{{ csrf_token }}';
                var loggedIn = {% if user %}true{% else %}false{% endif %};
            script(type="text/javascript", src="{{ STATIC_URL }}js/layout.js")