extends layout

block title
    | Bazaarboy | Login

append head
    script(type="text/javascript").
        var next = '{% if params.next %}{{ params.next }}{% endif %}';
    script(type="text/javascript", src="{{ STATIC_URL }}js/login.js")
    script(type="text/javascript").
        Bazaarboy.user.login.init()

block body
    a#fb_login(href="javascript:;") Login with Facebook
    div#login
        h2 Login
        br
        form(name="login")
            label Email
            input(type="text", name="email")
            br
            label Password
            input(type="password", name="password")
            br
            input(type="submit", name="submit", value="Login")