extends layout

block title
    | Bazaarboy | Register

append head
    script(type="text/javascript", src="{{ STATIC_URL }}js/register.js")
    script(type="text/javascript").
        Bazaarboy.user.register.init()

block body
    include facebook
    div#register
        h2 Register
        br
        a#fb_login(href="javascript:;") Login with Facebook
        br
        form(name="register")
            label Email
            input(type="text", name="email")
            br
            label Password
            input(type="password", name="password")
            br
            label Confirm
            input(type="password", name="confirm")
            br
            label City
            input(type="text", name="city")
            br
            input(type="submit", name="submit", value="Login")