// Event creation flow layout

extends ../layout

block sidebar
    +sidebarItem()
        | Basic information
    +sidebarItem()
        | Page design
    +sidebarItem()
        | Ticket Options
    +sidebarItem()
        | Bonus