{% load layout %}
doctype strict
html(xmlns='http://www.w3.org/1999/xhtml')
head
  body(leftmargin='0', marginwidth='0', topmargin='0', marginheight='0', offset='0', style='width: 100% !important; -webkit-text-size-adjust: none; background: #DEE0E2; margin: 0; padding: 0;', bgcolor='#DEE0E2')
    center
      table#bodyTable(border='0', cellpadding='0', cellspacing='0', height='100%', width='100%', style='height: 100% !important; width: 100% !important; background: #DEE0E2; margin: 0; padding: 0;', bgcolor='#DEE0E2')
        tr
          td(align='center', valign='top', style='padding-bottom: 0px; border-collapse: collapse;')
            table#templateContainer(border='0', cellpadding='0', cellspacing='0', width='600', style='border: 0;')
              tr
                td(align='center', valign='top', style='border-collapse: collapse;')
              tr
                td(align='center', valign='top', style='border-collapse: collapse;')
                  table#templateHeader(border='0', cellpadding='0', cellspacing='0', width='600', style='border-top-width: 0; border-bottom-width: 0; background: #DEE0E2;', bgcolor='#DEE0E2')
                    tr
                      td(align='center', valign='top', style='border-collapse: collapse;')
                        table(border='0', cellpadding='0', cellspacing='0', width='100%')
                          tr
                            td.headerContent(style='border-collapse: collapse; color: #505050; font-family: Helvetica; font-size: 20px; font-weight: bold; line-height: 100%; text-align: center; vertical-align: middle; padding: 0 0 0;', align='center', valign='middle')
                              {% if follow_up.image %}
                              img#headerImage(src='{{ follow_up.image.source.url }}', style='max-width: 600px !important; height: auto; line-height: 100%; outline: none; text-decoration: none; display: block; border: 0;', mc:label='header_image', mc:edit='header_image', mc:allowdesigner='', mc:allowtext='')
                              {% else %}
                              | &nbsp;
                              {% endif %}
              tr
                td(align='center', valign='top', style='border-collapse: collapse;')
                  table.templateBackground(border='0', cellpadding='0', cellspacing='0', width='600', style='background: #F4F4F4;', bgcolor='#F4F4F4')
                    tr
                      td(valign='top', width='180', style='border-collapse: collapse;')
                        table(border='0', cellpadding='0', cellspacing='0', width='150')
                          tr
                            td(valign='top', style='border-collapse: collapse; padding:20px; padding-right:0;')
                              {% if follow_up.recap.organizer.profile.image %}
                              img#campaign-icon.blockImage(src='{{ follow_up.recap.organizer.profile.image.source.url }}', style='max-width: 150px; height: auto; max-height: 150px; line-height: 100%; outline: none; text-decoration: none; display: block; border: 0;', mc:label='image', mc:edit='body_image00')
                              {% else %}
                              | &nbsp;
                              {% endif %}
                          tr
                            td(valign='top', style='border-collapse: collapse;')                                         
                      td.templateBackground(align='left', valign='top', width='450', style='border-collapse: collapse; background: #F4F4F4;', bgcolor='#F4F4F4')
                        table(border='0', cellpadding='20', cellspacing='0', width='100%')
                          tr
                            td.bodyContent(valign='top', mc:edit='body_content00', style='border-collapse: collapse; color: #505050; font-family: Helvetica; font-size: 17px; line-height: 150%; text-align: left;', align='left')
                              h2(style='color: #404040; display: block; font-family: Helvetica; font-size: 20px; font-style: normal; font-weight: bold; line-height: 100%; letter-spacing: normal; text-align: left; text-decoration: none; margin: 0 0 10px;', align='left')
                                span(style='color: rgb(96, 96, 96); font-size: 14px; line-height: 14px;') {{ follow_up.heading }}
                              h1(style='color: {{ follow_up.color }}; display: block; font-family: Helvetica; font-size: 24px; font-style: normal; font-weight: bold; line-height: 100%; letter-spacing: normal; text-align: left; text-decoration: none; margin: 0 0 10px;', align='left') {{ follow_up.recap.organizer.event.name }}
                              span(style='font-family: gotham ssm a,gotham ssm b,sans-serif; font-size: 14px; line-height: 14px;') {{ follow_up.message|urlize }}
                              br
                              br
                              br
                              a.primary-btn.view_event_btn(href='{{ follow_up.button_target }}', target="_blank", style='color: rgb(96, 96, 96); text-decoration: none; border-radius: 4px; font-weight: 500; text-align: center; font-size: 1em; box-sizing: border-box; padding: 12px 60px;background: transparent; border: thin solid {{ follow_up.color }}')
                                | {{ follow_up.button_text }}
                              br
                              br
              tr
                td(align='center', valign='top', style='border-collapse: collapse;')
                  table#templateFooter(border='0', cellpadding='20', cellspacing='0', width='600', style='border-top-width: 1px; border-top-color: {{ follow_up.color }}; border-top-style: solid; background: {{ follow_up.color }};')
                    tr
                      td(align='center', valign='top', style='border-collapse: collapse;')
                        table(border='0', cellpadding='0', cellspacing='0', width='100%')
                          tr
                            td.footerContent(valign='top', mc:edit='footer_content', style='border-collapse: collapse; color: #EEEEEE; font-family: Helvetica; font-size: 10px; line-height: 150%; text-align: left;', align='left')
                              em
                                | Powered By 
                                a(href='https://bazaarboy.com') Bazaarboy
                          tr
                            td.footerContent(colspan='3', valign='top', style='padding-top: 10px; border-collapse: collapse; color: #EEEEEE; font-family: Helvetica; font-size: 10px; line-height: 150%; text-align: left;', mc:edit='footer_utility', align='left')
                              a(href='https://bazaarboy.com/user/unsub/?key=*|UNSUB_KEY|*&email=*|USER_EMAIL|*&profile=*|PROFILE_ID|*', style='color: #FFFFFF; font-weight: normal; text-decoration: underline;') Unsubscribe From &apos;{{ follow_up.recap.organizer.profile.name }}&apos; Communications
