extends ../layout

block title
    | Follow Up Details

block sidebar
    +sidebarItem('ss-newspaper')(href="{% url index %}")
        | Events
    +sidebarItem('ss-database')(href="{% url list:index %}")
        | Lists
    +sidebarItem('ss-tag')(href="{% url reward:index %}")
        | Gifts
    +sidebarItem('ss-share')(href="{% url user:settings %}")
        | Settings

block header
    div.header-title.large-9.medium-10.columns.small-centered
        div.row.clearfix
            div.icon.left
                span.ss-file
            div.text.left
                | Follow Up |
                span.sub &nbsp;{{ follow_up.recap.organizer.event.name }}

block content
    div#wrapper-invite-details.large-9.medium-10.columns.small-centered
        div#invite-details.small-12.columns
            div.row.title-container
                div.small-12.columns
                    div.title.headline
                        | Follow Up Details:
                        span.recipient-count &nbsp;&nbsp;{{ follow_up.recipients }} Recipient{{ follow_up.recipients|pluralize }}
            div.row.info-container
                div.small-12.columns
                    div.row
                        div.small-12.medium-4.columns
                            div.title Ticket{{ follow_up.tickets.count|pluralize }}:&nbsp;&nbsp;
                                span.info {% for ticket in follow_up.tickets.all %}{{ticket.name}}{% if not forloop.last %}, {% endif %}{% endfor %}
                        div.small-12.medium-8.columns
                            div.title Delivered:&nbsp;&nbsp;
                                span.info {{ follow_up.sent_at|date:"l, F j, o" }}
                    div.row.message-container
                        div.small-12.columns
                            div.title Message:&nbsp;&nbsp;
                                span.info {{ follow_up.message|truncatewords:30 }}
            hr
            {% if results.count > 0 %}
            div.row.graphs
                div.small-12.medium-6.columns
                    div.row
                        div.small-12.columns
                            div.open-graph.pie-graph
                    div.row
                        div.small-12.columns.stats.text-center
                            div.title Open Rate:&nbsp;
                                span.info {{ openPercent }}
                div.small-12.medium-6.columns
                    div.row
                        div.small-12.columns
                            div.click-graph.pie-graph
                    div.row
                        div.small-12.columns.stats.text-center
                            div.title Click Rate:&nbsp;
                                span.info {{ clickPercent }}
            div.row.stats-container
                div.small-12.columns
                    div.stats-bg
                        div.row.stats
                            div.small-12.medium-6.columns.text-center
                                span.icon.ss-openfolder
                                span.number {{ totalOpens }}&nbsp;
                                span.type Opened
                            div.small-12.medium-6.columns.text-center
                                span.icon.ss-mouse
                                span.number {{ totalClicks }}&nbsp;
                                span.type Clicked
            hr
            {% endif %}
            div.row
                div.small-12.columns.invitations
                    h3.title Recipient List
                    {% if results.count == 0 %}
                    div
                        div.row.invitation
                            div.small-12
                                | Email Data is Being Gathered... Check back in a few minutes!
                    {% endif %}
                    {% for fu in results %}
                    div
                        div.row.invitation
                            div.small-12.medium-6.columns.invitation-name
                                | {{ fu.to }}
                            div.small-12.medium-3.columns.text-right.invitation-details
                                | {{ fu.opens }} Ope{{ fu.opens|pluralize:"n,ns" }}
                            div.small-12.medium-3.columns.text-right.invitation-details
                                | {{ fu.clicks }} Clic{{ fu.clicks|pluralize:"k,ks" }}
                    {% endfor %}

append script
    script(type="text/javascript").
        recipients = {{ follow_up.recipients }};
        totalOpens = {{ totalOpens }};
        totalClicks = {{ totalClicks }};
        openPercent = '{{ openPercent }}';
        clickPercent = '{{ clickPercent }}';
    script(src="{{ STATIC_URL }}js/event/follow-up-details.js")