extends ../layout

block title
    | Follow Up Dashboard

block sidebar
    +sidebarItem('ss-newspaper')(href="{% url index %}")
        | Events
    +sidebarItem('ss-database')(href="{% url list:index %}")
        | Lists
    +sidebarItem('ss-share')(href="{% url user:settings %}")
        | Settings

block header
    div.header-title.large-9.medium-10.columns.small-centered
        div.row.clearfix
            div.icon.left
                span.ss-file
            div.text.left
                | Follow Ups |
                span.sub &nbsp;{{ event.name }}

block content
    div#wrapper-follow-up-dashboard.large-9.medium-10.columns.small-centered
        {% if sentFollowUps.count == 0 and draftFollowUps.count == 0 %}
        div.empty-state-container
            div.row
                div.medium-5.columns
                    &nbsp;
                div.medium-7.columns.end.empty-state-content
                    div.text YOU HAVEN'T CREATED ANY FOLLOW UPS
                    hr
                    div.subtext Thank your attendees for participating!
                    div.row
                        div.large-6.medium-7.small-9
                            div.new-list-btn
                                a(href="{% url event:create-follow-up event.id %}").secondary-btn.btn.full-btn
                                    | <span class="plus">+</span> New Follow Up
        {% endif %}
        div#follow-up-dashboard.small-12.columns
            div.row.new-comm-container(class="{% if sentFollowUps.count == 0 and draftFollowUps.count == 0 %}hide{% endif %}")
                div.medium-4.columns.new-list
                    a.new-comm-btn.primary-btn.text-center(href="{% url event:create-follow-up event.id %}", style="{% if sentFollowUps.count == 0 and draftFollowUps.count == 0 %}display:none;{% endif %}") + New Follow Up
            div.row
                {% if sentFollowUps.count > 0 %}
                div.small-12.columns.comms
                    h3.title Sent Invitations
                    {% for follow_up in sentFollowUps %}
                    div.row.comm
                        div.small-12.medium-6.columns.comm-name
                            | {% for ticket in follow_up.tickets.all %}{{ticket.name}}{% if not forloop.last %}, {% endif %}{% endfor %}
                        div.small-12.medium-2.columns.text-right.comm-details
                            | {{ follow_up.recipients }} Recipien{{ follow_up.recipients|pluralize:"t,ts" }}
                        div.small-12.medium-2.columns.text-right.comm-details
                            a(href="{% url event:invite-details follow_up.id %}") View Stats
                        div.small-12.medium-2.columns.text-right.comm-details
                            a.copy-follow-up(data-id="{{ follow_up.id }}", href="javascript:;") Copy Follow Up
                    {% endfor %}
                {% endif %}
                {% if draftFollowUps.count > 0 %}
                div.small-12.columns.comms
                    h3.title Follow Up Drafts
                    {% for follow_up in draftFollowUps %}
                    div.row.comm
                        div.small-12.medium-6.columns.comm-name
                            | Tickets: {% for ticket in follow_up.tickets.all %}{{ticket.name}}{% if not forloop.last %}, {% endif %}{% endfor %}
                        div.small-12.medium-3.columns.text-right.comm-details
                            a(href="{% url event:edit-follow-up follow_up.id %}") Edit Follow Up
                        div.small-12.medium-3.columns.text-right.comm-details
                            a.delete-follow-up(href="javascript:;", data-id="{{ follow_up.id }}") Delete Follow Up
                    {% endfor %}
                {% endif %}

append script
    script(src="{{ STATIC_URL }}js/event/follow-up-dashboard.js")