extends ../layout

append head
    link(rel="stylesheet", href="{{ STATIC_URL }}spectrum/spectrum.css")

block sidebar
    +sidebarItem('ss-newspaper')(href="{% url index %}")
        | Events
    +sidebarItem('ss-database')(href="{% url list:index %}")
        | Lists
    +sidebarItem('ss-tag')(href="{% url reward:index %}")
        | Gifts
    +sidebarItem('ss-share')(href="{% url user:settings %}")
        | Settings

block header
    div.header-title.large-9.medium-10.columns.small-centered
        div.row.clearfix
            div.icon.left
                span.ss-mail
            div.text.left
                | {{ event.name }} |
                span.sub &nbsp;Send Follow Ups

block content
    div#wrapper-event-follow-up.large-9.medium-10.columns.small-centered
        div#event-follow-up.small-12.columns
            div.row
                div.small-12.columns.comm-back
                    a(href="{% url event:follow-up event.id %}") &lt; Back To Follow Ups
            div.row
                div.email.small-12.medium-6.columns
                    input(type="hidden", name="event", value="{{ event.id }}")
                    input(type="hidden", name="follow_up", value="{{ follow_up.id }}")
                    input(type="hidden", name="image", value="")
                    {% csrf_token %}
                    div.info
                        div.title
                            span Email Content
                    div.row.email-content
                        div.small-12.columns.content-image
                            label Email Header Image (optional)
                                input.hide(type="file", name="image_file")
                                a.upload-image-btn.primary-btn-inverse.btn.full-btn(href="javascript:;", style="{% if follow_up.image %}display:none;{% endif %}") Upload Image
                                a.delete-image-btn.primary-btn-inverse.btn.full-btn(href="javascript:;", style="{% if not follow_up.image %}display:none;{% endif %}") Delete Image
                    div.row.email-content
                        div.small-12.columns.image-preview(class="{% if not follow_up.image %}hide{% endif %}")
                            img#header-image(src="{% if follow_up.image %}{{ follow_up.image.source.url }}{% endif %}")
                    div.row.email-content
                        div.small-12.columns.content-details
                            label Header Text
                                textarea(name="heading", placeholder="Enter the header text here (ex. 'Thanks for Coming!')") {{ follow_up.heading }}
                    div.row.email-content
                        div.small-12.columns.content-message
                            label Message Content
                                textarea(name="message", placeholder="Enter the message content here") {{ follow_up.message }}
                    div.row.email-content
                        div.small-12.columns.content-message
                            label Button Text
                                input(type="text", name="button_text", value="{% if follow_up.button_text %}{{ follow_up.button_text }}{% endif %}", placeholder="(ex. View Page, Click Here)")
                    div.row.email-content
                        div.small-12.columns.content-details
                            label Button Link
                                div.row.collapse.tiny-btn-group
                                    div.small-12.medium-4.columns
                                        a.button-type-btn.full-btn.tiny-btn(href="javascript:;", data-type="event", class="{% if activeButtonType = 'event' %}active primary-btn{% else %}primary-btn-inverse{% endif %}") Event Page
                                    div.small-12.medium-4.columns
                                        a.button-type-btn.full-btn.tiny-btn(href="javascript:;", data-type="attachment", class="{% if activeButtonType = 'attachment' %}active primary-btn{% else %}primary-btn-inverse{% endif %}") Attachment
                                    div.small-12.medium-4.columns
                                        a.button-type-btn.full-btn.tiny-btn(href="javascript:;", data-type="link", class="{% if activeButtonType = 'link' %}active primary-btn{% else %}primary-btn-inverse{% endif %}") Custom Link
                                div.custom-link(class="{% if not activeButtonType = 'link' %}hide{% endif %}")
                                    br
                                    input(type="text", name="button_link", value="{% if follow_up.button_target %}{{ follow_up.button_target }}{% endif %}", placeholder="(ex. http://bazaarboy.com)")
                    div.row.email-content
                        div.small-12.columns.content-image
                            label Attach File to Follow Up (PDF, JPG, PNG, GIF)
                                input.hide(type="file", name="attachment_file")
                                a.upload-attachment-btn.primary-btn-inverse.btn.full-btn(href="javascript:;", style="{% if follow_up.attachment %}display:none;{% endif %}") Upload Attachment
                                a.delete-attachment-btn.primary-btn-inverse.btn.full-btn(href="javascript:;", style="{% if not follow_up.attachment %}display:none;{% endif %}") Delete Attachment
                    div.row.email-content
                        div.small-12.columns.pdf-preview(class="{% if not follow_up.attachment %}hide{% endif %}")
                            span.filename {% if follow_up.attachment %}{{ follow_up.attachment.name }}{% else %}&nbsp;{% endif %}
                    div.row.email-content
                        div.small-12.columns.content-details
                            label Email Color
                            input(type='color', name='colorpicker', value='{% if follow_up.color %}{{ follow_up.color }}{% else %}{{ event.color }}{% endif %}')
                    div.row.email-content
                        div.small-12.columns.content-submit
                            a.save-follow-up.primary-btn.btn.full-btn(href="javascript:;") Save &amp; Preview
                div.lists.small-12.medium-6.columns
                    div.info
                        div.title
                            span Choose Tickets to Follow Up With
                    {% for ticket in tickets %}
                    {% if ticket.items > 0 %}
                    div.row.list(data-id="{{ ticket.id }}", class="{% if ticket.selected %}active{% endif %}")
                        div.small-12.medium-6.columns.list-name
                            | {{ ticket.name }}
                        div.small-12.medium-6.columns.list-quantity.text-right
                            | {{ ticket.items }} RSVP{{ ticket.items|pluralize }}
                    {% endif %}
                    {% endfor %}
append script
    script(src="https://dme0ih8comzn4.cloudfront.net/js/feather.js")
    script(type="text/javascript", src="{{ STATIC_URL }}spectrum/spectrum.js")
    script.
        mediaUrl = "{{ MEDIA_URL }}";
        profileId = {{ profile.id }};
        {% if follow_up.image %}imgId = "{{ follow_up.image.id }}"{% endif %}
        {% if follow_up.attachment %}pdfId = "{{ follow_up.attachment.id }}"{% endif %}
        {% if follow_up %}followUpEdit = true{% else %}followUpEdit = false{% endif %}
    script(src="{{ STATIC_URL }}js/event/follow-up.js")