// Event

extends ../layout

block title
    | {% if preview %}Preview | {% endif %}{{ event.name }}

append head
    meta(name="description", content="{{ event.summary }}")
    {% if editable %}
    link(rel="stylesheet", href="{{ STATIC_URL }}jQueryUI/jquery-ui.css")
    link(rel="stylesheet", href="{{ STATIC_URL }}redactor/redactor.css")
    link(rel="stylesheet", href="{{ STATIC_URL }}pikaday/pikaday.css")
    {% endif %}
    //- Facebook
    meta(property="og:url", content="{{ request.build_absolute_uri }}")
    meta(property="og:title", content="{{ event.name }}")
    meta(property="og:description", content="{{ event.summary }}")
    {% if event.cover %}
    meta(property="og:image", content="{{ event.cover.source.url|sanitizeUrl }}")
    link(rel="image_src", href="{{ event.cover.source.url|sanitizeUrl }}")
    {% endif %}

block body
    include ../components/facebook
    div#event
        div#event-header
            div.event-header-body.medium-10.columns
                div.profile-icon
                    div.inner
                div.event-name 
                    span {{ event.name }}
            div.event-rsvp.medium-2.columns.clearfix
                a.right.primary-btn(href="javascript:;") + RSVP
                div.price.right
                    span
                        {% spaceless %}
                        {% if rsvp %}
                        | Free
                        {% else %}
                        | {% if cheapest != 0 %}${{ cheapest|floatformat:-2 }}{% else %}Free{% endif %}{% if tickets|length != 1 %}+{% endif %}
                        {% endif %}
                        {% endspaceless %}
        div#event-body.row
            div#event-sidebar.large-offset-1.large-3.medium-3.columns
                div#event-datetime.row
                    div#event-date
                        div.month {{ event.start_time|date:'M' }}
                        div.day {{ event.start_time|date:'j' }}
                    div#event-time.small-12.columns
                        span
                            | {% spaceless %}
                            | {% if event.end_time %}
                            //- Short version
                            | {% if event.end_time|shouldShortenEndTime:event.start_time %}
                            | {{ event.start_time|date:'l, M. jS gA' }} to {{ event.end_time|date:'gA' }}
                            | {% else %}
                            //- Long version
                            | {{ event.start_time|date:'M. jS gA' }} to {{ event.end_time|date:'M. jS gA' }}
                            | {% endif %}
                            | {% else %}
                            | {{ event.start_time|date:'l, M. jS gA' }}
                            | {% endif %}
                            | {% endspaceless %}
                div#event-location.row
                    div.caption.small-12.columns
                        | Location
                    div.location.small-12.columns
                        {{ event.location }}
                    div.map-canvas.small-12.columns.hide(data-latitude="{{ event.latitude }}", data-longitude="{{ event.longitude }}")
                        div
                            div#map-canvas
                div#event-organizers.row
                    div.caption.small-12.columns
                        | Organizers
                    div.canvas.small-12.columns
                        {% for organizer in organizers %}
                        div.organizer
                            div.organizer-icon
                            div.organizer-name
                                span {{ organizer.profile.name }}
                        {% endfor %}
                div#event-sponsors.row
            div#event-content.large-6.medium-8.columns
                div#event-description.row
                    div.caption.small-12.columns
                        div Event Description
                    div.description.small-12.columns
                        div.inner
                            {{ event.description|safe }}
                    {% if design %}
                    div.actions.small-12.columns
                        div.row
                            div.medium-offset-3.medium-3.columns
                                a.save.primary-btn(href="javascript:;") Save
                            div.save-status.medium-3.columns.end
                                | Saved
                    {% endif %}
            div#event-right.medium-1.columns.end
                div#event-share
                    div.caption
                    div.canvas
                        | <span class='st_facebook_large' displayText='Facebook'></span>
                        | <span class='st_twitter_large' displayText='Tweet'></span>
                        | <span class='st_googleplus_large' displayText='Google +'></span>
                        | <span class='st_blogger_large' displayText='Blogger'></span>
                        | <span class='st_wordpress_large' displayText='WordPress'></span>
                        | <span class='st_pinterest_large' displayText='Pinterest'></span>
                        | <span class='st_email_large' displayText='Email'></span>
        div#event-footer
        div#tickets
            div#tickets-header Ticket Options
            div#tickets-body
                div.inner
                    div.caption Choose Your Tickets
                    div#tickets-canvas
                        {% for ticket in tickets %}
                        div.ticket(class="{% if forloop.last %}last{% endif %} {% if ticket.quantity == 0 %}soldout{% endif %}", data-id="{{ ticket.id }}", data-price="{{ ticket.price }}")
                            div.inner.clearfix
                                div.action
                                    div.wrapper
                                        {% if ticket.quantity != 0 %} 
                                        div.top
                                            input.ticket-selected(type="checkbox")
                                        div.bottom
                                            input.ticket-quantity(type="text", name="quantity", value="0")
                                        {% else %}
                                        div.soldout Sold Out
                                        {% endif %}
                                div.info
                                    div.top.clearfix
                                        div.price.left {% if ticket.price == 0 %}Free{% else %}${{ ticket.price|floatformat:"-2" }}{% endif %}
                                        div.name.right 
                                            div {{ ticket.name }}
                                    div.bottom
                                        {{ ticket.description }}
                        {% endfor %}
                    div.caption Details About You
                    div#tickets-details
                        div.inner.clearfix
                            div.left
                            div.right
                                div.top.clearfix
                                    input.left(type="text", name="first_name", placeholder="First Name")
                                    input.right(type="text", name="last_name", placeholder="Last Name")
                                div.middle
                                    input(type="text", name="email", placeholder="Email")
                                div.bottom
                                    input(type="text", name="phone", placeholder="Phone (Optional)")
            div#tickets-footer
                div#tickets-subtotal
                    | Subtotal | $
                    span.total 0
                    span.fee.hide  + Fee
                    | &nbsp;&middot;&nbsp;
                    span.count 0
                    |  Ticket
                    span.plural s
                a#tickets-confirm.primary-btn(href="javascript:;") Confirm RSVP
        div#wrapper-overlay

append script
    script.
        var switchTo5x=true;
    script(type="text/javascript", src="http://w.sharethis.com/button/buttons.js")
    script.
        stLight.options({
            publisher: "7bffe644-d542-4b4d-affe-420a0175f3c0", 
            doNotHash: false, 
            doNotCopy: false, 
            hashAddressBar: false
        });
    {% if editable %}
    script(type="text/javascript", src="{{ STATIC_URL }}redactor/redactor.min.js")
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAasW6vqPCn18g6UMaFWV90qGMSo6pErwo&sensor=false&libraries=places")
    {% else %}
    script(type="text/javascript", src="https://checkout.stripe.com/v2/checkout.js")
    {% endif %}
    script(type="text/javascript").
        var eventId = {{ event.id }};
        var design = {% if design %}true{% else %}false{% endif %};
    script(type="text/javascript", src="{{ STATIC_URL }}js/event/index.js")