// Event

extends ../layout

block title
    | {{ event.title }}

append head
    {% if event.is_private %}
    meta(name="robots", content="noindex,nofollow")
    {% endif %}
    link(rel="stylesheet", href="{{ STATIC_URL }}redactor/redactor.css")

block vars
    - var collapsed = true

prepend body
    {% if not user.fb_id %}
    include ../components/facebook
    {% endif %}

block content
    {% load humanize %}
    div#event.event_base.small_cover
        div.cover
            div.image
            div.caption
        div.title
            div.controls
            div.text
                {{ event.name }}
            div.clear
        div.frame
            div.left
                div.placeholder
                div.description
                    div.editor
                        div.inner
                            {{ event.description|safe }}
                    {% if editable %}
                    div.controls
                        a.save(href="javascript:;") Save
                        a.edit(href="javascript:;") Edit
                    {% endif %}
            div.right
                div.action
                    div.button
                        {% if editable %}
                        b Edit Tickets
                        {% else %}
                        b RSVP
                        {% endif %}
                    div.price
                    div.clear
                div.time.info
                div.friends.info
                    div.caption
                        div.text Friends Going
                        {% if user.fb_id %}
                        div.share
                            b Share
                        {% endif %}
                        div.clear
                    div.content
                        {% if user.fb_id %}
                        {% else %}
                        {% endif %}
                div.organizers.info
                    div.caption
                        div.text Organizers
                        div.clear
                div.summary.info
                    div.caption
                        div.text Summary
                        div.clear
                div.tags.info
                    div.caption
                        div.text Tags
                        div.clear
            div.clear
        div.sponsors
            div.caption
                div.text Sponsors
                div.clear
        div.others
            div.similar
            div.nearby
            div.recommendation
            div.clear
    {% if editable %}
    div#tickets.event_overlay_canvas
        div.title Edit Tickets
    {% else %}
    div#rsvp.event_overlay_canvas
        div.title
            {{ event.title }}
        {% if not user %}
        div.user
            div.caption Do you have a Bazaarboy account?
            div.normal
                div.login
                    div.caption Log In
                    div.form
                        form.login
                            input(type="text", name="email", placeholder="Email")
                            input(type="password", name="password", placeholder="Password")
                            input(type="submit", value="Log In")
                div.divider
                div.register
                    div.caption Register
                    div.form
                        form.register
                            input(type="text", name="full_name", placeholder="Your Name")
                            input(type="text", name="email", placeholder="Email")
                            input(type="password", name="password", placeholder="Password")
                            input(type="submit", value="Register")
                            input(type="hidden", name="city", value="{{ event.city.id }}")
                div.clear
        div.divider or
        div.email
            input(type="text", name="email", placeholder="Email")
        {% endif %}
        div.tickets
        div.action
        div.checkout
    {% endif %}

append script
    script(type="text/javascript", src="{{ STATIC_URL }}redactor/redactor.min.js")
    script(type="text/javascript").
        var eventId = {{ event.id }};
        var editable = {% if editable %}true{% else %}false{% endif %};
        var token{% if params.token %} = '{{ params.token }}'{% endif %};
    script(type="text/javascript", src="{{ STATIC_URL }}js/event/index.js")