// Event

extends ../layout

block title
    | {{ event.title }}

append head
    {% if event.is_private %}
    meta(name="robots", content="noindex,nofollow")
    {% endif %}
    link(rel="stylesheet", href="{{ STATIC_URL }}redactor/redactor.css")

block vars
    - var collapsed = true

prepend body
    {% if not user.fb_id %}
    include ../components/facebook
    {% endif %}

block content
    div#event.big_cover
        div.cover
            div.image
            div.caption
        div.title
            div.controls
            div.text
                {{ event.title }}
            div.clear
        div.info
            div.right
                div.action
                    div.button RSVP
                    div.price
                    div.clear
                div.middle
                    | Time and Location
                div.friends
                    {% if user.fb_id %}
                    {% else %}
                    | Connect with Facebook
                    {% endif %}
            div.clear
        div.details
            div.description
                div.editable
                    {{ event.description|safe }}
                div.controls
                    a.save(href="javascript:;") Save
            div.extra
                div.organizers
            div.clear
        div.sponsors
        div.others
            div.similar
            div.nearby
            div.recommendation
            div.clear
    div#rsvp
        div.title
            {{ event.title }}
        {% if not user %}
        div.user
            div.caption Do you have a Bazaarboy account?
            div.normal
                div.login
                    div.caption Log In
                    div.form
                        form.login
                            input(type="text", name="email", placeholder="Email")
                            input(type="password", name="password", placeholder="Password")
                            input(type="submit", value="Log In")
                div.divider
                div.register
                    div.caption Register
                    div.form
                        form.register
                            input(type="text", name="full_name", placeholder="Your Name")
                            input(type="text", name="email", placeholder="Email")
                            input(type="password", name="password", placeholder="Password")
                            input(type="submit", value="Register")
                            // Dev only
                            input(type="hidden", name="city", value="1")
                div.clear
        div.divider or
        div.email
            input(type="text", name="email", placeholder="Email")
        {% endif %}
        div.tickets
        div.action
        div.checkout

append script
    script(type="text/javascript", src="{{ STATIC_URL }}redactor/redactor.min.js")
    script(type="text/javascript", src="{{ STATIC_URL }}js/event/index.js")
    script(type="text/javascript").
        Bazaarboy.event.index.init()