// Event

extends ../layout

block title
    | {% if preview %}Preview | {% endif %}{{ event.name }}

append head
    meta(name="description", content="{{ event.summary }}")
    {% if editable %}
    link(rel="stylesheet", href="{{ STATIC_URL }}jQueryUI/jquery-ui.css")
    link(rel="stylesheet", href="{{ STATIC_URL }}redactor/redactor.css")
    link(rel="stylesheet", href="{{ STATIC_URL }}pikaday/pikaday.css")
    {% endif %}
    //- Facebook
    meta(property="og:url", content="{{ request.build_absolute_uri }}")
    meta(property="og:title", content="{{ event.name }}")
    meta(property="og:description", content="{{ event.summary }}")
    {% if event.cover %}
    meta(property="og:image", content="{{ event.cover.source.url|sanitizeUrl }}")
    link(rel="image_src", href="{{ event.cover.source.url|sanitizeUrl }}")
    {% endif %}

block body
    include ../components/facebook
    div#confirmation-modal.reveal-modal(data-reveal)
        div.row
            div.medium-12.text-center.columns.confirmation-title
                | Confirmation - Thank You!
        div.row
            div.medium-5.columns.organizers.text-left
                div.row
                    div.medium-12.title.columns
                        | Organizer{{ organizers|length|pluralize }}
                {% for organizer in organizers %}
                div.row.organizer
                    div.organizer-icon(style="{% if organizer.profile.image %}background-image:url({{ organizer.profile.image.source.url }});{% endif %}")
                    div.organizer-name
                        span {{ organizer.profile.name }}
                {% endfor %}
            div.medium-7.columns.tickets
                div.row
                    div.medium-12.title.columns
                        | Your Tickets
                div.ticket-model.hidden
                    div.ticket.row
                        div.medium-4.columns
                            div.quantity x0
                        div.medium-8.columns
                            div.name Ticket Name
    div#launch-modal.reveal-modal.text-center.medium(data-reveal)
        div.empty-state-container(class="{% if ticketExists %}hide{% endif %}")
                div.row
                    div.medium-5.columns
                        | &nbsp;
                    div.medium-6.columns.end.empty-state-content
                        div.text CONGRATULATIONS
                        hr
                        div.subtext Your event is live!
                        div.row
                            div.large-7.medium-7.small-8.columns.to-dash
                                a.new-ticket.primary-btn(href="{% url index %}") Go To Dashboard
                            div.large-5.medium-5.small-4.columns.close-launch-modal
                                | or&nbsp;&nbsp;
                                a.close-reveal-modal Close
    div#contact-organizer-modal.reveal-modal.medium(data-reveal)
        form.contact-organizer-form(name="contact-organizer", data-abide)
            div.row
                div.medium-12.columns.text-center.contact-organizer-title
                    h3 Contact 
                        span.underline {{ organizers.0.profile.name }}
            div.row
                div.medium-3.columns.text-center
                    label.right.inline(for="contact-name") Your Name
                div.medium-9.columns
                    input#contact-name(type="text", name="name", required)
                    small.error Your Name Is Required
            div.row
                div.medium-3.columns.text-center
                    label.right.inline(for="contact-email") Your Email
                div.medium-9.columns
                    input#contact-email(type="email", name="useremail", required)
                    small.error Your Email Is Required
            div.row
                div.medium-3.columns.text-center
                    label.right.inline(for="contact-message") Your Message
                div.medium-9.columns
                    textarea#contact-message(name="message", required)
                    small.error A Message Is Required
            div.row.send-contact-organizer
                div.medium-4.medium-offset-3.columns
                    a.secondary-btn.send-message(href="javascript:;") Send Message
                div.medium-1.columns.text-center.move-down
                    | or
                div.medium-2.columns.end.move-down
                    a.contact-organizer-close(href="javascript:;") Close
            input(type="hidden", name="profile", value="{{ organizers.0.profile.id }}")
            input(type="hidden", name="event", value="{{ event.id }}")
        div.row.contact-organizer-success
            div.medium-12.columns.text-center.contact-organizer-title
                h3 Message Sent! 
        div.row.contact-organizer-success
            div.medium-4.medium-offset-4
                a.contact-organizer-close.primary-btn(href="javascript:;") Back To Event
    div#add-organizer-modal.reveal-modal.medium(data-reveal)
        div.organizer-model.hide
            div.row.organizer
                div.medium-3.columns.organizer-image &nbsp;
                div.medium-7.columns.organizer-name &nbsp;
                div.medium-2.columns.organizer-submit
                    a.add-organizer-submit.secondary-btn(href="javascript:;") Add
        form.add-organizer-form(name="add-organizer")
            div.row
                div.medium-12.columns.text-center.contact-organizer-title
                    h3 Add Organizer to  
                        span.underline {{ event.name }}
            div.row
                div.medium-3.columns.text-center
                    label.right.inline(for="organizer-name") Organizer
                div.medium-9.columns
                    input#organizer-name(type="text", name="organizer_name", placeholder="Search for Organizer Here")
        div.row.add-organizer-success
            div.medium-12.columns.text-center.add-organizer-title
                h3 Organizer Added!
        div.row.add-organizer-success
            div.medium-4.medium-offset-2.columns
                a.add-organizer-close.primary-btn(href="javascript:;") Back To Event
            div.medium-4.columns.end
                a.add-organizer-another.secondary-btn(href="javascript:;") Add Another
    div#event
        div#event-header(style="{% if design %}position:absolute;{% endif %}")
            div.event-header-body(class="{% if design %}medium-8{% elif preview and editable %}medium-7{% elif preview %}medium-8{% else %}medium-8{% endif %} columns")
                div.profile-icon
                    div.inner
                        a(href="{% url index %}")
                            img(src="{{ STATIC_URL }}images/logo-inverse.png")
                div.event-name 
                    span {{ event.name }}
                {% if not design %}
                {% if preview and editable %}
            div.event-design.medium-1.columns
                a(href="{% url event:index id %}?design") Back to Page Design
                {% endif %}
                {% if not hasEnded %}
            div.event-price.medium-1.columns
                span
                    {% spaceless %}
                    {% if rsvp %}
                    | &nbsp;
                    {% else %}
                    | {% if cheapest != 0 %}${{ cheapest|floatformat:-2 }}{% else %}Free{% endif %}{% if tickets|length != 1 %}+{% endif %}
                    {% endif %}
                    {% endspaceless %}
            div.event-rsvp.medium-2.columns
                a#rsvp-button.primary-btn(href="javascript:;")
                    span.ss-bookmark &nbsp;
                    | RSVP
                {% else %}
            div.event-rsvp.medium-3.columns &nbsp;    
                {% endif %}
            div.event-share.medium-1.columns
                a.share-btn.secondary-btn {% if hasEnded %}Share{% else %}Invite{% endif %}
            div.event-share-canvas.medium-3.small-12.columns.hidden
                div.share-canvas
                    | <span class='st_facebook_large' displayText='Facebook'></span>
                    | <span class='st_twitter_large' displayText='Tweet'></span>
                    | <span class='st_googleplus_large' displayText='Google +'></span>
                    | <span class='st_pinterest_large' displayText='Pinterest'></span>
                    | <span class='st_email_large' displayText='Email'></span>
                    | <span class='close-share ss-delete'></span>
                {% endif %}
                {% if design %}
                {% if not event.is_launched %}
            div.event-launch.medium-2.columns.clearfix
                a.right.primary-btn.launch-btn(href="javascript:;") Launch Event
                {% endif %}
            div.event-launch.medium-2.columns.clearfix.right
                a.back-btn.secondary-btn(href="{% url event:index id %}?preview") Preview Event
                {% endif %}
        div#event-body.row
            div#event-content.medium-8.columns
                div#event-description.row
                    div.description.small-12.columns(style="margin-top:0;")
                        div.inner
                            {{ event.description|safe }}
                    {% if design %}
                    div.actions.small-12.columns
                        div.row.save-container
                            div.save-status.medium-4.columns.text-center
                                | Saved
                            div.medium-4.end.columns
                                a.save.primary-btn(href="javascript:;") Save description
                    {% endif %}
            div#event-sidebar.medium-4.columns
                div.row.event-info
                    div.medium-10.columns
                        div#event-datetime.row
                            div#event-date
                                div.month {{ event.start_time|date:'M' }}
                                div.day {{ event.start_time|date:'j' }}
                            div#event-time.small-12.columns
                                span
                                    | {% spaceless %}
                                    | {% if event.end_time %}
                                    //- Short version
                                    | {% if event.end_time|shouldShortenEndTime:event.start_time %}
                                    div.day-name {{ event.start_time|date:'l' }}
                                    div.time{{ event.start_time|date:'g:iA' }} - {{ event.end_time|date:'g:iA' }}
                                    | {% else %}
                                    //- Long version
                                    | {{ event.start_time|date:'M. jS g:iA' }} to {{ event.end_time|date:'M. jS g:iA' }}
                                    | {% endif %}
                                    | {% else %}
                                    div.day-name {{ event.start_time|date:'l' }}
                                    div.time{{ event.start_time|date:'g:iA' }}
                                    | {% endif %}
                                    | {% endspaceless %}
                        hr
                        div#event-location.row
                            div.location.small-12.columns
                                {{ event.location }}
                            //div.address.small-12.columns.hide
                                span.street-address Street address
                                br
                                span.city-zip City and Zip
                            div.map-canvas.small-12.columns.hide(data-latitude="{{ event.latitude }}", data-longitude="{{ event.longitude }}")
                                div
                                    div#map-canvas
                        div#event-calendar-add.row
                            div.calendar-add.small-12.columns
                                a.addthisevent(href="https://bazaarboy.com/event/{{ event.id }}", title="Add to Calendar")
                                    | Add to Calendar
                                    span._start {{ event.start_time|date:'m-d-Y H:i:s' }}
                                    {% if event.end_time %}
                                    span._end {{ event.end_time|date:'m-d-Y H:i:s' }}
                                    {% else %}
                                    span._end {{ event.start_time|date:'m-d-Y' }} {{ event.start_time|date:'H'|add:'1'}}:{{ event.start_time|date:'i:s' }}
                                    {% endif %}
                                    span._zonecode 11
                                    span._summary {{ event.name }}
                                    span._description {{ event.summary }}
                                    span._location {{ event.location }}
                                    span._organizer {{ organizers.0.profile.name }}
                                    span._organizer_email {{ organizers.0.profile.email }}
                                    span._all_day_event false
                                    span._date_format MM/DD/YYYY
                        hr
                        div#event-organizers.row
                            div.caption.small-12.columns
                                | Organizer{{ organizers|length|pluralize }}
                            div.canvas.small-12.columns.organizer-list
                                {% for organizer in organizers %}
                                div.organizer
                                    div.organizer-icon(style="{% if organizer.profile.image %}background-image:url({{ organizer.profile.image.source.url }});{% endif %}")
                                    div.organizer-name
                                        span {{ organizer.profile.name }}
                                {% endfor %}
                        {% if organizers.0.profile.email and not design %}
                        div.row.contact-organizer
                            div.small-12.columns
                                a.contact-organizer-btn(href="javascript:;") Contact Organizer
                        {% elif design %}
                        div.row.add-organizer
                            div.small-12.columns
                                a.add-organizer-btn(href="javascript:;") Add Organizer
                        {% endif %}
                        div#event-sponsors.row
        div#event-footer
            div.inner.clearfix
                div.poweredby.left
                    | Powered by 
                div.logo.left
                    a(href="{% url index %}", target="_blank")
                        img(src="{{ STATIC_URL }}images/logo-inverse.png")
                div.links.left
                    a(href="{% url index:pricing %}") Pricing
                    | &nbsp;&nbsp;&nbsp;
                    a(href="http://blog.bazaarboy.com") Blog
        div#tickets.hide
            div#tickets-header Ticket Options
            div#tickets-body
                div.inner
                    div.caption Choose Your Tickets
                    div#tickets-canvas
                        {% for ticket in tickets %}
                        div.ticket(class="{% if forloop.last %}last{% endif %} {% if ticket.quantity == 0 %}soldout{% endif %}", data-id="{{ ticket.id }}", data-price="{{ ticket.price }}")
                            div.inner.clearfix
                                div.action
                                    div.wrapper
                                        {% if ticket.quantity != 0 %} 
                                        div.top
                                            input.ticket-selected(type="checkbox")
                                        div.bottom
                                            input.ticket-quantity(type="text", name="quantity", value="0")
                                        {% else %}
                                        div.soldout Sold Out
                                        {% endif %}
                                div.info
                                    div.top.clearfix
                                        div.price.left {% if ticket.price == 0 %}Free{% else %}${{ ticket.price|floatformat:"-2" }}{% endif %}
                                        div.name.right 
                                            div {{ ticket.name }}
                                    div.bottom
                                        {{ ticket.description }}
                        {% endfor %}
                    div.caption Details About You
                    div#tickets-details
                        div.inner.clearfix
                            div.left
                            div.right
                                div.top.clearfix
                                    input.left(type="text", name="first_name", placeholder="First Name")
                                    input.right(type="text", name="last_name", placeholder="Last Name")
                                div.middle
                                    input(type="text", name="email", placeholder="Email")
                                div.bottom
                                    input(type="text", name="phone", placeholder="Phone (Optional)")
            div#tickets-footer
                div#tickets-subtotal
                    | Subtotal | $
                    span.total 0
                    span.fee.hide  + Fee
                    | &nbsp;&middot;&nbsp;
                    span.count 0
                    |  Ticket
                    span.plural s
                a#tickets-confirm.primary-btn(href="javascript:;") Confirm RSVP
        div#wrapper-overlay.hide

append script
    script(type="text/javascript", src="{{ STATIC_URL }}hashchange/jquery.ba-hashchange.min.js")
    script.
        var switchTo5x = true;
    script(type="text/javascript", src="https://ws.sharethis.com/button/buttons.js")
    script.
        stLight.options({
            publisher: "7bffe644-d542-4b4d-affe-420a0175f3c0", 
            doNotHash: false, 
            doNotCopy: false, 
            hashAddressBar: false,
            popup: false
        });
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAasW6vqPCn18g6UMaFWV90qGMSo6pErwo&sensor=false&libraries=places")
    {% if editable %}
    script(type="text/javascript", src="{{ STATIC_URL }}redactor/redactor.min.js")
    {% endif %}
    script(type="text/javascript", src="{{ STATIC_URL }}debounce/jquery.debounce.js")
    script(type="text/javascript", src="{{ STATIC_URL }}addthisevent/atemay.js")
    script(type="text/javascript", src="https://checkout.stripe.com/v2/checkout.js")
    script(type="text/javascript").
        var eventId = {{ event.id }};
        var design = {% if design %}true{% else %}false{% endif %};
    script(type="text/javascript", src="{{ STATIC_URL }}js/event/index.js")