extends ../layout

block sidebar
    +sidebarItem('ss-newspaper')(href="{% url index %}")
        | Events
    +sidebarItem('ss-database')(href="{% url list:index %}")
        | Lists
    +sidebarItem('ss-share')(href="{% url user:settings %}")
        | Settings

block header
    div.header-title.large-9.medium-10.columns.small-centered
        div.row.clearfix
            div.icon.left
                span.ss-mail
            div.text.left
                | {{ invite.event.name }} |
                span.sub &nbsp;Invitation Preview

block content
    div#wrapper-event-invite-preview.large-9.medium-10.columns.small-centered
        div#event-invite-preview.small-12.columns
            div.row
                div.small-12.columns
                    div.email-template
                        iframe#email-preview(src="/event/invite/{{ invite.id }}/preview/template/", width="100%", height="1000", onload="iframeLoaded()")
            div.email-actions.row
                div.small-12.columns(style="padding-left: 0;")
                    div.email-actions
                        div.small-12.medium-6.columns
                            a.blue-btn.send-email(href="javascript:;", data-id="{{ invite.id }}") Send Email
                        div.small-12.medium-6.columns
                            a.blue-btn-inverse(href="{% url event:edit-invite invite.id %}") Edit Email
                    div.email-pricing
                        div.small-12.columns
                            | Cost - {% if cost == 0 %}Free{% else %}${{ cost }}{% endif %}&nbsp;
                            a(href="javascript:;", data-reveal-id="pricing-modal") (Pricing)
            div.row
                hr
                div.email-stats-container.small-12.columns(style="padding-left: 0;")
                    div.email-stats
                        div.small-12.medium-6.columns
                            b {{ sent }} Invites Will Be Sent
                        div.small-12.medium-6.columns
                            | {{ duplicates }} List Duplicates
                    div.email-stats
                        div.small-12.medium-6.columns
                            | {{ alreadyInvited }} Previously Invited
                        div.small-12.medium-6.columns
                            | {{ unsubscribes }} Unsubscribed
    div#pricing-modal.reveal-modal.medium(data-reveal)
        div.row
            div.small-12.medium-6.columns
                ul.pricing-table
                    li.title For-profit Pricing
                    li.price Invites
                    li.bullet-item 1-100 : Free
                    li.bullet-item 101-500 : $5
                    li.bullet-item 501-1000 : $10
                    li.bullet-item 1001-2000 : $15
                    li.bullet-item 2001-10000 : $20
                    li.bullet-item 10001+ : $25
            div.small-12.medium-6.columns
                ul.pricing-table
                    li.title Non-profit Pricing
                    li.price Invites
                    li.bullet-item 1-100 : Free
                    li.bullet-item 101-500 : $3.75
                    li.bullet-item 501-1000 : $7.50
                    li.bullet-item 1001-2000 : $11.25
                    li.bullet-item 2001-10000 : $15
                    li.bullet-item 10001+ : $18.75


append script
    script.
        function iframeLoaded() {
          var iFrameID = document.getElementById('email-preview');
          if(iFrameID) {
            console.log(iFrameID)
            iFrameID.height = "";
            iFrameID.height = iFrameID.contentWindow.document.body.scrollHeight + "px";
          }
        }
    script(type="text/javascript", src="https://checkout.stripe.com/v2/checkout.js")
    script(type="text/javascript", src="https://js.stripe.com/v2/")
    script(src="{{ STATIC_URL }}js/event/invite-preview.js")