extends ../layout

block sidebar
    +sidebarItem('ss-newspaper')(href="javascript:;")(class="events-filter events-filter-summary selected")
        | Events
    +sidebarItem('ss-database')(href="{% url list:index %}")
        | Lists
    +sidebarItem('ss-share')(href="{% url user:settings %}")
        | Settings

block header
    div.header-title.large-9.medium-10.columns.small-centered
        div.row.clearfix
            div.icon.left
                span.ss-mail
            div.text.left
                | {{ event.name }} |
                span.sub &nbsp;Send Invites

block content
    div#wrapper-event-invite.large-9.medium-10.columns.small-centered
        div#event-invite.small-12.columns
            div.row
                div.email.small-12.medium-6.columns
                    input(type="hidden", name="event", value="{{ event.id }}")
                    div.info
                        div.title Email Content
                    div.row.email-content
                        div.small-12.columns.content-image
                            label Email Header Image (optional)
                                input(type="file", name="image_file")
                    div.row.email-content
                        div.small-12.columns.content-message
                            label Message Content
                                textarea(name="message", placeholder="Enter the description of your event here")
                    div.row.email-content
                        div.small-12.columns.content-details
                            label Details
                                textarea(name="details", placeholder="Enter any details here (menu items, parking info, etc.)")
                    div.row.email-content
                        div.small-12.columns.content-submit
                            a.save-invite.blue-btn(href="javascript:;") Save &amp; Preview
                div.lists.small-12.medium-6.columns
                    div.info
                        div.title Choose Invite Lists
                    {% for lt in lists %}
                    div.row.list
                        div.small-12.medium-6.columns.list-name
                            | {{ lt.name }}
                        div.small-12.medium-6.columns.list-quantity.text-right
                            | {{ lt.items }} Members
                    {% endfor %}

append script
    script(src="{{ STATIC_URL }}js/event/invite.js")