extends ../layout

block title
    | Invite Dashboard

block sidebar
    +sidebarItem('ss-newspaper')(href="{% url index %}")
        | Events
    +sidebarItem('ss-database')(href="{% url list:index %}")
        | Lists
    +sidebarItem('ss-share')(href="{% url user:settings %}")
        | Settings

block header
    div.header-title.large-9.medium-10.columns.small-centered
        div.row.clearfix
            div.icon.left
                span.ss-file
            div.text.left
                | Invitation Details |
                span.sub &nbsp;{{ invt.event.name }}

block content
    div#wrapper-invite-details.large-9.medium-10.columns.small-centered
        div#invite-details.small-12.columns
            div.row.graphs
                div.small-12.medium-4.columns
                    div.open-graph.pie-graph
                div.small-12.medium-4.columns
                    div.click-graph.pie-graph
                div.small-12.medium-4.columns
                    div.rsvp-graph.pie-graph
            div.row
                div.small-12.columns.invitations
                    h3.title Recipient List
                    {% if results.count == 0 %}
                    div
                        div.row.invitation
                            div.small-12
                                | Email Data is Being Gathered... Check back in a few minutes!
                    {% endif %}
                    {% for invite in results %}
                    div
                        div.row.invitation
                            div.small-12.medium-6.columns.invitation-name
                                | {{ invite.to }}
                            div.small-12.medium-3.columns.text-right.invitation-details
                                | {{ invite.opens }} Ope{{ invite.opens|pluralize:"n,ns" }}
                            div.small-12.medium-3.columns.text-right.invitation-details
                                | {{ invite.clicks }} Clic{{ invite.clicks|pluralize:"k,ks" }}
                    {% endfor %}

append script
    script(type="text/javascript").
        recipients = {{ invt.recipients }};
        totalOpens = {{ totalOpens }};
        totalClicks = {{ totalClicks }};
        totalRSVPs = {{ totalRSVPs }};
        openPercent = '{{ openPercent }}';
        clickPercent = '{{ clickPercent }}';
        rsvpPercent = '{{ rsvpPercent }}';
    script(src="{{ STATIC_URL }}js/event/invite-details.js")