// Event.Invite

extends ../layout

block title
    | Invite Atendees | {{ event.name }}
block content
    div#event_invite.event_base.content_divided
        div.container
            div.editor
                form.email_form
                    label Include Cover Image&nbsp;
                    input(type="checkbox", name="include_cover", checked)
                    br
                    br
                    textarea(name="message")
                        | Enter the message that you would like to send to your invitees here
            div.template_container
                center
                  table#bodyTable(border='0', cellpadding='0', cellspacing='0', height='100%', width='100%', style='height: 100% !important; width: 100% !important; background: #DEE0E2; margin: 0; padding: 0;', bgcolor='#DEE0E2')
                    tr
                      td(align='center', valign='top', style='padding-bottom: 40px; border-collapse: collapse;')
                        table#templateContainer(border='0', cellpadding='0', cellspacing='0', width='600')
                          tr
                            td(align='center', valign='top', style='border-collapse: collapse;')
                              table#templateHeader(border='0', cellpadding='0', cellspacing='0', width='600', style='border-top-width: 10px; border-top-color: #A6BFC9; border-top-style: solid; background: #F8F8F8;', bgcolor='#F8F8F8')
                                tr
                                  td(align='center', valign='top', style='padding-top: 20px; padding-bottom: 20px; border-collapse: collapse;')
                                    table(border='0', cellpadding='0', cellspacing='0', width='100%')
                                      tr
                                        td.headerContent(mc:edit='header_content', style='border-collapse: collapse; color: #505050; font-family: Helvetica; font-size: 18px; font-weight: bold; line-height: 100%; text-align: left; vertical-align: middle; padding: 20px 40px;', align='left', valign='middle')
                                          h1(style='color: #3F3A38; display: block; font-family: Georgia; font-size: 40px; font-weight: normal; line-height: 100%; letter-spacing: normal; text-align: left; margin: 0 0 10px;', align='left') {{event.name}}
                                          h3(style='color: #ED5E29; display: block; font-family: Georgia; font-size: 16px; font-weight: normal; line-height: 100%; letter-spacing: normal; text-align: left; margin: 0 0 10px;', align='left')
                                            em
                                              | {{ event.start_time|date:"l, M jS, f" }}{{ event.start_time|date:"A"|lower }}
                                              | {% if event.end_time %}
                                              |  - {{ event.end_time|date:"l, M jS, f" }}{{ event.end_time|date:"A"|lower }}
                                              | {% endif %}
                                tr
                                  td.borderBar(background='http://gallery.mailchimp.com/27aac8a65e64c994c4416d6b8/images/diagborder.png', style='border-collapse: collapse; height: 5px !important; background: url(\'http://gallery.mailchimp.com/27aac8a65e64c994c4416d6b8/images/diagborder.png\') repeat top left;')
                                    img(src='http://gallery.mailchimp.com/2425ea8ad3/images/blank.gif', height='5', width='5', style='display: block; height: auto; line-height: 100%; outline: none; text-decoration: none; border: 0;')
                                tr
                                  td(style='border-collapse: collapse;')
                                    {% if event.cover %}
                                    div#cover_image(style='width: 600px; height: 200px; background: url({{ event.cover.source.url }}); background-size: cover;')
                                    {% endif %}
                                tr
                                  td.borderBar(background='http://gallery.mailchimp.com/27aac8a65e64c994c4416d6b8/images/diagborder.png', style='border-collapse: collapse; height: 5px !important; background: url(\'http://gallery.mailchimp.com/27aac8a65e64c994c4416d6b8/images/diagborder.png\') repeat top left;')
                                    img(src='http://gallery.mailchimp.com/2425ea8ad3/images/blank.gif', height='5', width='5', style='display: block; height: auto; line-height: 100%; outline: none; text-decoration: none; border: 0;')
                          tr
                            td(align='center', valign='top', style='border-collapse: collapse;')
                              table#templateBody(border='0', cellpadding='40', cellspacing='0', width='600', style='background: #F8F8F8;', bgcolor='#F8F8F8')
                                tr
                                  td(align='center', valign='top', style='padding-bottom: 20px; border-collapse: collapse;')
                                    table(border='0', cellpadding='0', cellspacing='0', width='100%')
                                      tr
                                        td.bodyContent(valign='top', width='240', mc:edit='body_content00', style='border-collapse: collapse; color: #43404D; font-family: Georgia; font-size: 16px; line-height: 150%; text-align: left;', align='left')
                                          h4(style='color: #3F3A38; display: block; font-family: Georgia; font-size: 12px; font-weight: normal; line-height: 100%; letter-spacing: normal; text-align: left; margin: 0 0 10px;', align='left') VENUE
                                          h2(style='color: #3F3A38; display: block; font-family: Georgia; font-size: 24px; font-weight: normal; line-height: 100%; letter-spacing: normal; text-align: left; margin: 0 0 10px;', align='left') {{event.location}}
                                        td(width='40', style='border-collapse: collapse;')
                                          br
                                        td(valign='top', width='240', style='border-collapse: collapse;')
                                          table.templateButton(border='0', cellpadding='0', cellspacing='0', style='-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background: #ED5E29;', bgcolor='#ED5E29')
                                            tr
                                              td.templateButtonContent(align='center', valign='middle', style='border-collapse: collapse; color: #FFFFFF; font-family: Georgia; font-size: 31px; font-weight: normal; text-align: center; text-decoration: none; padding: 15px 20px;', mc:edit='button_content')
                                                a(href='http://www.mailchimp.com/', target='_blank', style='color: #FFFFFF; font-family: Georgia; font-size: 31px; font-weight: normal; text-align: center; text-decoration: none;')
                                                  em RSVP HERE
                                      tr
                                        td#organizer_message(colspan='3', valign='top', style='padding-top: 40px; border-collapse: collapse; color: #43404D; font-family: Georgia; font-size: 16px; line-height: 150%; text-align: left;', mc:edit='body_content01', align='left')
                                          | Enter the message that you would like to send to your invitees here
                          tr
                            td(align='center', valign='top', style='border-collapse: collapse;')
                              table#templateFooter(border='0', cellpadding='20', cellspacing='0', width='600', style='border-bottom-width: 10px; border-bottom-color: #A6BFC9; border-bottom-style: solid; background: #F8F8F8;', bgcolor='#F8F8F8')
                                tr
                                  td(align='center', valign='top', style='padding-right: 40px; padding-left: 40px; border-collapse: collapse;')
                                    table(border='0', cellpadding='0', cellspacing='0', width='100%')
                                      tr
                                        td.footerContent(valign='top', style='padding-top: 20px; border-collapse: collapse; color: #3F3A38; font-family: Georgia; font-size: 12px; line-height: 150%; text-align: center;', mc:edit='footer_utility', align='center')
                                          a(href='*|UNSUB|*', style='color: #EB4102; font-weight: normal; text-decoration: underline;') unsubscribe from this list
                                          | &nbsp;|&nbsp;
                                          a(href='*|UPDATE_PROFILE|*', style='color: #EB4102; font-weight: normal; text-decoration: underline;') update subscription preferences
            div.clear &nbsp;

append script
    script(type="text/javascript", src="{{ STATIC_URL }}typewatch/typewatch.js")
    script(type="text/javascript", src="{{ STATIC_URL }}js/event/invite.js")
