extends ../layout

append head
    link(rel="stylesheet", href="{{ STATIC_URL }}spectrum/spectrum.css")

block sidebar
    +sidebarItem('ss-newspaper')(href="{% url index %}")
        | Events
    +sidebarItem('ss-database')(href="{% url list:index %}")
        | Lists
    +sidebarItem('ss-share')(href="{% url user:settings %}")
        | Settings

block header
    div.header-title.large-9.medium-10.columns.small-centered
        div.row.clearfix
            div.icon.left
                span.ss-mail
            div.text.left
                | {{ event.name }} |
                span.sub &nbsp;Send Invites

block content
    div#wrapper-event-invite.large-9.medium-10.columns.small-centered
        div#event-invite.small-12.columns
            div.row
                div.small-12.columns.invitation-back
                    a(href="{% url event:invite event.id %}") &lt; Back To Invitations
            div.row
                div.email.small-12.medium-6.columns
                    input(type="hidden", name="event", value="{{ event.id }}")
                    input(type="hidden", name="invite", value="{{ invite.id }}")
                    input(type="hidden", name="image", value="")
                    div.info
                        div.title
                            span Email Content
                    div.row.email-content
                        div.small-12.columns.content-image
                            label Email Header Image (optional)
                                input.hide(type="file", name="image_file")
                                a.upload-image-btn.blue-btn-inverse(href="javascript:;", style="{% if invite.image %}display:none;{% endif %}") Upload Image
                                a.delete-image-btn.blue-btn-inverse(href="javascript:;", style="{% if not invite.image %}display:none;{% endif %}") Delete Image
                    div.row.email-content
                        div.small-12.columns.image-preview(class="{% if not invite.image %}hide{% endif %}")
                            img(src="{% if invite.image %}{{ invite.image.source.url }}{% endif %}")
                    div.row.email-content
                        div.small-12.columns.content-message
                            label Message Content
                                textarea(name="message", placeholder="Enter the description of your event here") {{ invite.message }}
                    div.row.email-content
                        div.small-12.columns.content-details
                            label Details
                                textarea(name="details", placeholder="Enter any details here (menu items, parking info, etc.)") {{ invite.details }}
                    div.row.email-content
                        div.small-12.columns.content-details
                            label RSVP Button Color
                            input(type='color', name='colorpicker', value='{% if invite.color %}{{ invite.color }}{% else %}#FAA638{% endif %}')
                    div.row.email-content
                        div.small-12.columns.content-submit
                            a.save-invite.blue-btn(href="javascript:;") Save &amp; Preview
                div.lists.small-12.medium-6.columns
                    div.info
                        div.title
                            span Choose Invite Lists
                            {% if not lists.count == 0 %}
                            a.new-list-btn(href="javascript:;") &nbsp;&nbsp;(+ New List)
                            {% endif %}
                    {% if lists.count == 0 %}
                    div.no-lists
                        div.info
                            | You must have at least 1 list to send an invitation.
                            br
                            br
                            | Lists can be built from CSV Uploads, Previous Event Attendee Lists and Manual Entry. Try it now, it's easy!
                            br
                            br
                        div.link
                            a.new-list-btn(href="javascript:;") Create New List
                    {% endif %}
                    {% for lt in lists %}
                    {% if lt.items > 0 %}
                    div.row.list(data-id="{{ lt.id }}", class="{% if lt.selected %}active{% endif %}")
                        div.small-12.medium-6.columns.list-name
                            | {{ lt.name }}
                        div.small-12.medium-6.columns.list-quantity.text-right
                            | {{ lt.items }} Members
                    {% endif %}
                    {% endfor %}
    div#new-list-modal.reveal-modal.medium(data-reveal)
        div.row.new-list-title
            div.small-12.columns
                h3 Create List
                    span &nbsp;&nbsp;(Note: All Unsaved Changes to Invite Will Be Lost)
        div.row.new-list-inputs
            div.medium-8.small-12.columns
                input(name="list_name", placeholder="List Name (required)")
            div.small-12.medium-4.columns
                a.create-list.primary-btn(href="javascript:;") + Add New List
        div.row.new-list-cancel
            div.small-12.medium-4.medium-offset-8.columns.text-center
                a.close-list-modal(href="javascript:;") Cancel Adding List

append script
    script(type="text/javascript", src="{{ STATIC_URL }}spectrum/spectrum.js")
    script.
        mediaUrl = "{{ MEDIA_URL }}"
        profileId = {{ profile.id }};
        {% if invite.image %}imgId = "{{ invite.image.id }}"{% endif %}
        {% if invite %}inviteEdit = true{% else %}inviteEdit = false{% endif %}
    script(src="{{ STATIC_URL }}js/event/invite.js")