// Event.Manage

extends ../layout

block title
    | Manage | {{ event.name }}

block sidebar
    +sidebarItem('ss-newspaper')(href="{% url index %}")
        | Events
    //div.checkin_numbers.show-for-large-only
        span.checked_in {{ checked_in }}
        | /
        span.total_guests {{ purchases|length }}
        span.checkin_label &nbsp;Checked In
    form.list_search
        div.guest-search.show-for-large-only
            label Search Guests
            input(type="text", name="guest_name", placeholder="Name")
            input(type="text", name="guest_code", placeholder="Confirmation #")
        div.guest-add-invite.show-for-large-only
            a.start-guest-add(href="javascript:;") Manually Add a Guest
            a.start-guest-invite(href="javascript:;") Invite Guests
        div.ticket-filters-container.show-for-large-only
            label Filter Tickets
            div.ticket_filters
                a.all_tickets.active(href="javascript:;", data-id="all") All Tickets
                {% for k, ticket in ticket_list.items %}
                a(href="javascript:;", data-id="{{ ticket.id }}") {{ ticket.name }}
                {% endfor %}

block header
    div.header-title.large-9.medium-10.columns.small-centered.hide-for-small-only
        div.row.clearfix
            div.text.left
                | RSVP Management | 
                span.sub {{ event.name }}


block content
    div.small-12.columns
        form.mobile-guest-search.show-for-small-only
            div.row
                div.small-12.columns.mobile-guest-input-container
                    input(type="text", name="guest_name", placeholder="Search Name")
            div.row
                div.small-12.columns.mobile-guest-input-container
                    input(type="text", name="guest_code", placeholder="Search Conf. #")
        div#wrapper-event-manage.large-9.medium-10.columns.small-centered
            div#event-manage.small-12.columns
                div.row.add-guest-container.hidden
                    form(name="add-guest")
                        div.medium-12.columns
                            div.row
                                div.small-12.columns
                                    div.add-guest-title Add Guest
                            div.row
                                div.medium-4.small-12.columns
                                    input(type="text", name="first_name", placeholder="First Name")
                                div.medium-4.small-12.columns
                                    input(type="text", name="last_name", placeholder="Last Name")
                                div.medium-4.small-12.columns
                                    input(type="text", name="email", placeholder="Email")
                            div.row
                                div.medium-4.small-12.columns
                                    select(name="ticket")
                                        option(value="-1") - Choose a Ticket -
                                        {% for ticket in tickets %}
                                        option(value="{{ ticket.id }}") {{ ticket.name }}
                                        {% endfor %}
                                div.medium-4.small-12.columns
                                    input(type="text", name="quantity", placeholder="Quantity")
                                div.medium-4.small-12.columns
                                    input.primary-btn(type="submit", name="submit", value="Add Guest(s)")
                div.row
                    div.small-12.columns.guests
                        div.list_guests
                            div.list_headers.row.hide-for-small-only
                                div.checkin.medium-2.columns Status
                                div.confirmation.medium-2.columns Conf. #
                                div.ticket_name.medium-4.columns Ticket Type(s)
                                div.name.medium-2.columns Name
                                div.refund.medium-2.hide-for-small-only.columns
                                    a.show-refunds(href="javascript:;") Refunds?
                            div.guest.guest_template.hidden.row
                                div.checkin.medium-2.columns
                                    a.secondary-btn(href="javascript:;") Check In
                                div.confirmation.medium-2.columns &nbsp;
                                div.ticket_name.medium-4.columns &nbsp;
                                div.name.medium-4.columns &nbsp;
                            {% for k, purchase in purchases.items %}
                            {% with tickets=purchase.tickets.items %}
                            div.guest.row(class="{% if purchase.checked_in %}checked_in{% endif %}", data-ticket="{% for k, ticket in tickets %}{% if not forloop.first %},{% endif %}{{ ticket.id }}{% endfor %}", data-id="{{ purchase.id }}")
                                div.checkin.medium-2.small-12.columns.hide-for-small-only
                                    a.secondary-btn(href="javascript:;") 
                                        {% if purchase.checked_in %}Arrived{% else %}Check In{% endif %}
                                div.confirmation.medium-2.small-6.columns
                                    {{ purchase.code }}&nbsp;
                                div.ticket_name.medium-4.small-6.columns.clearfix
                                    {% for k, ticket in tickets %}
                                    {{ ticket.name }} ({{ ticket.quantity }}){% if not forloop.last %}<br />{% endif %}
                                    {% endfor %}
                                div.spacer.show-for-small-only
                                div.name.medium-4.small-6.columns
                                    {{ purchase.name }}
                                div.refund.medium-2.hide-for-small-only.columns.hide
                                    {% if purchase.refundable %}
                                    a.refund-btn(href="javascript:;", data-purchase="{{ purchase.purchase_id }}") refund
                                    {% else %}
                                    span n/a
                                    {% endif %}
                                div.checkin.small-6.columns.show-for-small-only
                                    a.secondary-btn(href="javascript:;") 
                                        {% if purchase.checked_in %}Arrived{% else %}Check In{% endif %}
                            {% endwith %}
                            {% endfor %}
    div#invite-modal.reveal-modal.medium(data-reveal)
        form.invite-form(name="invite")
            div.row
                div.medium-12.columns.title.text-center Invite Guests
            {% if pastEventList.items.count > 0 %}
            div.row
                div.medium-3.columns
                    label.right.inline Select Previous Attendee Lists To Invite
                div.medium-9.columns
                    {% for k, event in pastEventList.items %}
                    div.row.event-list(data-id="{{ event.id }}")
                        div.medium-12.columns
                            div.event {{ event.name }} ({{ event.quantity }} emails)
                    {% endfor %}
                    div.row.subtext
                        div.medium-12.columns
                            small * duplicate emails will not receive multiple messages
            {% endif %}
            div.row
                div.medium-3.columns.text-center
                    label.right.inline(for="additional-emails") Add Emails
                div.medium-9.columns
                    textarea#additional-emails(name="emails", placeholder="Separated By Commas (x@email.com, y@email.com)")
            div.row.send-invite
                div.medium-4.medium-offset-3.columns
                    a.blue-btn.send-invitation(href="javascript:;") Send Invitations
                div.medium-1.columns.text-center.move-down
                    | or
                div.medium-2.columns.end.move-down
                    a.close-invite-modal(href="javascript:;") Close
        div.invite-success.hidden
            div.row
                div.medium-12.column.text-center.congrats
                    | Congratulations, you just sent&nbsp;
                    span.invite-count &nbsp;
                    | &nbsp;invitations!
                div.medium-12.columns.close
                    a.blue-btn.close-invite-modal Back To List



append script
    script(type="text/javascript").
        var eventId = {{ event.id }};
        var eventUrl = '{{ event|eventUrl }}';
    script(type="text/javascript", src="{{ STATIC_URL }}js/event/manage.js")