// Event.Manage

extends ../layout

block title
    | Manage | {{ event.name }}

block sidebar
    +sidebarItem('ss-newspaper')(href="{% url 'index' %}", class="selected")
        | Events
    +sidebarItem('ss-database')(href="{% url 'list:index' %}")
        | Lists
    +sidebarItem('ss-tag')(href="{% url 'reward:index' %}")
        | Gifts
    form.list_search
        div.guest-search
            label Search Guests
            input(type="text", name="guest_name", placeholder="Name")
            input(type="text", name="guest_code", placeholder="Confirmation #")
        div.guest-add-invite
            {% if isCreator %}
            a.start-guest-add(href="javascript:;") Manually Add a Guest
            {% endif %}
            a(href="{% url 'event:invite' event.id %}") Invite Guests
            a.raffle-btn(href="javascript:;") Generate Random Raffle
        div.ticket-filters-container
            label Filter Tickets
            div.ticket_filters
                a.all_tickets.active(href="javascript:;", data-id="all") All Tickets
                {% for k, ticket in ticket_list.items %}
                a(href="javascript:;", data-id="{{ ticket.id }}") {{ ticket.name }} ({{ ticket.count }})
                {% endfor %}

block header
    div.header-title.large-9.medium-10.columns.small-centered.hide-for-small-only
        div.row.clearfix
            div.text.left
                | RSVP Management | 
                span.sub {{ event.name }}


block content
    div.small-12.columns
        form.mobile-guest-search.show-for-small-only
            div.row
                div.small-12.columns.mobile-guest-input-container
                    input(type="text", name="guest_name", placeholder="Search Name")
            div.row
                div.small-12.columns.mobile-guest-input-container
                    input(type="text", name="guest_code", placeholder="Search Conf. #")
        div#wrapper-event-manage.large-9.medium-10.columns.small-centered
            div#event-manage.small-12.columns
                {% if isCreator %}
                div.row.add-guest-container.hidden
                    form(name="add-guest")
                        div.medium-12.columns
                            div.row
                                div.small-12.columns
                                    div.add-guest-title Add Guest
                            div.row
                                div.medium-8.small-12.columns.add-guest-inputs
                                    div.row
                                        div.medium-6.small-12.columns
                                            input(type="text", name="first_name", placeholder="First Name")
                                        div.medium-6.small-12.columns
                                            input(type="text", name="last_name", placeholder="Last Name")
                                    div.row
                                        div.medium-6.small-12.columns
                                            input(type="text", name="email", placeholder="Email")
                                        div.medium-6.small-12.columns.send-email-input
                                            input#send-email(type="checkbox", name="send_email", checked)
                                            label(for="send-email") Send Confirmation
                                    div.row.custom-fields.custom-fields-container.hide
                                        div.small-12.columns
                                            div.add-guest-title Custom Fields
                                    div.row.custom-fields.hide
                                        div.small-12.columns.custom-fields-inputs
                                            div.row.address-field.hide
                                                div.small-12.medium-6.columns.custom-field-input-label Address
                                                div.small-12.medium-6.end.columns.custom-fields-text-input-container
                                                    input.custom-fields-address-input(type="text")
                                div.medium-4.small-12.columns
                                    div.row
                                        div.small-12.columns
                                            select(name="ticket")
                                                option(value="-1") - Choose a Ticket -
                                                {% for ticket in tickets %}
                                                option(value="{{ ticket.id }}") {{ ticket.name }}
                                                {% endfor %}
                                    div.row
                                        div.small-12.columns
                                            input(type="text", name="quantity", placeholder="Quantity", autocomplete="off")
                                    div.row
                                        div.small-12.columns
                                            input.primary-btn(type="submit", name="submit", value="Add Guest(s)")
                            hr
                {% endif %}
                div.row
                    div.small-12.columns.guests
                        div.list_guests
                            div.list_headers.row.hide-for-small-only
                                div.checkin.medium-2.columns Status
                                div.confirmation.medium-3.columns Name/Code
                                div.ticket_name.medium-3.columns Ticket Type(s)
                                div.name.medium-2.columns 
                                div.refund.medium-2.hide-for-small-only.columns
                                    a.show-refunds(href="javascript:;") Refunds?
                            div.guest.guest_template.hidden.row
                                div.checkin.medium-2.columns
                                    a.secondary-btn(href="javascript:;") Check In
                                div.confirmation.medium-2.columns &nbsp;
                                div.ticket_name.medium-4.columns &nbsp;
                                div.name.medium-4.columns &nbsp;
                            {% for k, purchase in purchases.items %}
                            {% with tickets=purchase.tickets.items %}
                            div.guest.row(class="{% if purchase.checked_in %}checked_in{% endif %}", data-ticket="{% for k, ticket in tickets %}{% if not forloop.first %},{% endif %}{{ ticket.id }}{% endfor %}", data-id="{{ purchase.id }}", data-email="{{ purchase.email }}", data-user="{{ purchase.owner_id }}")
                                div.checkin.medium-2.small-12.columns.hide-for-small-only
                                    a.secondary-btn(href="javascript:;") 
                                        {% if purchase.checked_in %}Arrived{% else %}Check In{% endif %}
                                div.medium-3.small-6.columns
                                    div.name {{ purchase.name }}
                                    div.confirmation {{ purchase.code }}&nbsp;
                                div.ticket_name.medium-3.small-6.columns.clearfix
                                    {% for k, ticket in tickets %}
                                    {{ ticket.name }} ({{ ticket.quantity }}){% if not forloop.last %}<br />{% endif %}
                                    {% endfor %}
                                div.spacer.show-for-small-only
                                div.extra-fields.medium-4.small-6.columns
                                    a.reward-member(href="javascript:;", data-email="{{ purchase.email }}", data-name="{{ purchase.name }}") Send Gift
                                    {% for field, info in purchase.extra_fields.items %}
                                    div.info-item
                                        b {{ field }}:&nbsp;
                                        | {{ info }}
                                    {% endfor %}
                                    | &nbsp;
                                div.refund.medium-2.hide-for-small-only.columns.hide
                                    {% if purchase.refundable %}
                                    a.refund-btn(href="javascript:;", data-purchase="{{ purchase.purchase_id }}") refund
                                    {% else %}
                                    span n/a
                                    {% endif %}
                                div.checkin.small-6.columns.show-for-small-only
                                    a.secondary-btn(href="javascript:;") 
                                        {% if purchase.checked_in %}Arrived{% else %}Check In{% endif %}
                            {% endwith %}
                            {% endfor %}
    
    div#rewards-modal.reveal-modal.medium(data-reveal)
        input(type="hidden", name="reward_email", value="")
        div.row.new-list-title
            div.small-12.columns
                h3 Send a gift to '
                    span.reward-reciever &nbsp;
                    |'
        div.row.message
            div.small-12.columns
                div.row
                    div.small-12.columns
                        textarea(name="message", placeholder="Message for the Gift Recipient")
        div.row.rewards
            div.small-12.columns
                {% for reward in rewards %}
                div.row.reward
                    div.small-12.medium-4.columns 
                        a(href="{{ reward.reward.attachment.source.url }}", target="_blank") {{ reward.reward.name }} (
                            span.quantity {{ reward.quantity }}
                            | &nbsp;left)
                    div.small-12.medium-4.columns.text-right.expiration exp. {{ reward.expiration_time|date:"m/d/Y" }}
                    div.small-12.medium-4.columns.text-right
                        a.send-reward(href="javascript:;", data-id="{{ reward.id }}") Send Gift
                {% endfor %}

    div#raffle-modal.reveal-modal.text-center.medium(data-reveal)
        div.empty-state-container
            div.row
                div.medium-5.columns
                    | &nbsp;
                div.medium-6.columns.end.empty-state-content
                    div.text AND THE WINNER IS...
                    hr
                    div.subtext.subtext-name Example Person
                    div.subtext.subtext-email example@example.com
                    div.row
                        {% if rewards.count > 0 %}
                        div.large-6.medium-6.small-12.columns.to-dash.show-rewards-container
                            a.show-rewards-btn.secondary-btn(href="javascript:;") Send Gift
                        {% endif %}
                        div.large-6.medium-6.small-12.columns.to-dash
                            a.back-to-list.primary-btn(href="javascript:;") Back To List
        div.reward-container.text-left
            input(name="reward_user", value="", type="hidden")
            div.row
                div.small-12.columns
                    div.headline Available Gifts
            {% for reward in rewards %}
            div
                div.row.reward
                    div.small-8.columns.reward-name
                        | {{ reward.reward.name|truncatechars:30 }}
                    div.small-2.columns.text-right.reward-members
                        span.quantity {{ reward.quantity }}
                        | &nbsp;Left
                    div.small-2.columns.text-right.reward-action
                        a.send-reward-btn(href="javascript:;", data-id="{{ reward.id }}") Send
            {% endfor %}
    div#invite-modal.reveal-modal.medium(data-reveal)
        form.invite-form(name="invite")
            div.row
                div.medium-12.columns.title.text-center Invite Guests
            {% if pastEventList.items.count > 0 %}
            div.row
                div.medium-3.columns
                    label.right.inline Select Previous Attendee Lists To Invite
                div.medium-9.columns
                    {% for k, event in pastEventList.items %}
                    div.row.event-list(data-id="{{ event.id }}")
                        div.medium-12.columns
                            div.event {{ event.name }} ({{ event.quantity }} emails)
                    {% endfor %}
                    div.row.subtext
                        div.medium-12.columns
                            small * duplicate emails will not receive multiple messages
            {% endif %}
            div.row
                div.medium-3.columns.text-center
                    label.right.inline(for="additional-emails") Subject
                div.medium-9.columns
                    input#email-subject(type="text", name="subject", placeholder="Email Subject")
            div.row
                div.medium-3.columns.text-center
                    label.right.inline(for="additional-emails") Add Emails
                div.medium-9.columns
                    textarea#additional-emails(name="emails", placeholder="Separated By Commas (x@email.com, y@email.com)")
            div.row
                div.medium-3.columns.text-center
                    label.right.inline(for="additional-emails") Add Message
                div.medium-9.columns
                    textarea#custom-message(name="message", placeholder="Add a custom message to the invitation (optional)")
            div.row.send-invite
                div.medium-4.medium-offset-3.columns
                    a.primary-btn.send-invitation(href="javascript:;") Send Invitations
                div.medium-1.columns.text-center.move-down
                    | or
                div.medium-2.columns.end.move-down
                    a.close-invite-modal(href="javascript:;") Close
        div.invite-success.hidden
            div.row
                div.medium-12.column.text-center.congrats
                    | Congratulations, you just sent&nbsp;
                    span.invite-count &nbsp;
                    | &nbsp;invitations!
                div.medium-12.columns.close
                    a.primary-btn.close-invite-modal Back To List


append script
    script(type="text/javascript").
        var eventId = {{ event.id }};
        var eventUrl = '{{ event|eventUrl }}';
    script(type="text/javascript", src="{{ STATIC_URL }}js/event/manage.js")