// Event.Manage

extends ../layout

block title
    | Manage | {{ event.name }}

block content
    div#event_manage.event_base.content_divided
        div.title
            div.inner
                div.right
                    div.text
                        div.checkin_count
                            div.checkin_numbers 
                                span.checked_in {{ checked_in }}
                                | /
                                span.total_guests {{ purchases|length }}
                            div.checkin_label Checked-In
                div.upper_top
                    a#regular_mode.active(href="javascript:;") RSVP Management
                    a#night_mode.hidden(href="javascript:;") Night Mode
                div.top
                    div.text
                        {{ event.name }}
                div.bottom
                    div.details
                        div.text
                            //- Format the times to form something like this
                            //- Wednesday, Jul 9th, 10pm - 11pm
                            //- or
                            //- Wednesday, Jul 9th, 10am - Thursday, Jul 10th, 11pm
                            | {% spaceless %}
                            | {{ event.start_time|date:"l, M jS, f" }}{{ event.start_time|date:"A"|lower }}
                            | {% if event.end_time %}
                            | {% if event.end_time|shouldShortenEndTime:event.start_time %}
                            |  - {{ event.end_time|date:"f" }}{{ event.end_time|date:"A"|lower }}
                            | {% else %}
                            |  - {{ event.end_time|date:"l, M jS, f" }}{{ event.end_time|date:"A"|lower }}
                            | {% endif %}
                            | {% endif %}
                            | {% if event.location %}
                            | at 
                            b {{ event.location }}
                            | {% endif %}
                            | {% endspaceless %}
                    div.right
                        a(href="{% url event:index event.id %}") View Event Page
            div.clear
        div.list_content
            div.inner
                div.list_guests
                    div.list_headers
                        div.name Name
                        div.ticket_name Ticket
                        div.confirmation Code
                        div.checkin Check In
                        div.clear
                    {% for guest in purchases %}
                    div.guest(class="{% if guest.checked_in_time != None %}checked_in{% endif %}", data-ticket="{{ guest.ticket.id }}", data-id="{{ guest.id }}")
                        div.name
                            {{ guest.owner.full_name }}
                        div.ticket_name
                            {{ guest.ticket.name }}
                        div.confirmation
                            {{ guest.code }}
                        div.checkin
                            a(href="javascript:;") 
                                {% if guest.checked_in_time == None %}Check In{% else %}Arrived{% endif %}
                        div.clear
                    {% endfor %}
                div.list_filters
                    form.list_search
                        input(type="text", name="guest_name", placeholder="Search Guest Name")
                        input(type="text", name="guest_code", placeholder="Search Confirmation #")
                        div.ticket_filter_label Filter Tickets
                        div.ticket_filters
                            a.all_tickets.active(href="javascript:;", data-id="all") All Tickets
                            {% for ticket in tickets %}
                            a(href="javascript:;", data-id="{{ ticket.id }}") {{ ticket.name }}
                            {% endfor %}
                        div.checkin_filter_label Filter Checkin Status
                        div.checkin_filters
                            a.all_checkins.active(href="javascript:;", data-status="all") All RSVPs
                            a(href="javascript:;", data-status="not_checked_in") Not Checked In
                            a(href="javascript:;", data-status="checked_in") Arrived
                    a.add_purchase_start(href="javascript:;") Add A Guest
                    div.add_purchase.hidden
                        div.add_purchase_label Add A Guest
                        form.add_purchase_form
                            input(type="text", name="guest_name", placeholder="Full Name")
                            input(type="text", name="guest_email", placeholder="Email")
                            input(type="text", name="guest_phone", placeholder="Phone (optional)")
                            div.ticket_type_label Choose Ticket Type
                            div.ticket_types
                                {% for ticket in tickets %}
                                a(href="javascript:;", data-id="{{ ticket.id }}") {{ ticket.name }}
                                {% endfor %}
                            a.add_purchase_submit(href="javascript:;") Submit Guest
                div.clear

append script
    script(type="text/javascript", src="{{ STATIC_URL }}js/event/manage.js")
    script(type="text/javascript", src="{{ STATIC_URL }}debounce/jquery.debounce.js")