// Event.Manage

extends ../layout

block title
    | Manage | {{ event.name }}

block sidebar
    +sidebarItem('ss-newspaper')(href="{% url index %}")
        | Events
    //div.checkin_numbers.show-for-large-only
        span.checked_in {{ checked_in }}
        | /
        span.total_guests {{ purchases|length }}
        span.checkin_label &nbsp;Checked In
    form.list_search
        div.guest-search.show-for-large-only
            label Search Guests
            input(type="text", name="guest_name", placeholder="Name")
            input(type="text", name="guest_code", placeholder="Confirmation #")
        div.ticket-filters-container.show-for-large-only
            label Filter Tickets
            div.ticket_filters
                a.all_tickets.active(href="javascript:;", data-id="all") All Tickets
                {% for ticket in tickets %}
                a(href="javascript:;", data-id="{{ ticket.id }}") {{ ticket.name }}
                {% endfor %}

block header
    div.header-title.large-9.medium-10.columns.small-centered
        div.row.clearfix
            div.icon.left
                span.ss-file
            div.text.left
                | RSVP Management | 
                span.sub {{ event.name }}

block content
    div#wrapper-event-manage.large-9.medium-10.columns.small-centered
        div#event-manage.small-12.columns
            div.row
                div.small-12.columns.guests
                    div.list_guests
                        div.list_headers.row
                            div.checkin.small-2.columns Status
                            div.confirmation.small-2.columns Conf. #
                            div.ticket_name.small-4.columns Ticket Type(s)
                            div.name.small-4.columns Name
                        {% for guest in purchases %}
                        {% with purchase=guest.purchase tickets=guest.purchase.items.all %}
                        {% ifchanged purchase.id %}
                        div.guest.row(class="{% if guest.checked_in_time != None %}checked_in{% endif %}", data-ticket="{% for ticket in tickets %}{% ifchanged ticket.id %}{% if not forloop.first %},{% endif %}{{ ticket.id }}{% endifchanged %}{% endfor %}", data-id="{{ guest.id }}")
                            div.checkin.small-2.columns
                                a.secondary-btn(href="javascript:;") 
                                    {% if guest.is_checked_in %}Arrived{% else %}Check In{% endif %}
                            div.confirmation.small-2.columns
                                {{ guest.purchase.code }}&nbsp;
                            div.ticket_name.small-4.columns
                                {% for ticket in tickets %}
                                {% ifchanged ticket.id %}
                                {{ ticket.name }}{% if not forloop.last %}<br />{% endif %}
                                {% endifchanged %}
                                {% endfor %}
                            div.name.small-4.columns
                                {{ purchase.owner.first_name }} {{ purchase.owner.last_name }}
                        {% endifchanged %}
                        {% endwith %}
                        {% endfor %}



append script
    script(type="text/javascript", src="{{ STATIC_URL }}js/event/manage.js")