extends ../layout

append head
    link(rel="stylesheet", href="{{ STATIC_URL }}jQueryUI/jquery-ui.css")
    link(rel="stylesheet", href="{{ STATIC_URL }}pikaday/pikaday.css")

block sidebar
    +sidebarItem('ss-file')(href="{% url event:modify id 'basics' %}")
        | Basic Info
    +sidebarItem('ss-picture')(href="{% url event:modify id 'design' %}")
        | Page Design
    +sidebarItem('ss-tag')(href="{% url event:modify id 'tickets' %}", class="selected")
        | Ticket Options
    +sidebarItem('ss-star')(href="{% url event:modify id 'bonus' %}")
        | Bonus
    +sidebarItem('ss-mail')(href="{% url event:modify id 'emails' %}")
        | Emails

block header
    div.header-title.large-9.medium-10.columns.small-centered
        div.row.clearfix
            div.icon.left
                span.ss-tag
            div.text.left
                | Edit Event | 
                span.sub Ticket Options

block content
    div#wrapper-event-modify.large-9.medium-10.columns.small-centered
        div#event-modify-tickets.small-12.columns
            div#ticket-canvas
            div#add-ticket.row
                div.step-1
                    div.title.small-12.columns
                        div.text First, Choose a Ticket Type
                    div.type.small-12.columns
                        div.clearfix
                            div.left
                                a(href="javascript:;").action-btn.free
                                    div.text.absolute-center Free/RSVP
                            div.right
                                a(href="javascript:;").action-btn.priced
                                    div.text.absolute-center Priced Ticket
                div.step-2.hide
                    div.title.small-12.columns
                        div.text 
                            span.ss-tag
                            | &nbsp;
                            span.type New
                            | &nbsp;Ticket
                        div.change-type.secondary-btn Change Type
                    div.info.small-12.columns
                        form.add-ticket
                            div.row
                                div.small-12.columns
                                    input.field(type="text", name="name", placeholder="Ticket Name")
                            div.row
                                div.price.medium-6.columns
                                    input.field(type="text", name="price", placeholder="Price")
                                    div.dollar-sign $
                                div.quantity.medium-6.columns
                                    input.field(type="text", name="quantity", placeholder="Quantity (leave blank if unlimited)")
                            div.row
                                div.small-12.columns
                                    textarea.field(name="description", placeholder="Ticket description, maximum 250 characters.")
                            div.row
                                div.small-12.columns
                                    p Timing Options (Optional, leave blank if not needed) :
                                div.medium-3.columns
                                    input.field(type="text", name="start_date", placeholder="Start Date")
                                div.medium-3.columns
                                    input.field(type="text", name="start_time", placeholder="Start Time")
                                div.medium-3.columns
                                    input.field(type="text", name="end_date", placeholder="End Date")
                                div.medium-3.columns
                                    input.field(type="text", name="end_time", placeholder="End Time")
                            div.row
                                div.medium-3.medium-centered.small-12.columns
                                    input.primary-btn(type="submit", value="Add")

append script
    script(src="{{ STATIC_URL }}jQueryUI/jquery-ui.min.js")
    script(src="{{ STATIC_URL }}jQueryUI/jquery-ui.autocomplete.html.js")
    script(src="{{ STATIC_URL }}timeautocomplete/jquery.timeAutocomplete.js")
    script(src="{{ STATIC_URL }}timeautocomplete/formatters/ampm.js")
    script(src="{{ STATIC_URL }}pikaday/pikaday.js")
    script(src="{{ STATIC_URL }}pikaday/pikaday.jquery.js")
    script.
        var eventId = {{ event.id }};
    script(src="{{ STATIC_URL }}js/event/modify-tickets.js")