extends ../layout

append head
    link(rel="stylesheet", href="{{ STATIC_URL }}jQueryUI/jquery-ui.css")
    link(rel="stylesheet", href="{{ STATIC_URL }}pikaday/pikaday.css")

block sidebar
    div.launch-event(class="{% if event.is_launched %}launched{% endif %}", data-event-id="{{ event.id }}")
        div.primary-btn.hide-for-medium-only
            | <span class="plus">&nbsp;</span>
            span.launch-text
                {% if event.is_launched %}
                | Take Offline
                {% else %}
                | Launch Event
                {% endif %}
        div.primary-btn.show-for-medium-only
            | <span class="plus">+</span>
    +sidebarItem('ss-file')(href="{% url event:modify id 'basics' %}", class="selected")
        | Basic Info
    +sidebarItem('ss-tag')(href="{% url event:modify id 'tickets' %}")
        | Ticket Options
    +sidebarItem('ss-picture')(href="{% url event:index id %}?design")
        | Page Design
    //-+sidebarItem('ss-star')(href="{% url event:modify id 'bonus' %}")
        | Bonus
    //-+sidebarItem('ss-mail')(href="{% url event:modify id 'emails' %}")
        | Emails
    +sidebarItem('ss-newspaper')(href="{% url index %}")(class="sidebar-separate")
        | Events

block header
    div.header-title.large-9.medium-10.columns.small-centered
        div.row.clearfix
            div.icon.left
                span.ss-file
            div.text.left
                | Edit Event |
                span.sub &nbsp;Modify Basic Event Information

block content
    div#wrapper-event-modify.large-9.medium-10.columns.small-centered
        div#event-modify-basics.small-12.columns
            form.event-modify
                div.row
                    div.name.medium-2.columns 
                        | Name
                    div.medium-10.columns
                        input.field(type="text", name="name", value="{{ event.name }}", placeholder="Event name")
                    div.text.medium-10.medium-offset-2.columns
                        p The name of your event, maximum 150 characters.
                div.row
                    div.name.medium-2.columns
                        | Summary
                    div.medium-10.columns
                        textarea.field(type="text", name="summary", placeholder="Short summary")
                            {{ event.summary }}
                    div.text.medium-10.medium-offset-2.columns
                        p A summary of your event - it will be used for email communications. Maximum 250 characters.
                div.row
                    div.name.medium-2.columns
                        | Start Time
                    div.medium-5.columns
                        input.field(type="text", name="start_date", value="{{ event.start_time|date:'m/d/Y' }}", placeholder="MM/DD/YYYY")
                    div.medium-5.columns
                        input.field(type="text", name="start_time", value="{{ event.start_time|date:'g:i A' }}", placeholder="ex. 6:00 PM")
                    div.text.medium-10.medium-offset-2.columns
                        p The start time of your event (Required)
                div.row
                    div.name.medium-2.columns
                        | End Time
                    div.medium-5.columns
                        input.field(type="text", name="end_date", value="{{ event.end_time|date:'m/d/Y' }}", placeholder="MM/DD/YYYY")
                    div.medium-5.columns
                        input.field(type="text", name="end_time", value="{{ event.end_time|date:'g:i A' }}", placeholder="ex. 7:00 PM")
                    div.text.medium-10.medium-offset-2.columns
                        p The end time of your event (Optional, leave it blank if the event doesn't have a end time)
                div.row
                    div.name.medium-2.columns
                        | Location
                    div.medium-10.columns
                        input.field(type="text", name="location", value="{{ event.location }}", placeholder="Event location")
                    div.text.medium-10.medium-offset-2.columns
                        p The location of your event. If you don't think marker position is accurate, you can also drag the marker to where you desire.
                    div.medium-10.medium-offset-2.columns
                        div#map-canvas
                    div.hide
                        div#map-canvas-hidden
                div.row
                    div.status.medium-3.medium-offset-1.columns
                        | Saved
                    div.medium-4.columns.end
                        input.primary-btn(type="submit", value="Ticket Options >")
                input(type="hidden", name="latitude", value="{{ event.latitude }}")
                input(type="hidden", name="longitude", value="{{ event.longitude }}")

append script
    script(src="{{ STATIC_URL }}jQueryUI/jquery-ui.min.js")
    script(src="{{ STATIC_URL }}jQueryUI/jquery-ui.autocomplete.html.js")
    script(src="{{ STATIC_URL }}timeautocomplete/jquery.timeAutocomplete.js")
    script(src="{{ STATIC_URL }}timeautocomplete/formatters/ampm.js")
    script(src="{{ STATIC_URL }}pikaday/pikaday.js")
    script(src="{{ STATIC_URL }}pikaday/pikaday.jquery.js")
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAasW6vqPCn18g6UMaFWV90qGMSo6pErwo&sensor=false&libraries=places")
    script.
        var eventId = {{ event.id }};
    script(src="{{ STATIC_URL }}js/event/modify.js")
    script(src="{{ STATIC_URL }}js/event/modify-basics.js")

