extends ../layout

block sidebar
    +sidebarItem('ss-file')(href="{% url event:modify id 'basics' %}")
        | Basic Info
    +sidebarItem('ss-picture')(href="{% url event:modify id 'design' %}", class="selected")
        | Page Design
    +sidebarItem('ss-tag')(href="{% url event:modify id 'tickets' %}")
        | Ticket Options
    +sidebarItem('ss-star')(href="{% url event:modify id 'bonus' %}")
        | Bonus
    +sidebarItem('ss-mail')(href="{% url event:modify id 'emails' %}")
        | Emails
    div.launch-event(class="{% if event.is_launched %}launched{% endif %}", data-event-id="{{ event.id }}")
        div.primary-btn.hide-for-medium-only
            | <span class="plus">&nbsp;</span>
            span.launch-text
                {% if event.is_launched %}
                | Take Offline
                {% else %}
                | Publish Event
                {% endif %}
        div.primary-btn.show-for-medium-only
            | <span class="plus">+</span>

block header
    div.header-title.large-9.medium-10.columns.small-centered
        div.row.clearfix
            div.icon.left
                span.ss-picture
            div.text.left
                | Edit Event | 
                span.sub Page Design

block content
    div#wrapper-event-modify.large-9.medium-10.columns.small-centered
        div#event-modify-design.small-12.columns
            iframe(src="{% url event:index event.id %}?design")

append script
    script(src="{{ STATIC_URL }}js/event/modify.js")