extends ../layout

append head
    link(rel="stylesheet", href="{{ STATIC_URL }}jQueryUI/jquery-ui.css")
    link(rel="stylesheet", href="{{ STATIC_URL }}pikaday/pikaday.css")
    link(rel="stylesheet", href="{{ STATIC_URL }}spectrum/spectrum.css")

block sidebar
    div.launch-event(class="{% if event.is_launched %}launched{% endif %}", data-event-id="{{ event.id }}")
        div.btn.secondary-btn.hide-for-medium-only
            | <span class="plus">&nbsp;</span>
            span.launch-text
                {% if event.is_launched %}
                | Take Offline
                {% else %}
                | Launch Event
                {% endif %}
        div.btn.secondary-btn.show-for-medium-only
            | <span class="plus">+</span>
    +sidebarItem('ss-file')(href="{% url event:modify id 'basics' %}", class="selected")
        | Basic Info
    +sidebarItem('ss-tag')(href="{% url event:modify id 'tickets' %}")
        | Ticket Options
    +sidebarItem('ss-picture')(href="{% url event:index id %}?design")
        | Page Design
    +sidebarItem('ss-newspaper')(href="{% url index %}")(class="sidebar-separate")
        | Events
    +sidebarItem('ss-database')(href="{% url list:index %}")
        | Lists

block header
    div.header-title.large-9.medium-10.columns.small-centered
        div.row.clearfix
            div.text.left
                | Edit Event |
                span.sub &nbsp;Modify Basic Event Information

block content
    div#wrapper-event-modify.large-9.medium-10.columns.small-centered
        div#event-modify-basics.small-12.columns
            form.event-modify
                div.row
                    div.small-12.columns.section-header
                        div.number 1
                        div.title Name &amp; Summary
                div.row
                    div.medium-10.medium-offset-2.columns
                        div.input-container
                            div.row
                                div.small-4.columns.input-title Event Name
                                div.small-8.columns.input-note.text-right Maximum 150 Characters
                            input.field(type="text", name="name", value="{{ event.name }}", placeholder="Event Name")
                div.row
                    div.medium-10.medium-offset-2.columns
                        div.input-container
                            div.row
                                div.small-4.columns.input-title Event Summary
                                div.small-8.columns.input-note.text-right Maximum 250 Characters
                            textarea.field(type="text", name="summary", placeholder="Short Summary") {{ event.summary }}
                    div.medium-10.columns
                div.row
                    div.url-shortcut.medium-10.medium-offset-2.columns
                        div.url-prefix https://www.bazaarboy.com/
                        div.input-container
                            div.row
                                div.small-4.columns.input-title URL Shortcut
                                div.small-8.columns.input-note.text-right
                                    span.optional optional - leave blank if desired
                                    span.taken.hide This URL is Taken
                            input.field.url-input(type="text", name="slug", value="{% if event.slug %}{{ event.slug }}{% endif %}", placeholder="my-event")
                div.row
                    div.medium-10.medium-offset-2.columns
                        div.input-container
                            div.row
                                div.small-4.columns.input-title Event Color
                                div.small-8.columns.input-note.text-right very light colors will not work well
                            input.field(type='color', name='colorpicker', value='{{ event.color }}')
                div.row
                    div.small-12.columns.section-header
                        div.number 2
                        div.title Duration
                div.row
                    div.medium-5.medium-offset-2.columns
                        div.input-container
                            div.row
                                div.small-4.columns.input-title Start Date
                                div.small-8.columns.input-note.text-right &nbsp;
                            input.field(type="text", name="start_date", value="{{ event.start_time|date:'m/d/Y' }}", placeholder="MM/DD/YYYY")
                    div.medium-5.columns
                        div.input-container
                            div.row
                                div.small-4.columns.input-title Start Time
                                div.small-8.columns.input-note.text-right &nbsp;
                            input.field(type="text", name="start_time", value="{{ event.start_time|date:'g:i A' }}", placeholder="ex. 6:00 PM")
                div.row
                    div.medium-5.medium-offset-2.columns
                        div.input-container
                            div.row
                                div.small-4.columns.input-title End Date
                                div.small-8.columns.input-note.text-right optional
                            input.field(type="text", name="end_date", value="{{ event.end_time|date:'m/d/Y' }}", placeholder="MM/DD/YYYY")
                    div.medium-5.columns
                        div.input-container
                            div.row
                                div.small-4.columns.input-title End Time
                                div.small-8.columns.input-note.text-right optional
                            input.field(type="text", name="end_time", value="{{ event.end_time|date:'g:i A' }}", placeholder="ex. 7:00 PM")
                div.row
                    div.medium-10.medium-offset-2.columns
                        div.show-tz-container
                            div 
                                a.show-timezone(href='javascript:;') Change Timezone
                                | {% get_current_timezone as tz_name %} - Current: {{ tz_name }}
                        div.tz-select
                            div.row
                                div.small-12
                                    select(name="tz")
                                        {% for choice in tzChoices %}
                                        option(value='{{ choice.0 }}') {{ choice.1 }}
                                        {% endfor %}
                                    div.row
                                        div.small-12.medium-8.columns
                                            small Note: Once saved, all times will appear in your computers timezone.
                                        div.small-12.medium-4.columns.text-right
                                            a.cancel-timezone(href='javascript:;') Cancel, Use My Current Timezone
                div.row
                    div.small-12.columns.section-header
                        div.number 3
                        div.title Location
                div.row
                    div.medium-5.medium-offset-2.columns
                        div.input-container
                            div.row
                                div.small-6.columns.input-title Event Location
                                div.small-6.columns.input-note.text-right 
                            input.field(type="text", name="location", value="{{ event.location }}", placeholder="Event location")
                        span.location-info Make sure to place the marker where you think it's most accurate. You can drag the marker anywhere on the map.
                    div.medium-5.columns
                        div#map-canvas
                    div.hide
                        div#map-canvas-hidden
                hr.end-hr
                div.row
                    div.status.medium-3.text-right.columns
                        | Saved
                    div.medium-5.columns.end
                        input.btn.full-btn.secondary-btn(type="submit", value="Save and Continue")
                input(type="hidden", name="latitude", value="{{ event.latitude }}")
                input(type="hidden", name="longitude", value="{{ event.longitude }}")

append script
    script(src="{{ STATIC_URL }}jQueryUI/jquery-ui.min.js")
    script(src="{{ STATIC_URL }}jQueryUI/jquery-ui.autocomplete.html.js")
    script(src="{{ STATIC_URL }}timeautocomplete/jquery.timeAutocomplete.js")
    script(src="{{ STATIC_URL }}timeautocomplete/formatters/ampm.js")
    script(src="{{ STATIC_URL }}pikaday/pikaday.js")
    script(src="{{ STATIC_URL }}pikaday/pikaday.jquery.js")
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAasW6vqPCn18g6UMaFWV90qGMSo6pErwo&sensor=false&libraries=places")
    script.
        var eventId = {{ event.id }};
        var eventUrl = '{{ event|eventUrl }}';
    script(type="text/javascript", src="{{ STATIC_URL }}spectrum/spectrum.js")
    script(src="{{ STATIC_URL }}js/event/modify.js")
    script(src="{{ STATIC_URL }}js/event/modify-basics.js")

