extends ../layout

append head
    link(rel="stylesheet", href="{{ STATIC_URL }}jQueryUI/jquery-ui.css")
    link(rel="stylesheet", href="{{ STATIC_URL }}pikaday/pikaday.css")

block sidebar
    div.launch-event(class="{% if event.is_launched %}launched{% endif %}", data-event-id="{{ event.id }}")
        div.primary-btn.hide-for-medium-only
            | <span class="plus">&nbsp;</span>
            span.launch-text
                {% if event.is_launched %}
                | Take Offline
                {% else %}
                | Launch Event
                {% endif %}
        div.primary-btn.show-for-medium-only
            | <span class="plus">+</span>
    +sidebarItem('ss-file')(href="{% url event:modify id 'basics' %}")
        | Basic Info
    +sidebarItem('ss-tag')(href="{% url event:modify id 'tickets' %}", class="selected")
        | Ticket Options
    +sidebarItem('ss-picture')(href="{% url event:index id %}?design")
        | Page Design
    //-+sidebarItem('ss-star')(href="{% url event:modify id 'bonus' %}")
        | Bonus
    //-+sidebarItem('ss-mail')(href="{% url event:modify id 'emails' %}")
        | Emails
    +sidebarItem('ss-newspaper')(href="{% url index %}")(class="sidebar-separate")
        | Events

block header
    div.header-title.large-9.medium-10.columns.small-centered
        div.row.clearfix
            div.icon.left
                span.ss-tag
            div.text.left
                | Edit Event | 
                span.sub Ticket Options

block content
    div#wrapper-event-modify.large-9.medium-10.columns.small-centered
        div#event-modify-tickets.small-12.columns
            div#action-canvas.small-12.columns(class="{% if not ticketExists %}hide{% endif %}")
                div.row
                    div.medium-3.columns.new-ticket
                        a.new-ticket.primary-btn(href="javascript:;") + New Ticket
                    div.medium-3.columns.end.hide
                        a.new-promo.primary-btn(href="javascript:;") + New Promo
            div.empty-state-container(class="{% if ticketExists %}hide{% endif %}")
                div.row
                    div.medium-5.columns
                        | &nbsp;
                    div.medium-6.columns.end.empty-state-content
                        div.text ADD EVENT TICKETS
                        hr
                        div.subtext Or add a free RSVP option.
                        div.row
                            div.large-5.medium-7.small-9
                                a.new-ticket.primary-btn(href="javascript:;") + New Ticket
            mixin ticket-option(tags)
                div.ticket-option.row(data-id!= tags ? "{{ ticket.id }}" : "")
                    div.top.small-12.columns
                        div.inner.small-12.columns
                            div.price.medium-2.columns
                                != tags ? '{% if ticket.price == 0 %}Free{% else %}${{ ticket.price|floatformat:2 }}{% endif %}' : ''
                            div.name.medium-7.columns
                                != tags ? '{{ ticket.name }}' : ''
                            div.action.medium-3.columns
                                div.secondary-btn Edit/Delete
                    div.middle.small-12.columns
                        div.inner.small-12.columns
                            div.stats.medium-8.columns
                                span.quantities
                                    span.sold
                                        != tags ? '{{ ticket.sold }}' : ''
                                    span.quantity 
                                        != tags ? '{% if ticket.quantity %}/&nbsp;{{ ticket.quantity|add:ticket.sold }}{% endif %}' : ''
                                    | &nbsp;
                                    span.wording 
                                        != tags ? "{% if ticket.price == 0 %}RSVP'd{% else %}Sold{% endif %}" : ""
                                span.dates
                                    != tags ? "{% if ticket.start_time or ticket.end_time %}&nbsp;|&nbsp;{% if ticket.start_time %}{{ ticket.start_time|date:'n/j/Y' }}{% endif %}{% if ticket.end_time %}- {{ ticket.end_time|date:'n/j/Y' }}{% endif %}{% endif %}" : ""
                            div.action.medium-4.columns
                                a(href="{% url event:manage event.id %}") 
                                    | View&nbsp;
                                    span.wording-object
                                        != tags ? '{% if ticket.price == 0 %}RSVPs{% else %}Ticket Holders{% endif %}' : ''
                    div.bottom.small-12.columns
                        div.inner.small-12.columns
                            div.description.small-12.columns
                                != tags ? '{{ ticket.description }}' : ''
                    div.promos.small-12.columns
                        {% for promo in promos %}
                        {% if promo.ticket.id == ticket.id %}
                        div.promo.small-12.columns(data-code='{{promo.code}}', data-amount='{{promo.amount}}', data-domain='{{promo.email_domain}}')
                            div.small-12.columns
                                div.row.promo-details
                                    div.small-9.columns.text
                                        span.subtitle PROMO&nbsp;&nbsp;&nbsp;&nbsp;
                                        span.amount ${{ promo.amount|floatformat:"-2" }} OFF
                                        span.dot &nbsp;&middot;&nbsp;
                                        span.code {{ promo.code }}
                                        span.pipe &nbsp;|&nbsp;
                                        span.claims {{ promo.purchase_count }} Claimed
                                    div.action.small-3.columns.text-right
                                        a.edit-promo(href="javascript:;", data-id="{{ promo.id }}") Edit/Delete Promo
                        {% endif %}
                        {% endfor %}
                    {% if ticket.price != 0 %}
                    div.add-promos.small-12.columns
                        div.inner.small-12.columns.add-promo-container
                            div.action.medium-3.columns.right
                                a.add-promo.blue-btn(href="javascript:;") Add Promo
                            div.add-promo-fields.hidden
                                form.add-promo(name="add_promo", data-abide)
                                    div.row
                                        div.small-12.columns.title 
                                            span.text Add Promo&nbsp;&nbsp;&nbsp;
                                            span.promo-error &nbsp;
                                        div.small-12.columns
                                            input(name="code", type="text", pattern="alpha_numeric", required, placeholder="Promo Code (Max 20 Characters)")
                                            small.error You Can Only Use Letters and Numbers (Max 20 Characters)
                                        div.small-12.columns
                                            input(name="amount", type="text", pattern="number", required, placeholder="Discount Amount ($)")
                                            small.error Must Be A Number (less than ticket amount)
                                        div.small-12.columns
                                            input(name="email_domain", pattern="domain", type="text", placeholder="Email Domain (ex. mycompany.org, optional)")
                                            small.error Must Be A Domain (gmail.com, yahoo.com, schoolname.edu)
                                        input(name="ticket", type="hidden", value="{{ ticket.id }}")
                                        input(name="id", type="hidden", value="")
                                        div.small-12.medium-6.columns.submit
                                            input.blue-btn(name="submit", type="submit", value="Save Promo")
                                        div.small-12.medium-4.columns.delete.hidden
                                            a.secondary-btn.delete-promo(href="javascript:;") Delete Promo
                                        div.small-12.medium-2.columns.text-center.text.or or
                                        div.small-12.medium-4.columns.text-center.text.cancel
                                            a.cancel-btn(href="javascript:;") cancel
                    {% endif %}
            div#ticket-canvas.small-12.columns
                {% for ticket in tickets %}
                +ticket-option(true)
                {% endfor %}
            mixin promo-option(tags)
                div.promo-option.row
                    div
            div#promo-canvas.small-12.columns.hidden
                +promo-option(false)
                {% for promo in promos %}
                +promo-option(true)
                {% endfor %}
            div.templates.hide
                +ticket-option(false)
                +promo-option(false)
                div.promo.small-12.columns
                    div.small-12.columns
                        div.row.promo-details
                            div.small-9.columns.text
                                span.subtitle PROMO&nbsp;&nbsp;&nbsp;&nbsp;
                                span.amount &nbsp;
                                span.dot &nbsp;&middot;&nbsp;
                                span.code &nbsp;
                                span.pipe &nbsp;|&nbsp;
                                span.claims 0 Claimed
                            div.action.small-3.columns.text-right
                                a.edit-promo(href="javascript:;") Edit/Delete Promo
            div#edit-ticket.small-12.columns.hide
                div.cancel-btn
                    span.ss-delete
                div.step-1
                    div.title.small-12.columns
                        div.text 
                            span.type First, Choose a
                            | &nbsp;Ticket Type
                    div.type.small-12.columns
                        div.clearfix
                            div.left
                                a(href="javascript:;").action-btn.free
                                    div.text.absolute-center Free/RSVP
                            div.right
                                a(href="javascript:;").action-btn.priced
                                    div.text.absolute-center Priced Ticket
                div.step-2.hide
                    div.title.small-12.columns
                        div.text 
                            span.ss-tag
                            | &nbsp;
                            span.type New
                            | &nbsp;Ticket Option
                        div.change-type.secondary-btn Change Type
                    div.info.small-12.columns
                        form.add-ticket
                            div.row
                                div.small-12.columns
                                    input.field(type="text", name="name", placeholder="Ticket Name")
                            div.row
                                div.price.medium-6.columns
                                    input.field(type="text", name="price", placeholder="Price")
                                    div.dollar-sign $
                                div.quantity.medium-6.columns
                                    input.field(type="text", name="quantity", placeholder="Quantity (leave blank if unlimited)")
                            div.row
                                div.small-12.columns
                                    textarea.field(name="description", placeholder="Ticket description, maximum 250 characters.")
                            div.row
                                div.small-12.columns
                                    p Timing Options (Optional, leave blank if not needed) :
                                div.medium-3.columns
                                    input.field(type="text", name="start_date", placeholder="Start Date")
                                div.medium-3.columns
                                    input.field(type="text", name="start_time", placeholder="Start Time")
                                div.medium-3.columns
                                    input.field(type="text", name="end_date", placeholder="End Date")
                                div.medium-3.columns
                                    input.field(type="text", name="end_time", placeholder="End Time")
                            div.row
                                div.medium-3.medium-offset-3.small-12.columns.hide
                                    a.blue-btn(href="javascript:;") Delete
                                div.medium-3.medium-centered.small-12.columns
                                    input.primary-btn(type="submit", value="Add")
            div.next-step
                div.row
                    div.medium-4.medium-centered.columns.end
                        a.primary-btn.right(href="{% url event:index event.id %}?design") Page Design &gt;

append script
    script(src="{{ STATIC_URL }}jQueryUI/jquery-ui.min.js")
    script(src="{{ STATIC_URL }}jQueryUI/jquery-ui.autocomplete.html.js")
    script(src="{{ STATIC_URL }}timeautocomplete/jquery.timeAutocomplete.js")
    script(src="{{ STATIC_URL }}timeautocomplete/formatters/ampm.js")
    script(src="{{ STATIC_URL }}pikaday/pikaday.js")
    script(src="{{ STATIC_URL }}pikaday/pikaday.jquery.js")
    script.
        var eventId = {{ event.id }};
        var eventUrl = '{{ event|eventUrl }}';
    script(src="{{ STATIC_URL }}js/event/modify.js")    
    script(src="{{ STATIC_URL }}js/event/modify-tickets.js")