extends ../layout

block sidebar
    +sidebarItem('ss-file')(href="{% url event:modify id 'basics' %}")
        | Basics
    +sidebarItem('ss-picture')(href="{% url event:modify id 'design' %}")
        | Page design
    +sidebarItem('ss-tag')(href="{% url event:modify id 'tickets' %}")
        | Ticket options
    +sidebarItem('ss-star')(href="{% url event:modify id 'bonus' %}", class="selected")
        | Bonus
    +sidebarItem('ss-mail')(href="{% url event:modify id 'emails' %}")
        | Emails