extends ../layout

block sidebar
    +sidebarItem('ss-file')(href="{% url event:modify id 'basics' %}")
        | Basic Info
    +sidebarItem('ss-picture')(href="{% url event:modify id 'design' %}", class="selected")
        | Page Design
    +sidebarItem('ss-tag')(href="{% url event:modify id 'tickets' %}")
        | Ticket Options
    +sidebarItem('ss-star')(href="{% url event:modify id 'bonus' %}")
        | Bonus
    +sidebarItem('ss-mail')(href="{% url event:modify id 'emails' %}")
        | Emails

block header
    div.header-title.large-9.medium-10.columns.small-centered
        div.row.clearfix
            div.icon.left
                span.ss-picture
            div.text.left
                | Edit Event | 
                span.sub Page Design

block content
    div#wrapper-event-modify.large-9.medium-10.columns.small-centered
        div#event-modify-design.small-12.columns
            iframe(src="{% url event:index event.id %}?design")