packages:
  yum:
    freetype: []
    freetype-devel: []
    libjpeg: []
    libjpeg-devel: []
    libpng: []
    libpng-devel: []

container_commands:
  01_syncdb:
    command: "python Bazaarboy/manage.py syncdb --noinput"
    leader_only: true
  02_collectstatic:
    command: "python Bazaarboy/manage.py collectstatic --noinput"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: Bazaarboy/Bazaarboy/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: Bazaarboy/static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: Bazaarboy.settings
  - option_name: AWS_SECRET_KEY
    value: fIEZadIJ9d6E1/IoVO7uZx+83rtPqDvqNfTTOvtM
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAIWHF22WUOTPUTV6A
  - option_name: BBOY_ENV
    value: staging
  - option_name: BBOY_DEBUG
    value: true
  - option_name: BBOY_HTTPS
    value: true
  - option_name: BBOY_URL_ROOT
    value: https://www.bazaarboy.com
  - option_name: WEPAY_PRODUCTION
    value: true
  - option_name: WEPAY_CLIENT_ID
    value: 33570
  - option_name: WEPAY_CLIENT_SECRET
    value: b60398a1b6
  - option_name: WEPAY_ACCESS_TOKEN
    value: PRODUCTION_a3e6ce20fbaca6f960cfa143ecf869e8c48f3eadadc33933b6ed91d968a5a2e2