container_commands:
  01_syncdb:
    command: "python Bazaarboy/manage.py syncdb --noinput"
    leader_only: true
    
option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: Bazaarboy/Bazaarboy/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: Bazaarboy/static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: Bazaarboy.settings
  - option_name: AWS_SECRET_KEY
    value: fIEZadIJ9d6E1/IoVO7uZx+83rtPqDvqNfTTOvtM
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAIWHF22WUOTPUTV6A