extends layout

block body
    div#designs-dashboard
        div#top
            div.header.row
                div.small-12.medium-4.columns.logo-container
                    a(href="{% url index %}")
                        img.logo(src="{{ STATIC_URL }}images/designs/logo2.png")
                div.small-12.medium-8.columns.links-container.hide-for-small-only
                    a.orange-btn(href="{% url designs:create %}") New Project
                    a(href="mailto:build@bazaarboy.com", target="_blank") Contact
                    a.active(href="{% url designs:index %}") Designs
                    a(href="{% url index:pricing %}") Pricing
        div.row
            div.dashobard-title.small-12.columns
                img(src="{{ STATIC_URL }}images/designs/home-orange.png") 
                | &nbsp;Dashboard
        {% if currentProjects|length > 0 %}
        div.current-projects
            div.row
                div.title.small-12.columns Open Projects:
                div.projects.small-12.columns
                    div.project-headers.row
                        div.small-12.medium-4.columns.project-id
                            div.project-id-shift
                                | Project
                        div.small-12.medium-3.columns.project-date
                            | Date Begun
                        div.small-12.medium-3.columns.project-status
                            | Status
                        div.small-12.medium-2.columns.project-actions
                            | &nbsp;
                    {% for project in currentProjects %}
                    div.project.row
                        div.small-12.medium-4.columns.project-id
                            div.indicator
                                div.indicator-icon(class="{% if project.newSubmissions %}new{% endif %}") &nbsp;
                            | Project &#35;{{ project.id }}&nbsp;-
                            {% for service in project.services.all %}
                            | {{ service.name }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        div.small-12.medium-3.columns.project-date
                            | {{ project.created_time|date:"n-j-Y" }}
                        div.small-12.medium-3.columns.project-status
                            | {{ project.status }}
                        div.small-12.medium-2.columns.project-actions
                            {% if project.hasSubmissions %}
                            a.review-btn.orange-btn(href="{% url designs:review project.id %}") Review
                            {% endif %}
                    {% endfor %}
        {% endif %}
        div.past-projects
            {% for project in pastProjects %}
            div
                {{ project.description }}
            {% endfor %}
        div#footer
            div.row.footer-container
                div.small-12.medium-3.columns.copyright.small-only-text-center
                    | &copy; 2014 Bazaarboy, LLC
                div.small-12.medium-9.hide-for-small-only.columns.footer-links
                    {% if not user %}
                    a.sign-up(href="{% url index:register %}?next=designs") Sign Up
                    a(href="{% url index:login %}?next=designs") Log In
                    {% endif %}
                    a(href="mailto:build@bazaarboy.com") Contact
                    a(href="{% url designs:index %}") Designs
                    a(href="{% url index:pricing %}") Pricing
    

append script
    script(type="text/javascript").
        var loggedIn = {% if user %}true{% else %}false{% endif %};
    script(type="text/javascript", src="{{ STATIC_URL }}designs/js/dashobard.js")