extends layout

block body
    div#designs-review
        div#top
            div.header.row
                div.small-12.medium-4.columns.logo-container
                    a(href="{% url index %}")
                        img.logo(src="{{ STATIC_URL }}images/designs/logo2.png")
                div.small-12.medium-8.columns.links-container.hide-for-small-only
                    a.orange-btn(href="{% url designs:create %}") New Project
                    a(href="mailto:build@bazaarboy.com", target="_blank") Contact
                    a.active(href="{% url designs:index %}") Designs
                    a(href="{% url index:pricing %}") Pricing
        div#content
            div.row.title-container
                div.title.small-12.columns Project Review: &#35;{{ project.id }}
            {% for submission in submissions %}
            div.row.service-title
                    div.small-12.columns
                        div.title {{ submission.service.name }}:
            div.project-info
                div.row
                    div.small-12.columns.project-info-container
                        div.row.uploaded-assets-container
                            div.small-12.columns
                                div.title Uploaded Design(s):
                                div.images.row
                                    {% for asset in submission.images.all %}
                                    {% if asset.is_image %}
                                    div.small-12.medium-3.columns.end
                                        a(href="{{ asset.source.url }}", target="_blank") 
                                            div.image(style="height:150px; width: 100%; background: url({{ asset.source.url }}); background-size: cover;")
                                    {% endif %}
                                    {% endfor %}
                                div.other-assets.row
                                    div.small-12.columns
                                        {% for asset in submission.images.all %}
                                        {% if not asset.is_image %}
                                        a(href="{{ asset.source.url }}", target="_blank") {{ asset.shortName }}
                                        br
                                        {% endif %}
                                        {% endfor %}
                        {% if submission.designer_notes != '' %}
                        div.row.designer-notes
                            div.small-12.columns
                                div.title Notes from the Designer:
                                div.info {{ submission.designer_notes }}
                        {% endif %}
                        div.row.owner-notes
                            div.small-12.medium-8.columns
                                div.title Your Comments:
                                div.owner-notes-input
                                    textarea(name="owner_notes", data-id="{{ submission.id }}") {{ submission.owner_notes }}
            {% endfor %}
        div.payment
            div.row
                div.title.small-12.columns Review:
            div.row
                div.small-12.columns.payment-actions
                    a.submit-btn.orange-btn(href="javascript:;", data-id="{{ project.id }}") Submit Comments
                    div.guarantee or if it looks good:
                    a.finalize-btn.orange-btn(href="javascript:;", data-id="{{ project.id }}") Finalize!

        div#footer
            div.row.footer-container
                div.small-12.medium-3.columns.copyright.small-only-text-center
                    | &copy; 2014 Bazaarboy, LLC
                div.small-12.medium-9.hide-for-small-only.columns.footer-links
                    {% if not user %}
                    a.sign-up(href="{% url index:register %}?next=designs") Sign Up
                    a(href="{% url index:login %}?next=designs") Log In
                    {% endif %}
                    a(href="mailto:build@bazaarboy.com") Contact
                    a(href="{% url designs:index %}") Designs
                    a(href="{% url index:pricing %}") Pricing
    

append script
    script(type="text/javascript").
        var loggedIn = {% if user %}true{% else %}false{% endif %};
    script(type="text/javascript", src="{{ STATIC_URL }}designs/js/review.js")