@import (reference) "vars.less";

div.summary-events{
    div.current-event, div.draft-event, div.past-event{
        margin-top: 10px !important;
    }
}

div.current-event, div.draft-event, div.past-event {
    margin-top: 40px !important;
    margin-bottom: 40px !important;

    > div.tile {
        border-radius: 4px;

        div.header {
            height: 64px;

            div.current-event-collapse, div.draft-event-collapse, div.past-event-collapse {
                height: 64px;

                > div {
                    width: 24px;
                    height: 24px;
                    background: @orange;
                }
            }

            div.current-event-title, div.draft-event-title, div.past-event-title {
                padding: 22px 0;
                padding-left: 20px;
                font-size: 20px;
                font-weight: 500;
                line-height: 20px;
            }

            div.current-event-view, div.draft-event-view, div.past-event-view {
                a {
                    display: block;
                    width: 100%;
                    height: 39px;
                    margin: 12px 0;
                    padding-top: 10px;
                    padding-bottom: 15px;
                    color: @white;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                div.draft-publish{
                    padding-right: 0;
                }
            }
        }

        div.info {
            height: 54px;

            div.inner {
                height: 100%;
                background: @white;
                border-radius: 4px;

                div.current-event-datetime, div.draft-event-datetime, div.past-event-datetime {
                    position: relative;
                    height: 100%;
                    padding: 0;
                    border-right: 2px solid @grey;

                    div.current-event-date, div.draft-event-date, div.past-event-date {
                        position: absolute;
                        width: 38px;
                        height: 38px;
                        top: (54px - 40px) / 2;
                        left: (54px - 40px) / 2;
                        border-radius: 4px;
                        background: rgba(73, 99, 228, 0.50);

                        div.month {
                            width: 100%;
                            height: 10px;
                            margin-top: 3px;
                            color: @white;
                            font-size: 11px;
                            font-weight: 600;
                            text-align: center;
                            text-transform: uppercase;
                            letter-spacing: -1px;
                        }

                        div.day {
                            width: 36px;
                            height: 20px;
                            background: @white;
                            margin: 0 auto;
                            margin-top: 2px;
                            padding: 1px 0;
                            padding-top: 2px;
                            font-size: 18px;
                            font-weight: 700;
                            text-align: center;
                        }
                    }

                    div.current-event-time, div.draft-event-time, div.past-event-time {
                        display: table;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        padding-left: 54px;
                        top: 0;
                        left: 0;
                        font-size: 13px;
                        line-height: 18px;
                        font-weight: 500;

                        span {
                            display: table-cell;
                            vertical-align: middle;
                        }
                    }
                }

                div.current-event-location, div.draft-event-location, div.past-event-location {
                    @height: 13px;
                    height: @height;
                    padding-top: (54px - @height) / 2;
                    padding-bottom: (54px - @height) / 2;
                    font-size: @height;
                    line-height: @height;
                    font-weight: 500;
                }
            }
        }

        div.stats {
            margin-top: 10px;

            @stat-height: 44px * 5 + 2px * 4;

            > div.row {
                height: @stat-height;
                margin-bottom: 15px;

                div.current-event-stats, div.draft-event-stats, div.past-event-stats {
                    position: relative;
                    height: @stat-height;

                    div.bg {
                        position: relative;
                        height: 100%;
                        padding-right: 15px;
                        z-index: 0;

                        > div {
                            height: 100%;
                            border-radius: 4px;
                            background: @white;
                        }
                    }

                    div.inner {
                        position: relative;
                        height: 100%;
                        z-index: 1;
                        top: -@stat-height;

                        > div {
                            width: 100%;
                            height: 100%;

                            div.numbers {
                                height: 100%;
                                padding: 0;
                                border-right: 2px solid @grey;

                                div.title {
                                    color: darken(#D4D4D4, 20%);
                                    font-size: 14px;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                }

                                div.number {
                                    margin-top: 10px;
                                    color: #4A4A4A;
                                    font-size: 26px;
                                    font-weight: 700;
                                }

                                > div {
                                    height: @stat-height / 3;
                                    padding: 5px 10px;
                                    padding-top: 15px;
                                    border-bottom: 2px solid @grey;

                                    &.last {
                                        border-bottom: none;
                                    }
                                }
                            }

                            div.summary{
                                div.summary-title{
                                    color: #D6D6D6;
                                    font-weight: 600;
                                    font-size: .9rem;
                                    margin: 15px 0;
                                }
                                div.summary-text{
                                    color: @dark;
                                    font-weight: 100;
                                    line-height: 1.5rem;
                                    padding-right: 15px;
                                }
                            }

                            div.graph {
                                height: 100%;
                                padding-left: 0;

                                div.graph-frame {
                                    width: 100%;
                                    height: 100%;
                                    padding: 5px 0;

                                    div.graph-canvas {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }
                }

                div.current-event-actions, div.draft-event-actions, div.past-event-actions {
                    padding: 0;
                    border-radius: 4px;
                    background: #FFF;

                    a.current-event-action, a.draft-event-action, a.past-event-action {
                        display: block;
                        position: relative;
                        width: 100%;
                        height: 46px;
                        border-bottom: 2px solid @grey;
                        color: #000;

                        &:hover {
                            background: @green;

                            div.icon {
                                color: @white;
                            }

                            div.text {
                                color: @white;
                            }
                        }

                        &.first {
                            border-top-left-radius: 4px;
                            border-top-right-radius: 4px;
                        }

                        &.last {
                            height: 44px;
                            border-bottom: none;
                            border-bottom-left-radius: 4px;
                            border-bottom-right-radius: 4px;
                        }

                        div.icon {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 44px;
                            height: 44px;
                            padding-top: 13px;
                            padding-bottom: 9px;
                            font-size: 22px;
                            text-align: center;
                            color: @green;
                        }

                        div.text {
                            display: table;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 44px;
                            padding-left: 44px;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 18px;

                            span {
                                display: table-cell;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }

        div.section-title {
            height: 44px;
            margin-bottom: 15px;
            padding: 0;
            border-bottom: 2px solid @white;
            color: @dark;
            font-size: 18px;
            font-weight: 700;
            line-height: 50px;
            text-transform: uppercase;
        }
    }
}

div#wrapper-dashboard{
    div.empty-state-container{
        margin-top: 40px;
        border: #F6F6F6 thin solid;
        border-radius: 4px;
        background: url('../images/emptystates/pizza_bg.jpg');
        background-size: 80%;
        background-position: left center;
        background-repeat: no-repeat;
        div.empty-state-content{
            margin: 80px 0;
            div.text{
                font-size: 1.3rem;
                font-weight: 600;
                color: @dark;
            }
            hr{
                margin: 10px 0;
            }
            div.primary-btn{
                width: 100%;
                margin-top: 20px;
                margin-left: 10px;
                padding-top: 11px;
                padding-bottom: 14px;
                font-size: 15px;
                text-transform: uppercase;
            }
        }
    }
    div.events-overview-title{
        &:first-child{
            margin-top: 40px;
        }
        .title{
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            .pipe{
                color: #9B9B9B;
            }
        }
        a.view-all{
            position: relative;
            top: 2px;
            color: @orange;
            font-size: 13px;
        }
    }
}