@import (reference) "vars.less";

div.current-event {
    margin-top: 40px !important;
    margin-top: 40px !important;

    > div.tile {
        border-radius: 4px;

        div.header {
            height: 64px;
        }
    }
}