@import (reference) "vars.less";

div#landing{
    div.section-1{
        background: url('../images/landing/bg.jpg');
        background-size: cover;
        min-height: 700px;
        padding-bottom: 60px;
        div.header{
            padding-top: 40px;
            @media only screen and (max-width: 40em){
                div.logo-container{
                    text-align: center;
                }
            }
            a.logo{
                img{
                    display: inline;
                    height: 50px;
                    width: 50px;
                }
                div.text{
                    position: relative;
                    top: 5px;
                    display: inline;
                    margin-left: 15px;
                    color: #ff9137;
                    font-size: 26px;
                    font-weight: 600;
                }
            }
            div.links{
                a{
                    float: right;
                    padding-top: 14px;
                    color: @white;
                    margin-left: 20px;
                    font-size: 18px;
                    font-weight: 600;
                }
                a.sign_up{
                    color: #ff9137;
                }
            }
            div.mobile-links{
                a{
                    padding-top: 25px;
                    color: @white;
                    font-size: 18px;
                    font-weight: 600;
                }
                a.sign_up{
                    color: #ff9137;
                }
            }
        }
        div.title{
            text-align: center;
            margin-top: 180px;
            color: @white;
            font-size: 48px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 3.5rem;
        }
        @media only screen and (max-width: 40em){
            div.title{
                margin-top: 100px !important;
            }
        }

        div.hr{
            hr{
                margin: 30px 0;
            }
        }
        div.subtext{
            color: @white;
            text-align: center;
            line-height: 1.75rem;
        }
        div.sign_up{
            margin-top: 60px;
            a{
                display: block;
                background: #ff9137;
                width: 100%;
                padding-top: 10px;
                padding-bottom: 13px;
                border: none;
                -moz-box-shadow: inset 0px -3px 0px 0px #c25f00;
                -webkit-box-shadow: inset 0px -3px 0px 0px #c25f00;
                box-shadow: inset 0px -3px 0px 0px #c25f00;
                text-shadow: 1px 1px 0px #c25f00;
                &:hover{
                    color: #FFF;
                }
            }
        }
    }
    @media only screen and (max-width: 40em){
        div.section-2{
            padding: 75px 0 !important;
        }
    }
    div.section-2{
        color: @white;
        padding: 150px 0;
        background: #ff9137;
        div.content{
            div.title{
                font-size: 36px;
                font-weight: 600;
                text-align: right;
                line-height: 2.5rem;
                .dark{
                    color: @dark;
                }
            }
            @media only screen and (max-width: 40em){
                div.title{
                    text-align: center !important;
                }
            }
            div.subtext{
                margin-top: 30px;
                margin-bottom: 30px;
                text-align: right;
                line-height: 1.5rem;
            }
            @media only screen and (max-width: 40em){
                div.subtext{
                    text-align: center !important;
                }
            }
            img.ticket{
                margin-left: 30px;
                max-height: 250px;
            }
            @media only screen and (max-width: 40em){
                div.ticket-container{
                    text-align: center !important;
                    img.ticket{
                        margin-left: 0px;
                    }
                }
            }
        }
    }
    div.section-3{
        background: @white;
        padding: 100px 0;
        .content{
            div.logo{
                img{
                    max-width: 80%;
                }
            }
            hr{
                color: @dark;
                background: @dark;
                margin: 30px 0;
                border: none;
                height: 2px;
                width: 80%;
            }
            div.quote{
                color: #ff9137;
                font-size: 20px;
                font-weight: bold;
                line-height: 1.7rem;
                margin-bottom: 20px;
            }
            div.subquote{
                margin-bottom: 40px;
            }
            div.event_details{
                margin-bottom: 60px;
                a{
                    background: #ff9137;
                    padding: 10px 20px;
                    padding-bottom: 13px;
                    border: none;
                    -moz-box-shadow: inset 0px -3px 0px 0px #c25f00;
                    -webkit-box-shadow: inset 0px -3px 0px 0px #c25f00;
                    box-shadow: inset 0px -3px 0px 0px #c25f00;
                    text-shadow: none;
                    font-weight: 600;
                    &:hover{
                        color: #FFF;
                    }
                }
            }
        }
    }
    div.section-4{
        color: @white;
        padding: 150px 0;
        background: #01bd8a;
        div.content{
            div.title{
                font-size: 36px;
                font-weight: 600;
                line-height: 2.5rem;
                .dark{
                    color: @dark;
                }
            }
            div.subtext{
                margin-top: 30px;
                margin-bottom: 30px;
                line-height: 1.5rem;
            }
            img.glass{
                float: right;
                max-height: 250px;
            }
        }
    }
}