// Global values

@body_width: 960px;
@sidebar_width: 180px;
@sidebar_width_collapsed: 60px;
@content_width: 780px;
@content_width_expanded: 900px;
@top_height: 45px;
@event_body_width: 680px;
@event_description_width: 440px;

@above_plain_z_index: 5;
@overlay_mask_z_index: 10;
@overlay_z_index: 20;

@top_border_color: #79A69B;
@logo_color: #688F86;
@sidebar_color: #2F4241;
@pale_blue: #F0F5F5;

@font_family_base: Helvetica, Arial, sans-serif;
@font_size_base: 16px;
@font_color_base: #000;

// Mixins

.hidden {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.center {
    display: block;
    margin: auto;
}

// Layout

body {
    font-family: @font_family_base;
    font-size: @font_size_base;
    color: @font_color_base;
}

div#wrapper_top {
    position: relative;
    width: @body_width;
    height: @top_height;
    //z-index: @overlay_z_index;
    border-bottom: 1px solid @top_border_color;
    background-color: #FFF;
    .center;

    div.logo {
        width: @sidebar_width;
        height: @top_height;
        background: @logo_color;
        body.collapsed & {
            width: @sidebar_width_collapsed;
        }
        .left;
    }

    div.search {
        width: @content_width;
        height: @top_height;
        body.collapsed & {
            width: @content_width_expanded;
        }
        .left;
    }
}

div#wrapper_main {
    position: relative;
    width: @body_width;
    background-color: @sidebar_color;
    .center;
}

div#wrapper_sidebar {
    position: relative;
    width: @sidebar_width;
    body.collapsed & {
        width: @sidebar_width_collapsed;
    }
    .left;
}

div#wrapper_content {
    position: relative;
    width: @content_width;
    background-color: #FFF;
    body.collapsed & {
        width: @content_width_expanded;
    }
    .right;
}

div#wrapper_foot {
    position: relative;
    width: @body_width;
    .center;
}

div#wrapper_overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: @overlay_mask_z_index;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

// Event

div#event {
    position: relative;
    width: 100%;
    &.no_cover {
        div.cover {
            height: 0;
        }

        div.details div.description {
            margin-top: -300px;
        }
    }
    &.small_cover {
        div.cover {
            width: @event_body_width;
            height: 62px + 10px + 300px;
        }
    }
    &.big_cover {
        div.cover {
            width: 100%;
            height: 62px + 10px + 300px;
            background: #BBB;
        }
    }

    div.cover {
        position: absolute;
    }

    div.title {
        position: relative;
        width: 100%;
        min-height: 62px;
        z-index: @above_plain_z_index;
        background-color: #CCC;

        div.controls {
            .left;
        }

        div.text {
            .left;
        }
    }

    div.info {
        width: @event_body_width;
        height: 300px;
        background: #CCC;
        .center;
        margin-top: 10px;

        div.right {
            width: @event_body_width - @event_description_width - 20;
            height: 100%;

            > div {
                position: relative;
                z-index: @overlay_z_index;
                background: #FFF;
            }

            div.action {
                height: 100px;
            }

            div.middle {
                height: 100px;
            }

            div.friends {
                height: 100px;
            }
        }
    }

    div.details {
        width: @event_body_width;
        .center;

        div.description {
            width: @event_description_width;
            min-height: 200px;
            .left;
        }

        div.extra {
            .left;
        }
    }

    div.sponsors {
        width: @event_body_width;
        height: 200px;
        background: #CCC;
        .center;
        margin-top: 20px;
    }

    div.others {
        width: @event_body_width;
        height: 200px;
        background: #CCC;
        .center;
        margin-top: 20px;

        div.similar {
            height: 100%;
            .left;
        }

        div.nearby {
            height: 100%;
            .left;
        }

        div.recommendation {
            height: 100%;
            .left;
        }
    }
}

div#rsvp {
    @rsvp_width: @event_description_width - 20;

    display: none;
    position: absolute;
    width: @rsvp_width;
    padding: 10px;
    top: 10px;
    right: @content_width / 2 + @event_body_width / 2 - @event_description_width;
    z-index: @overlay_z_index;
    background-color: @pale_blue;
    body.collapsed & {
        right: @content_width_expanded / 2 + @event_body_width / 2 - @event_description_width;
    }

    &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 10px 0;
        border-color: transparent @pale_blue transparent transparent;
        right: -10px;
        top: 60px;
        -webkit-transform: rotate(180deg);
    }

    > div.divider {
        width: @rsvp_width;
        height: 14px;
        text-align: center;
    }

    div.user {
        width: @rsvp_width;

        div.normal {
            width: @rsvp_width;
            height: 100%;
            background-color: #FFF;

            div.divider {
                width: 1px;
                height: 160px;
                margin: 10px 0;
                background-color: @pale_blue;
                .left;
            }

            div.login {
                width: (@rsvp_width - 1) / 2 - 20;
                height: 160px;
                padding: 10px;
                .left;
            }

            div.register {
                width: (@rsvp_width - 1) / 2 - 20;
                height: 160px;
                padding: 10px;
                .left;
            }
        }
    }

    div.email {
        width: @rsvp_width;
        background-color: #FFF;
    }
}