/* Layout */

@import (reference) "vars.less";

html, body {

    height: 100%;
    color: @dark;
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif; 
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

div#wrapper-top {
    position: relative;
    height: @top-height;
    z-index: 3;
    background: @dark;
}

div#wrapper-sidebar, div#wrapper-main {
    top: 0;
    left: 0;
}

div#wrapper-sidebar {
    position: fixed;
    width: @sidebar-width;
    min-height: 100%;
    z-index: 1;
    background: @darker;

    @media @media_medium {
        width: @sidebar-width-collapsed;
    }

}

div#wrapper-main {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    min-height: 100%;
    padding-left: @sidebar-width;
    z-index: 0;
    background: @white;

    @media @media_small {
        padding-left: 0;
        top: @top-height;
        z-index: 2;
    }

    @media @media_medium {
        padding-left: @sidebar-width-collapsed;
    }
}

/* Sidebar */

div#wrapper-sidebar {
    overflow: hidden;
    div#sidebar-logo {
        margin-bottom: 11px;

        @media @media_medium {
            margin-bottom: 0;
        }

        a {
            display: block;
            width: @sidebar-width - 10px * 2;
            height: @top-height - 10px * 2;
            position: relative;
            top: -5px;

            @media @media_medium {
                width: @sidebar-width-collapsed;
                height: @top-height;
                margin: 0;
                border: none;
            }

            @logo-size: @top-height - 10px * 2 - 3px * 100;

            div.logo {
                position: relative;
                width: @sidebar-width - 10px * 2;
                height: @top-height - 10px * 2;
                img.small-logo{
                    position: relative;
                    left: -2px;
                    top: 3px;
                }
            }

            @text-size: @sidebar-width - 10px * 2 - 3px * 2 - @logo-size + 5px;

            div.text {
                width: @text-size;
                height: 16px;
                margin-left: -5px;
                padding: (@logo-size - 16px) / 2 0;
                color: #F5A623;
                font-size: 16px;
                font-weight: 500;
                line-height: 18px;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }

    div.create-event, div.launch-event {
        padding: 6px 16px;
        padding-top: 0;
        position: relative;
        z-index: 110;

        @media @media_medium {
            padding: 6px 12px;
        }

        div.primary-btn {
            margin-bottom: 20px;
            margin-top: 20px;
            padding-top: 11px;
            padding-bottom: 11px;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;

            @media @media_medium {
                margin-top: 0;
                padding-top: 6px;
                padding-bottom: 9px;
            }

            span.plus {
                font-size: 15px;
                line-height: 12px;
            }
        }
    }
}

a.sidebar-item {
    display: block;
    position: relative;
    width: @sidebar-width;
    height: @sidebar-item-height;
    background: @dark;
    margin-top: 2px;
    margin-bottom: 2px;
    color: @white;

    &.sidebar-separate{
        margin-top: 22px;
    }

    @media @media_medium {
        width: @sidebar-width-collapsed;

        &:hover {
            &.selected:after {
                display: none;
            }

            div.sidebar-item-text {
                display: block;
            }
        }
    }

    &.selected {
        div.sidebar-item-icon {
            color: @white !important;
            .text{
                color: @white;
            }
        }
        div.sidebar-item-text {
            color: @white;
        }
    }

    &.selected:after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        top: (@sidebar-item-height - 24px) / 2;
        right: 0;
        border-style: solid;
        border-width: 12px 12px 12px 0;
        border-color: transparent @white transparent transparent;
        -webkit-transform: rotate(360deg);
    }

    &.sub.selected{
        div.sidebar-item-icon {
            display: block !important;
            div {
                color: @darker;
                background: @white;
            }
        }
        div.sidebar-item-text {
            left: 30px !important;
        }
    }

    &.sub {
        position: relative;
        height: @sidebar-item-height + 2px;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        border-top: 2px solid @dark;
        background: @darker;

        &.first {
            height: @sidebar-item-height;
            border-top: 0;
        }

        @media @media_medium {
            div.sidebar-item-icon {
                color: #FFF;
                display: block !important;
                right: 0 !important;
            }
        }

        div.sidebar-item-icon {
            color: @darker;
            position: absolute;
            right: 10px;
            left: inherit;
            div {
                border-radius: 3px;
                background: #9C9C9C;
                font-weight: 600;
            }
        }

        div.sidebar-item-text {
            background: @darker;
            left: 22px;
        }
        &:hover{
            background: @darker;

            div.sidebar-item-text {
                background: @darker;
                color: @white;
            }

            div.sidebar-item-icon {
                div{
                    background: @white;
                    color: @darker;
                }
            }

            @media @media_medium {
                div.sidebar-item-icon {
                    display: none !important;
                }
            }
        }
    }

    &:hover {

        div.sidebar-item-icon {
            color: @white !important;
        }
        div.sidebar-item-text {
            color: @white;
        }
    }
}

div.sidebar-item-icon {
    color: #A4A4A4;
    position: absolute;
    width: @sidebar-item-height;
    height: @sidebar-item-height;
    line-height: 10px;
    left: 0;

    div {
        width: 20px;
        height: 20px;
        font-size: 21px;
        line-height: 25px;
        text-align: center;

        &.text {
            font-size: 14px;
            line-height: 21px;
            font-weight: 500;
        }
    }
}

div.sidebar-item-text {
    position: absolute;
    width: @sidebar-width - @sidebar-item-height;
    height: @sidebar-item-height;
    top: 0;
    left: @sidebar-item-height - 3;
    background: @dark;
    color: #7A7A7A;
    font-weight: 600;

    @media @media_medium {
        display: none;
    }

    > div{
        width: 100%;
        height: 100%;
        display: table;

        > div {
            display: table-cell;
            font-size: 13px;
            vertical-align: middle;
        }
    }
}

/* Main */

div#main-header {
    width: 100%;
    height: @top-height;
    background: @grey;

    div.header-title {
        div.icon {
            width: 44px;
            height: @top-height;
            padding-top: (@top-height - 26px) / 2 + 3px;
            padding-bottom: (@top-height - 26px) / 2 - 3px;
            color: @orange;
            font-size: 26px;
            text-align: center;
        }

        div.text {
            height: @top-height;
            padding: (@top-height - 18px) / 2 0;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;

            span.sub {
                color: #999;
            }
        }
    }
}

/* Overlay */

div#wrapper-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background: rgba(250, 250, 250, 0.8);
    cursor: pointer;
}