// Grid values

@column_width: 48px;
@column_margin: 12px;
@gutter_width: @column_margin * 2;

// Global values

@body_width: (@column_width + @gutter_width) * 13;
@sidebar_width: 186px;
@sidebar_width_collapsed: @column_width + @column_margin;
@content_width: @body_width - @sidebar_width;
@content_width_expanded: @body_width - @sidebar_width_collapsed;
@event_body_width: @column_width * 8.5 + @gutter_width * 9;
@event_description_width: @column_width * 5.5 + @gutter_width * 6;
@event_sidebar_width: @event_body_width - @event_description_width - @column_width / 2;

@top_height: 44px;
@event_title_height: 48px;

@above_plain_z_index: 5;
@overlay_mask_z_index: 10;
@overlay_z_index: 20;

@bboy_orange: #F7931E;
@event_blue: #4795F2;
@pale_blue: #F0F5F5;

@font_family_base: "pt-sans", Helvetica, Arial, sans-serif;
@font_weight_base: 400;
@font_weight_bold: 700;
@font_style_base: normal;
@font_style_italic: italic;
@font_size_base: 16px;
@font_color_base: #000;

// Mixins

.hidden {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.center {
    display: block;
    margin: auto;
}

// Layout

body {
    font-family: @font_family_base;
    font-weight: @font_weight_base;
    font-style: @font_style_base;
    font-size: @font_size_base;
    color: @font_color_base;
}

b {
    font-weight: @font_weight_bold;
}

i {
    font-style: @font_style_italic;
}

div#wrapper_top {
    position: relative;
    width: @body_width;
    height: @top_height;
    background-color: #FFF;
    .center;

    div.logo {
        width: @sidebar_width;
        height: @top_height;
        background: @bboy_orange;
        body.collapsed & {
            width: @sidebar_width_collapsed;
        }
        .left;
    }

    div.search {
        width: @content_width;
        height: @top_height;
        body.collapsed & {
            width: @content_width_expanded;
        }
        .left;
    }
}

div#wrapper_main {
    position: relative;
    width: @body_width;
    background-color: @pale_blue;
    .center;
}

div#wrapper_sidebar {
    position: relative;
    width: @sidebar_width;
    body.collapsed & {
        width: @sidebar_width_collapsed;
    }
    .left;
}

div#wrapper_content {
    position: relative;
    width: @content_width;
    background-color: #FFF;
    body.collapsed & {
        width: @content_width_expanded;
    }
    .right;
}

div#wrapper_foot {
    position: relative;
    width: @body_width;
    .center;
}

div#wrapper_overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: @overlay_mask_z_index;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

// Event

div#event {
    position: relative;
    width: @event_body_width;
    margin-left: (@content_width - @event_body_width) / 2;
    body.collapsed & {
        margin-left: (@body_width - @event_body_width) / 2 - @sidebar_width_collapsed;
    }
    &.no_cover {
        div.cover {
            height: 0;
        }

        div.description {
            margin-top: 20px;
        }

        div.organizers {
            margin-top: 10px;
        }
    }
    &.small_cover {
        div.cover {
            width: @event_body_width;
        }

        div.description {
            margin-top: 20px;
        }

        div.organizers {
            margin-top: 10px;
        }
    }
    &.big_cover {
        div.cover {
            width: @content_width;
            left: 0 - ((@content_width - @event_body_width) / 2);
            top: 0;
            body.collapsed & {
                width: @content_width_expanded;
                left: 0 - ((@body_width - @event_body_width) / 2 - @sidebar_width_collapsed);
            }

            div.image {
                height: 320px;
            }

            div.caption {
                height: 30px;
            }
        }

        div.description {
            margin-top: 350px - @event_title_height;
        }

        div.organizers {
            margin-top: 44px;
        }
    }

    div.cover {
        position: absolute;
        overflow: hidden;

        div.image {
            background: #CCC;
        }

        div.caption {
            background: #BBB;
        }
    }

    div.title {
        position: absolute;
        width: @content_width;
        height: @event_title_height;
        left: 0 - ((@content_width - @event_body_width) / 2);
        z-index: @above_plain_z_index;
        background-color: rgba(0, 0, 0, 0.6);
        body.collapsed & {
            width: @content_width_expanded;
            left: 0 - ((@body_width - @event_body_width) / 2 - @sidebar_width_collapsed);
        }

        div.controls {
            .left;
        }

        div.text {
            .left;
        }
    }

    div.frame {
        width: @event_body_width;

        div.left {
            width: @event_description_width;

            div.placeholder {
                width: @event_description_width;
                height: @event_title_height;
            }

            div.description {
                width: 100%;
                .left;

                div.editor {
                    width: 100%;

                    &.editable {
                        width: @event_description_width + 22;
                        margin-left: -11px;

                        div.inner {
                            width: @event_description_width;
                            .center;
                        }
                    }

                    div.inner {
                        width: 100%;
                    }

                    img {
                        max-width: @event_description_width;
                    }

                    iframe {
                        max-width: @event_description_width;
                    }
                }
            }
        }

        div.right {
            width: @event_sidebar_width;

            div.action {
                position: relative;
                width: @event_sidebar_width;
                height: 48px;
                margin-top: 88px;
                margin-bottom: 10px;
                z-index: @overlay_z_index;
                background-color: @pale_blue;
                cursor: pointer;

                div.button {
                    width: 140px;
                    height: @font_size_base + 2;
                    padding: (48px - (@font_size_base + 2)) / 2 0;
                    background-color: @event_blue;
                    color: #FFF;
                    line-height: @font_size_base + 2;
                    font-size: @font_size_base + 2;
                    text-align: center;
                    .left;
                }

                div.price {
                    position: relative;
                    width: @event_sidebar_width - 140;
                    height: 100%;
                    .left;

                    &:before {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 10px 10px 10px 0;
                        border-color: transparent @pale_blue transparent transparent;
                        left: -10px;
                        top: 14px;
                    }
                }
            }

            div.info {
                position: relative;
                width: @event_sidebar_width - 20;
                padding: 10px;
                margin-bottom: 10px;
                z-index: @overlay_z_index;
                background-color: @pale_blue;

                div.caption {
                    width: 100%;
                    height: 18px;
                    font-size: @font_size_base - 2;

                    div.text {
                        .left;
                    }
                }
            }

            div.time {
                height: 40px;
            }

            div.friends {
                height: 70px;

                div.caption {
                    div.share {
                        padding: 0 4px;
                        background-color: @bboy_orange;
                        color: #FFF;
                        font-size: @font_size_base - 4;
                        text-transform: uppercase;
                        cursor: pointer;
                        .right;
                    }
                }
            }

            div.organizers {
                
            }
        }
    }

    div.sponsors {
        width: @event_body_width;
        margin-top: 20px;
        background-color: @pale_blue;

        div.caption {
            width: @event_body_width - 20;
            height: 18px;
            padding: 10px;
            font-size: @font_size_base - 2;

            div.text {
                .left;
            }
        }
    }

    div.others {
        width: @event_body_width;
        height: 180px;
        margin: 32px 0;

        div.similar {
            width: (@event_body_width - @gutter_width * 2) / 3;
            height: 100%;
            margin-right: @gutter_width;
            background-color: @pale_blue;
            .left;
        }

        div.nearby {
            height: 100%;
            width: (@event_body_width - @gutter_width * 2) / 3;
            margin-right: @gutter_width;
            background-color: @pale_blue;
            .left;
        }

        div.recommendation {
            height: 100%;
            width: (@event_body_width - @gutter_width * 2) / 3;
            background-color: @pale_blue;
            .left;
        }
    }
}

div#rsvp {
    @rsvp_width: @event_description_width - 20;

    display: none;
    position: absolute;
    width: @rsvp_width;
    padding: 10px;
    top: 10px;
    left: (@content_width - @event_body_width) / 2;
    z-index: @overlay_z_index;
    background-color: @pale_blue;
    body.collapsed & {
        left: (@body_width - @event_body_width) / 2 - @sidebar_width_collapsed;
    }

    &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 10px 0;
        border-color: transparent @pale_blue transparent transparent;
        right: -10px;
        top: 74px;
        -webkit-transform: rotate(180deg);
    }

    > div.divider {
        width: @rsvp_width;
        height: 14px;
        text-align: center;
    }

    div.user {
        width: @rsvp_width;

        div.normal {
            width: @rsvp_width;
            height: 100%;
            background-color: #FFF;

            div.divider {
                width: 1px;
                height: 160px;
                margin: 10px 0;
                background-color: @pale_blue;
                .left;
            }

            div.login {
                width: (@rsvp_width - 1) / 2 - 20;
                height: 160px;
                padding: 10px;
                .left;
            }

            div.register {
                width: (@rsvp_width - 1) / 2 - 20;
                height: 160px;
                padding: 10px;
                .left;
            }
        }
    }

    div.email {
        width: @rsvp_width;
        background-color: #FFF;
    }
}