/* Variables */

/* Colors */

@white: #FFFFFF;
@grey: #F6F6F6;
@dark: #3C3C3C;
@darker: #2E2E2E;

@orange: #FAA638;

/* Sizes */

@top-height: 30px;

/* Styles */

.absolute-center {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.tile {
    background-color: @grey;
}

.action-btn {
    cursor: pointer;
}