/* Variables */

/* Colors */

@white: #FFFFFF;
@dark: #3C3C3C;
@grey: #F6F6F6;

/* Sizes */

@top-height: 30px;

/* Styles */

.tile {
    background-color: @grey;
}

.action-btn {
    cursor: pointer;
}