/* Variables */

/* Media queries */

@media_small: ~"only screen and (max-width: 40em)";
@media_medium: ~"only screen and (min-width: 40.063em) and (max-width: 64em)";
@media_large: ~"only screen and (min-width: 64.063em) and (max-width: 90em)";

/* Colors */

@white: #FFFFFF;
@light-grey: #F6F6F6;
@grey: #D4D4D4;
@dark_grey: #7A7A7A;
@dark: #4A4A4A;
@darker: #3C3C3C;

@orange: #C57724;
@orange-50: #D69E5F;

@light-orange: #F3A536;
@light-orange-50: #FDC758;

@green: #1DBC85;
@blue: #1DBC85;

/* Sizes */

@top-height: 64px;

@sidebar-width: 200px;
@sidebar-width-collapsed: 50px;
@sidebar-item-height: @sidebar-width-collapsed;

/* Reset */

*:focus {
    outline: 0 !important;
}

.pika-single {
    box-sizing: content-box;

    .pika-title {
        button {
            &:hover {
                background-color: transparent;
            }
        }
    }

    table {
        box-sizing: content-box;
        margin-bottom: 0;

        thead {
            background: transparent;
        }

        th {
            padding: 0;

            abbr {
                border-bottom: none;
                font-size: 12px;
                color: inherit;
                cursor: default;
            }
        }

        td {
            padding: 0;
        }
    }
}

ul.ui-autocomplete {
    list-style: none;
    position: absolute !important;
}

div#map-canvas {
    img {
        max-width: inherit;
    }
}

/* Styles */

.hidden{
    display: none;
}

.absolute-center {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.tile {
    background-color: @light-grey;
}

.action-btn {
    cursor: pointer;
}

.field, input[type="text"], input[type="password"], textarea{
    height: auto !important;
    box-shadow: none;
    outline: none;
    border-radius: 3px;
    border-color: @grey;
    color: @dark;
    line-height: 20px;
    font-weight: 300;
    font-size: 14px;
    transition: all .125s !important;
    &:focus{
        border-color: @orange !important;
    }
    &:focus::-webkit-input-placeholder {
        color: @orange;
    }
}

.headline{
    font-size: 18px;
    font-weight: bold;
}

h3{
    .headline;
    margin-bottom: 15px;
}

.btn{
    display: block;
    text-align: center;
    border-radius: 3px;
    padding: 12px 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all .125s;
}

.full-btn{
    width: 100% !important;
}

.primary-btn{
    background: @orange;
    color: @white;
    border: @orange thin solid;
    .btn;
    &:hover, &:focus{
        color: @white;
        background: @orange-50;
        border-color: @orange-50 !important;
    }
}

.primary-btn-inverse{
    background: @white;
    color: @orange;
    border: @orange thin solid;
    .btn;
    &:hover, &:focus{
        color: @orange-50;
        border-color: @orange-50 !important;
    }
}

.secondary-btn{
    background: @light-orange;
    color: @white;
    border: @light-orange thin solid;
    .btn;
    &:hover, &:focus{
        color: @white;
        background: @light-orange-50;
        border-color: @light-orange-50 !important;
    }
}

.secondary-btn-inverse{
    background: @white;
    color: @light-orange;
    border: @light-orange thin solid;
    .btn;
    &:hover, &:focus{
        color: @light-orange-50;
        border-color: @light-orange-50 !important;
    }
}

.disabled-btn{
    background: @orange;
    color: @white;
    .btn;
    &:hover, &:focus{
        color: @white;
        background: @orange-50;
    }
}

.tiny-btn-group{
    > div:first-child{
        a{
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            border-right: none;
        }
    }
    > div:last-child{
        a{
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            border-left: none;
        }
    }
    .tiny-btn{
        font-size: 12px;
        padding: 8px 6px;
        border-radius: 0;
    }
}

input[type="text"]{
    &:focus{
        background: @white !important;
    }
}

textarea {
    resize: none;
    &:focus{
        background: @white !important;
    }
}