// Profile

extends ../layout

block title
    | {{ profile.name }}

block body
    div#profile
        div#profile-container
            div.profile-header
                div.row.header-top
                    div.small-12.medium-6.columns
                        a(href="{% url index %}")
                            img(src="{{ STATIC_URL }}images/profile-logo.png")
                    div.small-12.medium-6.columns.text-right
                        div.row
                            div.small-12.medium-4.medium-offset-8.large-offset-9.large-3.columns
                                a.secondary-btn.full-btn(href="javascript:;") Learn More
                div.row.header-bottom
                    div.small-12.medium-8.columns
                        div.profile-name {{ profile.name }}
                    div.small-12.medium-4.columns
                        div.subscribe-container
                            input(type="text", name="email", placeholder="Email Address")
            div.profile-body
                div.row.body-top
                    div.small-12.columns
                        div.profile-description {{ profile.description }}
                div.row.body-bottom
                    div.small-12.medium-4.columns
                        div.business-info
                            div.row
                                div.small-12.columns
                                    div.profile-logo
                                        img(src="{{ profile.image.source.url }}")
                            div.row
                                div.small-12.columns.text-center
                                    div.title Contact
                                    div.info e: {{ profile.email }}
                                    div.info p: {{ profile.phone }}
                    div.small-12.medium-8.columns


append script
    script(type="text/javascript", src="{{ STATIC_URL }}js/profile/index.js")