// Profile

extends ../layout

block title
    | {{ profile.name }}

block body
    div#profile
        div#profile-header
            div.profile-header-body.medium-12.columns
                div.profile-icon
                    div.inner
                        a(href="{% url index %}")
                            img(src="{{ STATIC_URL }}images/logo-inverse.png")
        div#profile-body.row
            div.profile-top.medium-8.medium-offset-2.small-12.columns
                div.row
                    {% if profile.image %}
                    div.profile-image.medium-3.small-12.columns
                        img(src="{{ profile.image.source.url }}")
                    {% endif %}
                    div.profile-title-description.small-12.columns(class="{% if profile.image %}medium-9{% else %}medium-12{% endif %}")
                        div.profile-title {{ profile.name }}
                        div.profile-description {{ profile.description }}
            div.profile-content.medium-12.small-12.columns
                div.row
                    div.profile-left.small-12.medium-4.columns
                        div.profile-location.row
                            div.location.small-12.columns
                                {{ profile.location }}
                            div.map-canvas.small-12.columns.hide(data-latitude="{{ profile.latitude }}", data-longitude="{{ profile.longitude }}")
                                div
                                    div#map-canvas
                                {% if profile.latitude and profile.longitude %}
                                a.directions(href="https://maps.google.com/?saddr={{ profile.latitude }},{{ profile.longitude }}", target="_blank") Get Directions
                                {% endif %}
                        hr
                        div.profile-contact
                            div.title CONTACT INFO
                            {% if profile.email %}
                            div.email
                                b e
                                | &nbsp;&nbsp;{{ profile.email }}
                            {% endif %}
                            {% if profile.phone %}
                            div.phone
                                b p
                                | &nbsp;&nbsp;{{ profile.phone }}
                            {% endif %}
                            {% if profile.link_website %}
                            div.website
                                b w
                                | &nbsp;&nbsp;{{ profile.link_website}}
                            {% endif %}
                            {% if profile.link_facebook %}
                            div.facebook
                                b f
                                | &nbsp;&nbsp;{{ profile.link_facebook }}
                            {% endif %}
                    div.profile-right.small-12.medium-8.columns.end
                        | Right
        div#profile-footer
            div.inner.clearfix
                div.poweredby.left
                    | Powered by 
                div.logo.left
                    a(href="{% url index %}", target="_blank")
                        img(src="{{ STATIC_URL }}images/logo-inverse.png")
                div.links.left
                    a(href="{% url index:pricing %}") Pricing
                    | &nbsp;&nbsp;&nbsp;
                    a(href="http://blog.bazaarboy.com") Blog

append script
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAasW6vqPCn18g6UMaFWV90qGMSo6pErwo&sensor=false&libraries=places")
    script(type="text/javascript").
        var profileId = {{ profile.id }};
        var editable = {% if manager %}true{% else %}false{% endif %};
    script(type="text/javascript", src="{{ STATIC_URL }}js/profile/index.js")