// Profile

extends ../layout

block title
    | {{ profile.name }}

append head
    {% if manager %}
    link(rel="stylesheet", href="{{ STATIC_URL }}jQueryUI/jquery-ui.css")
    link(rel="stylesheet", href="{{ STATIC_URL }}redactor/redactor.css")
    {% endif %}

block content
    div#profile.content_divided
        div.title
            div.text
                {{ profile.name }}
            div.button Edit
            div.editor.hidden
                input(type="text", name="name", placeholder="Profile name", value="{{ profile.name }}", spellcheck="false")
            div.clear
        div.cover.hidden
            div.image
                div.bounds
                    {% if profile.cover %}
                    img.normal(src="{{ profile.cover.source.url }}")
                    {% endif %}
            div.caption
            {% if manager %}
            div.controls
                span.hidden Drag the image to position you think fit. 
                a.edit(href="javascript:;") 
                    | {% if profile.cover %}Edit Cover{% else %}Add Cover{% endif %}
                a.delete(href="javascript:;", class="{% if not profile.cover %}hidden{% endif %}") 
                    | Delete
                a.hidden.save(href="javascript:;") Save
                a.hidden.cancel(href="javascript:;") Cancel
                form.upload_cover
                    input.hidden(type="file", name="image_file")
                    {% csrf_token %}
            {% endif %}
        div.tabs
            div.tab.overview.show Overview
            div.tab.events Events
            div.tab.sponsorships Sponsorships
            div.clear
        div.frame
            div.left
                div.tagline
                div.wrapper
                    div.overview.show
                        div.info
                        div.description
                            div.editor
                                div.inner
                                    {{ profile.description|safe }}
                            {% if manager %}
                            div.controls
                                a.save(href="javascript:;") Save
                                a.edit(href="javascript:;") Edit
                            {% endif %}
                    div.events
                    div.sponsorships
            div.right
                div.logo
                    div.image
                        {% if profile.image %}
                        img(src="{{ profile.image.source.url }}")
                        {% endif %}
                    div.controls
                        a.upload(href="javascript:;") Upload
                        a.delete(href="javascript:;") Delete
                        a.save.hidden(href="javascript:;") Save
                        a.cancel.hidden(href="javascript:;") Cancel
                        div.clear
                        form.upload_logo
                            input.hidden(type="file", name="image_file")
                            {% csrf_token %}
                div.social
                div.summary
                div.categories
            div.clear

append script
    script(type="text/javascript", src="{{ STATIC_URL }}jQueryUI/jquery-ui.min.js")
    script(type="text/javascript", src="{{ STATIC_URL }}redactor/redactor.min.js")
    script(type="text/javascript").
        var profileId = {{ profile.id }};
        var editable = {% if manager %}true{% else %}false{% endif %};
    script(type="text/javascript", src="{{ STATIC_URL }}js/profile/index.js")