// Profile

extends ../layout

block title
    | {{ profile.name }}

block body
    div#profile
        div#profile-header
            div.profile-header-body.medium-12.columns
                div.profile-icon
                    div.inner
                        a(href="{% url index %}")
                            img(src="{{ STATIC_URL }}images/logo-inverse.png")
        div#profile-body.row
            div.profile-top.medium-8.medium-offset-2.small-12.columns
                div.row
                    {% if profile.image %}
                    div.profile-image.medium-3.small-12.columns
                        img(src="{{ profile.image.source.url }}")
                    {% endif %}
                    div.profile-title-description.small-12.columns(class="{% if profile.image %}medium-9{% else %}medium-12{% endif %}")
                        div.profile-title {{ profile.name }}
                        div.profile-description {{ profile.description }}
            div.profile-content.medium-12.small-12.columns
                div.row
                    div.profile-left.small-12.medium-4.columns
                        div.profile-location.row
                            div.location-title.small-12.columns
                                | LOCATION
                            div.location.small-12.columns
                                {{ profile.location }}
                            div.map-canvas.small-12.columns.hide(data-latitude="{{ profile.latitude }}", data-longitude="{{ profile.longitude }}")
                                div
                                    div#map-canvas
                                {% if profile.latitude and profile.longitude %}
                                a.directions(href="https://maps.google.com/?saddr={{ profile.latitude }},{{ profile.longitude }}", target="_blank") Get Directions
                                {% endif %}
                        hr
                        div.profile-contact
                            div.title CONTACT INFO
                            {% if profile.email %}
                            div.email
                                b e
                                | &nbsp;&nbsp;{{ profile.email }}
                            {% endif %}
                            {% if profile.phone %}
                            div.phone
                                b p
                                | &nbsp;&nbsp;{{ profile.phone|phoneDisplay|safe }}
                            {% endif %}
                            {% if profile.link_website %}
                            div.website
                                b w
                                | &nbsp;&nbsp;
                                a(href="{{ profile.link_website }}", target="_blank") {{ profile.link_website}}
                            {% endif %}
                            {% if profile.link_facebook %}
                            div.facebook
                                b f
                                | &nbsp;&nbsp;
                                a(href="{{ profile.link_facebook }}", target="_blank") {{ profile.link_facebook|facebookProfile }}
                            {% endif %}
                    div.profile-right.small-12.medium-8.columns.end
                        div.row
                            div.profile-events-title.small-12.columns
                                | EVENTS
                        {% if currentEvents.count > 0 and pastEvents.count > 0 %}
                        div.row
                            div.medium-4.small-6.columns
                                a.event-filter-btn.active(href="javascript:;", data-type="current") Upcoming
                            div.medium-4.small-6.columns.end
                                a.event-filter-btn(href="javascript:;", data-type="past") Past
                        {% endif %}
                        {% if currentEvents.count > 0 %}
                        {% for event in currentEvents %}
                        a.current-event(href="{{ event|eventUrl }}")
                            div.row.event
                                div.medium-2.small-4.columns.event-date-container
                                    div.event-date
                                        div.month {{ event.start_time|date:'M' }}
                                        div.day {{ event.start_time|date:'j' }}
                                div.event-name.medium-10.small-8.columns
                                    | {{ event.name }}
                        {% endfor %}
                        {% endif %}
                        {% if pastEvents.count > 0 %}
                        {% for event in pastEvents %}
                        a.past-event(href="{{ event|eventUrl }}", class="{% if currentEvents.count > 0 %}hide{% endif %}")
                            div.row.event
                                div.medium-2.small-4.columns.event-date-container
                                    div.event-date
                                        div.month {{ event.start_time|date:'M' }}
                                        div.day {{ event.start_time|date:'j' }}
                                div.event-name.medium-10.small-8.columns
                                    | {{ event.name }}
                        {% endfor %}
                        {% endif %}

        div#profile-footer
            div.inner.clearfix
                div.poweredby.left
                    | Powered by 
                div.logo.left
                    a(href="{% url index %}", target="_blank")
                        img(src="{{ STATIC_URL }}images/logo-inverse.png")
                div.links.left
                    a(href="{% url index:pricing %}") Pricing
                    | &nbsp;&nbsp;&nbsp;
                    a(href="http://blog.bazaarboy.com") Blog

append script
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAasW6vqPCn18g6UMaFWV90qGMSo6pErwo&sensor=false&libraries=places")
    script(type="text/javascript").
        var profileId = {{ profile.id }};
        var editable = {% if manager %}true{% else %}false{% endif %};
    script(type="text/javascript", src="{{ STATIC_URL }}js/profile/index.js")