// Manage Profiles

extends ../layout

block content
    div#profile_manage
        h2 Create
        form.create(enctype="multipart/form-data")
            input(type="text", name="name", placeholder="Profile Name")
            textarea(name="description", placeholder="Description")
            input(type="file", name="image")
            input(type="text", name="community", placeholder="Community")
            input(type="text", name="category", placeholder="Category")
            input(type="text", name="latitude", placeholder="Latitude")
            input(type="text", name="longitude", placeholder="Longitude")
            input(type="submit", value="Create")

append script
    script(type="text/javascript", src="{{ STATIC_URL }}js/profile/manage.js")