extends ../layout

append head
    link(rel="stylesheet", href="{{ STATIC_URL }}jQueryUI/jquery-ui.css")

block sidebar
    +sidebarItem()
        | Create Profile

block header
    div.header-title.large-9.medium-10.columns.small-centered
        div.row.clearfix
            div.icon.left
                span.ss-newspaper
            div.text.left
                | Profile | 
                span.sub Create Your New Profile

block content
    div#wrapper-profile-new.medium-9.columns.small-centered
        form.profile-new(data-abide)
            div.row
                div.small-8.small-offset-2.columns.profile-new-container
                    div.row.title
                        div.small-12.columns
                            | New Profile
                            span.subtitle &nbsp;&nbsp;|&nbsp;&nbsp;
                                span.step-title Basic Information
                    hr.separator
                    div.row.profile-steps
                        div.small-3.columns.profile-step-btn.profile-step-btn-1
                            a.active(href="javascript:;", data-id="1") &nbsp;
                        div.small-3.columns.profile-step-btn.profile-step-btn-2
                            a(href="javascript:;", data-id="2") &nbsp;
                        div.small-3.columns.profile-step-btn.profile-step-btn-3
                            a(href="javascript:;", data-id="3") &nbsp;
                        div.small-3.columns.profile-step-btn.profile-step-btn-4
                            a(href="javascript:;", data-id="4") &nbsp;
                    div.row.profile-step.profile-step-1.active(data-id="1", data-title="Basic Information")
                        div.small-12.columns
                            input(name="name", type="text", placeholder="Profile Name", required)
                            small.error Profile Name is required
                        div.small-12.columns
                            input(name="email", type="email", placeholder="Profile Email", value="{{ user.email }}", required)
                            small.error Valid Email Address is required
                        div.small-12.columns
                            textarea(name="description", placeholder="Profile Description", required)
                            small.error Profile Description is required
                        div.small-12.columns
                            input(type="tel", name="phone", placeholder="Phone Number (Optional)")
                            small.error Only Use Numbers (0-9)
                    div.row.profile-step.profile-step-2(data-id="2", data-title="Location")
                        div.small-12.columns
                            input(name="location", type="text", name="location", placeholder="Your Location (Required)", required)
                            small.error Profile Location is required (even if not found on map)
                            input(name="latitude", type="hidden", value="")
                            input(name="longitude", type="hidden", value="")
                        div.small-12.columns
                            div#map-canvas
                        div.hide
                            div#map-canvas-hidden
                    div.row.profile-step.profile-step-3(data-id="3", data-title="Details")
                        div.small-12.columns
                            input(type="text", name="link_website", placeholder="Link To Your Website (optional)")
                        div.small-12.columns
                            input(type="text", name="link_facebook", placeholder="Link To Your Facebook Page (optional)")
                        div.small-12.columns
                            input(id="nonprofit", name="is_non_profit", type="checkbox")
                            label(for="nonprofit") Are you a Non-Profit Organization
                        div.small-12.columns.hide.ein
                            input(type="text", name="EIN", placeholder="Employee Indentification Number (required)")
                        hr
                        div.small-12.columns
                            div.row.logo
                                div.medium-4.columns
                                    div.logo_controls
                                        div.title Profile Logo
                                        a.secondary-btn.upload(href="javascript:;") Upload
                                        a.secondary-btn.cancel.hide.last(href="javascript:;") Cancel
                                div.medium-8.columns
                                    div.logo_image
                                        div.logo_preview_text logo will appear here
                        hr
                    div.row.profile-step.profile-step-4(data-title="Confirm")
                        div.small-12.columns
                            div.confirm_text.text-center
                                | Are you planning on hosting events with paid tickets?
                                br
                                br
                                | If so, register on Stripe so we can deposit money into your account.
                                br
                                br
                                br
                                a.stripe_connect(href="{{ stripeConnectUrl|safe }}")
                                    img(src="{{ STATIC_URL }}images/stripe_blue.png")
                                br
                                br
                                br
                    div.row.next-prev
                        div.small-6.columns
                            div.row
                                div.small-6.columns
                                    a.grey-btn.prev-btn.hide(data-id="4", href="javascript:;") PREV
                        div.small-6.columns
                            div.row
                                div.small-6.small-offset-6.columns
                                    a.primary-btn.next-btn(href="javascript:;") NEXT
                                div.small-10.small-offset-2.columns
                                    a.secondary-btn.finish-btn.hide(href="javascript:;") SKIP THIS STEP
        form.upload_logo.hide
                input(type="file", name="image_file")
                {% csrf_token %}


            

append script
    script(src="{{ STATIC_URL }}jQueryUI/jquery-ui.min.js")
    script(src="{{ STATIC_URL }}jQueryUI/jquery-ui.autocomplete.html.js")
    script(src="{{ STATIC_URL }}jQueryUI/jquery-ui.autocomplete.html.js")
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAasW6vqPCn18g6UMaFWV90qGMSo6pErwo&sensor=false&libraries=places")
    script(src="{{ STATIC_URL }}js/profile/new.js")
    script.
        $(document).foundation()