extends layout

append head
    link(rel="stylesheet", href="{{ STATIC_URL }}jQueryUI/jquery-ui.css")

block content
    div#admin-dashboard
        div.row.login-profile
            div.small-12.columns
                div.row
                    div.small-12.columns
                        h3 Login As Profile (Django {{ djangoVer }} Python {{ pythonVer }})
                div.row
                    div.small-12.columns
                        input(type="text", name="profile_name", placeholder="Profile Name")
        hr
        div.row.current-events.events
            div.small-12.columns
                div.row
                    div.small-12.medium-3.columns
                        h3 Live Events
                    div.small-12.medium-9.columns
                        div.row
                            div.small-12.medium-2.columns.text-right
                                label(style="padding-top:0.625rem;") Sort By:
                            div.small-12.medium-10.columns
                                ul.button-group.round.even-3.event-filters
                                    li
                                        a.sort-btn.button.tiny.active(href="javascript:;", data-sort="date") Date
                                    li
                                        a.sort-btn.button.tiny(href="javascript:;", data-sort="rsvps") RSVPs
                                    li
                                        a.sort-btn.button.tiny(href="javascript:;", data-sort="revenue") Revenue
                div.row
                    div.small-12.columns.event-list
                        {% for event in live_events %}
                        div.row.event(data-date="{{ event.start_time|date:'U' }}", data-rsvps="{{ event.totalRSVP }}", data-revenue="{{ event.totalRevenue }}")
                            div.small-12.hide-for-small-only.medium-1.columns
                                {% if event.organizers.all.0.image %}
                                a.admin-login(href="javascript:;", data-id="{{ event.organizers.all.0.id }}")
                                    div.image(style="background:url({{ event.organizers.all.0.image.source.url }}); background-size:contain; background-position:center;")
                                {% else %}
                                | &nbsp;
                                {% endif %}
                            div.small-12.medium-5.columns.text
                                strong {{ event.name }}
                            div.small-12.medium-2.columns.text
                                {{ event.start_time|standardTime }}
                            div.small-12.medium-2.columns.text
                                div.rsvp-count {{ event.totalRSVP }} RSVP{{ event.totalRSVP|pluralize }}
                                div ${{ event.totalRevenue|floatformat:"-2" }}
                            div.small-12.medium-2.columns.action
                                a.primary-btn-inverse.full-btn(href="{{ event|eventUrl }}", target="_blank") View
                        {% endfor %}



append script
    script(type="text/javascript", src="{{ STATIC_URL }}jQueryUI/jquery-ui.min.js")
    script(type="text/javascript", src="{{ STATIC_URL }}jQueryUI/jquery-ui.autocomplete.html.js")
    script(type="text/javascript", src="{{ STATIC_URL }}spectrum/spectrum.js")
    script(type="text/javascript", src="{{ STATIC_URL }}tinysort/tinysort.min.js")
    script(type="text/javascript", src="{{ STATIC_URL }}admin/js/index.js")