extends layout

prepend top
    div.welcome 
        | Hello, 
        b {{ admin.name }}
append top
    div.logout
        a(href="{% url admin:logout %}") Logout

block main
    div.summary.box
        div.icon
            img(src="{{ STATIC_URL }}admin/fui/images/icons/Infinity-Loop@2x.png")
        div.specs
            h1.finances
                | Total Sales: ${{ stats.total_sale }} | Total RSVPs: {{ stats.sale_count }}
        div.clear
    div.summary.box
        div.icon
            img(src="{{ STATIC_URL }}admin/fui/images/icons/Pensils@2x.png")
        div.specs.profile_login
            div.input_container
                h3.profile_login_title Login as Profile
                form.profile_login
                    input(type="text", name="profile_name", placeholder="Profile Name")
            div.profile_choices
                {% for profile in profiles %}
                a(href="javascript:;") {{ profile.name }}
                {% endfor %}
        div.clear