extends layout

prepend top
    div.welcome 
        | Hello, 
        b {{ admin.name }}
append top
    div.logout
        a(href="{% url admin:logout %}") Logout

block main
    div.summary.box
        div.icon
            img(src="{{ STATIC_URL }}admin/fui/images/icons/Pensils@2x.png")
        div.specs.profile_login
            div.input_container
                h3.profile_login_title Login as Profile
                form.profile_login
                    input(type="text", name="profile_name", placeholder="Profile Name")
            div.profile_choices
                {% for profile in profiles %}
                a.hidden(href="javascript:;", data-id="{{ profile.id }}") {{ profile.name }}
                {% endfor %}
        div.clear
    div.summary.box
        div.icon
            img(src="{{ STATIC_URL }}admin/fui/images/icons/Calendar@2x.png")
        div.specs
            table.upcoming
                {% for event in upcoming_events %}
                {% if forloop.counter0|divisibleby:"4" %}
                tr
                {% endif %}
                td
                    {{ event.name }}
                {% endfor %}
    div.summary.box
        div.icon
            img(src="{{ STATIC_URL }}admin/fui/images/icons/Calendar@2x.png")
        div.specs
            table.past
                {% for event in past_events %}
                {% if forloop.counter0|divisibleby:"4" %}
                tr
                {% endif %}
                td
                    {{ event.name }}
                {% endfor %}
    div.summary.box.hidden
        div.icon
            img(src="{{ STATIC_URL }}admin/fui/images/icons/Infinity-Loop@2x.png")
        div.specs
            div.finances
                div Total Sales: ${{ total_stats.total_sale }}
                div Monthly Sales: ${{ monthly_stats.total_sale }}
                div Weekly Sales: ${{ weekly_stats.total_sale }}
                div Daily Sales: ${{ daily_stats.total_sale }}
            div.clear &nbsp;
            div.finances
                div Total RSVPs: {{ total_stats.sale_count }}
                div Monthly RSVPs: {{ monthly_stats.sale_count }}
                div Weekly RSVPs: {{ weekly_stats.sale_count }}
                div Daily RSVPs: {{ daily_stats.sale_count }}
        div.clear

append script
    script(type="text/javascript", src="{{ STATIC_URL }}admin/js/index.js")