extends layout

append script
    script(type="text/javascript", src="{{ STATIC_URL }}admin/js/login.js")

block content
    div#admin-login
        div.login-form
            form(name="login")
                div.row
                    div.small-12.columns.medium-6.medium-centered.columns
                        div.row
                            div.small-12.columns
                                h3 Bazaarboy Admin | Login
                        div.row
                            div.small-12.columns
                                input(type="text", name="name", placeholder="Username")
                        div.row
                            div.small-12.columns
                                input(type="password", name="password", placeholder="Password")
                        div.row
                            div.small-12.columns
                                a.login-btn.primary-btn.full-btn(href="javascript:;") Login