// Index

extends ../layout

block sidebar
    div.create-event(data-profile-id="{{ profiles.0.id }}")
        div.primary-btn.hide-for-medium-only
            | <span class="plus">+</span> Create Event
        div.primary-btn.show-for-medium-only
            | <span class="plus">+</span>
    +sidebarItem('ss-newspaper')(class="selected")
        | Events
    +sidebarItemSub('{{ currentEventsCount }}')(class="first")
        | Current Events
    +sidebarItemSub('{{ draftEventsCount }}')
        | Event Drafts
    +sidebarItemSub('{{ pastEventsCount }}')
        | Past Events
    +sidebarItem('ss-database')
        | Lists
    +sidebarItem('ss-share')
        | Settings

block header
    div.header-title.large-9.medium-10.columns.small-centered
        div.row.clearfix
            div.icon.left
                span.ss-newspaper
            div.text.left
                | Events | 
                span.sub Current Events
    
block content
    mixin currentEvent()
        div.current-event.row(data-id="{{ event.id }}", data-launched-time="{{ event.launched_time|date:'Y-m-d H:i:s' }}")
            div.small-12.columns.tile
                div.header.row
                    div.current-event-collapse.large-1.medium-1.columns.action-btn
                        div.absolute-center
                    div.current-event-title.large-8.medium-7.columns
                        | {{ event.name }}
                    div.current-event-view.large-3.medium-4.columns
                        div.row
                            div.medium-10.medium-offset-2.columns
                                a.secondary-btn(href="{% url event:index event.id %}?preview") 
                                    | View Event
                div.info.small-12.columns
                    div.inner.row
                        div.current-event-datetime.small-3.columns
                            div.current-event-date
                                div.month {{ event.start_time|date:'M' }}
                                div.day {{ event.start_time|date:'j' }}
                            div.current-event-time
                                span
                                    {{ event.start_time|date:'g:iA' }}{% if event.end_time %}-{{ event.end_time|date:'g:iA' }}{% endif %}
                        div.current-event-location.small-9.columns
                            | {{ event.location }}
                div.stats.small-12.columns
                    div.row
                        div.current-event-stats.medium-9.columns
                            div.bg.row
                                div
                            div.inner.row
                                div
                                    div.numbers.medium-4.columns
                                        div.count
                                            div.title
                                                | RSVPs
                                            div.number
                                                {{ event.rsvpCount }}{% if event.potentialQuantity %}/{{ event.potentialQuantity }}{% endif %}
                                        div.sales
                                            div.title
                                                | Revenue
                                            div.number
                                                | ${{ event.totalSale }}
                                        div.sales-potential
                                            div.title
                                                | Potential Rev.
                                            div.number
                                                | ${{ event.potentialSale }}
                                    div.graph.medium-8.columns
                                        div.graph-frame
                                            div.graph-canvas
                        div.current-event-actions.medium-3.columns
                            a.current-event-action.first(href="{% url event:modify event.id 'basics' %}")
                                div.icon
                                    span.ss-info
                                div.text
                                    span Edit Event
                            a.current-event-action(href="{% url event:modify event.id 'design' %}")
                                div.icon
                                    span.ss-picture
                                div.text
                                    span Page Design
                            a.current-event-action(href="{% url event:modify event.id 'tickets' %}")
                                div.icon
                                    span.ss-creditcard
                                div.text
                                    span Ticket Options
                            a.current-event-action(href="{% url event:modify event.id 'bonus' %}")
                                div.icon
                                    span.ss-box
                                div.text
                                    span Bonus
                            a.current-event-action.last(href="{% url event:modify event.id 'emails' %}")
                                div.icon
                                    span.ss-mail
                                div.text
                                    span Emails
                div
                    div.section-title.medium-12.columns
                        | Communications
                    div.current-event-add-communication
                div
                    div.current-event-communication-stat.medium-6.columns
                    div.medium-6.columns
                div
                    div.section-title.medium-12.columns
                        | Bonus
    div#wrapper-dashboard.large-9.medium-10.columns.small-centered
        {% for event in currentEvents %}
        +currentEvent()
        {% endfor %}

append script
    script(src="{{ STATIC_URL }}js/index/index.js")