// Index

extends ../layout

block sidebar
    div.create-event(data-profile-id="{{ profiles.0.id }}")
        div.primary-btn.hide-for-medium-only
            | <span class="plus">+</span> Create Event
        div.primary-btn.show-for-medium-only
            | <span class="plus">+</span>
    +sidebarItem('ss-newspaper')(class="selected")
        | Events
    +sidebarItemSub('{{ currentEventsCount }}')(class="first")
        | Current Events
    +sidebarItemSub('{{ draftEventsCount }}')
        | Event Drafts
    +sidebarItemSub('{{ pastEventsCount }}')
        | Past Events
    +sidebarItem('ss-database')
        | Lists
    +sidebarItem('ss-share')
        | Settings
    
block content
    mixin currentEvent()
        div.current-event.row
            div.small-12.columns.tile
                div.header
                    div.current-event-collapse.large-1.medium-1.columns
                        span.ss-navigateup
                    div.current-event-title.large-9.medium-8.columns
                        | {{ event.name }}
                    div.current-event-view.large-2.medium-3.columns
                        a.secondary-btn(href="{% url event:index event.id %}?preview") 
                            | View Event
                div
                    div.current-event-stats.medium-8.columns
                        div.medium-4.columns
                        div.medium-8.columns
                    div.current-event-actions.medium-4.columns
                        div.current-event-action.clearfix
                            div.left
                                | Icon
                            div.left
                                | Edit/Add Features
                        div.current-event-action.clearfix
                            div.left
                                | Icon
                            div.left
                                | Basic Information
                        div.current-event-action.clearfix
                            div.left
                                | Icon
                            div.left
                                | Design
                        div.current-event-action.clearfix
                            div.left
                                | Icon
                            div.left
                                | Ticket Options
                        div.current-event-action.clearfix
                            div.left
                                | Icon
                            div.left
                                | Bonuses
                div
                    div.medium-12.columns
                        | Communications
                    div.current-event-add-communication
                div
                    div.current-event-communication-stat.medium-6.columns
                    div.medium-6.columns
                div
                    div.medium-12.columns
                        | Bonus
    div.page-header.tile
        div.icon.ss-newpaper
    div#wrapper-dashboard.medium-9.columns.small-centered
        {% for event in currentEvents %}
        +currentEvent()
        {% endfor %}

append script
    script(src="{{ STATIC_URL }}js/index/index.js")