// Index

extends ../layout

block sidebar
    div.sidebar-item.row.action-btn.create-event(data-profile-id="{{ profile.0.id }}")
        | Create Event
    +sidebarItem()(class="action-btn")
        | Events
    +sidebarItem('sub')(class="action-btn")
        | Current Events
    +sidebarItem('sub')(class="action-btn")
        | Past Events
    +sidebarItem('sub')(class="action-btn")
        | Event Drafts
    +sidebarItem()(class="action-btn")
        | Lists
    +sidebarItem()(class="action-btn")
        | Account Settings
    +sidebarItem()(class="action-btn")
        a(href="{% url user:logout %}") Log Out
    
block content
    mixin currentEvent()
        div.current-event.row
            div.medium-12.columns.tile
                div
                    div.current-event-date
                    div.current-event-title
                        | {{ event.name }}
                    div.current-event-view
                    div.current-event-collapse.end
                div
                    div.current-event-stats.medium-8.columns
                        div.medium-4.columns
                        div.medium-8.columns
                    div.current-event-actions.medium-4.columns
                        div.current-event-action.clearfix
                            div.left
                                | Icon
                            div.left
                                | Edit/Add Features
                        div.current-event-action.clearfix
                            div.left
                                | Icon
                            div.left
                                | Basic Information
                        div.current-event-action.clearfix
                            div.left
                                | Icon
                            div.left
                                | Design
                        div.current-event-action.clearfix
                            div.left
                                | Icon
                            div.left
                                | Ticket Options
                        div.current-event-action.clearfix
                            div.left
                                | Icon
                            div.left
                                | Bonuses
                div
                    div.medium-12.columns
                        | Communications
                    div.current-event-add-communication
                div
                    div.current-event-communication-stat.medium-6.columns
                    div.medium-6.columns
                div
                    div.medium-12.columns
                        | Bonus
    div#wrapper-dashboard.medium-9.columns.small-centered
        +currentEvent()

append script
    script(src="{{ STATIC_URL }}js/index/index.js")