// Index.Landing

extends ../layout

append script
    script(type="text/javascript", src="{{ STATIC_URL }}js/index/landing.js")

block body
    div#landing
        form.login
            input(type="text", name="email", placeholder="Email")
            input(type="password", name="password", placeholder="Password", autocomplete="off")
        form.register
            input(type="text", name="first_name", placeholder="First Name")
            input(type="text", name="last_name", placeholder="Last Name")
            input(type="text", name="email", placeholder="Email")
            input(type="password", name="password", placeholder="Password", autocomplete="off")
            input(type="password", name="confirm", placeholder="Confirm Password", autocomplete="off")

