// Index.Landing

extends ../layout

append script
    script(type="text/javascript", src="{{ STATIC_URL }}js/index/landing.js")

block body
    div#landing
        div.background
        div.inner
            div.logo
                div.image
                    img(src="{{ STATIC_URL }}images/logo-big.png")
                div.text 
                    b Bazaarboy
                div.caption Your Personal Event Assistant
            div.starting_content.content
                div.middle
                    div.title Bazaarboy offers Ticketing &amp; Registration Pages and Attendee Communication Tools.
                    div.clear
                div.bottom
                    a.request(href="{% url user:register %}") Publish Your First Event
                    div.login_link_container
                        | already a member?  
                        a.start_sign_in(href="javascript:;") sign-in
                    div.clear
            div.login_content.content.hidden
                div.title 
                    b Log in to Bazaarboy
                div.top
                    form.login(name="login")
                        input.login_input(type="text", name="email", placeholder="Email", autocomplete="off")
                        input.login_input(type="password", name="password", placeholder="Password", autocomplete="off")
                div.bottom
                    a.back(href="javascript:;") &lt;&lt; Back
                    a.login_btn(href="javascript:;") Log In
                    div.clear
            div.footer
                | &copy; 2014 Bazaarboy LLC. All rights reserved. 
                a(href="http://blog.bazaarboy.com") Blog
                | &nbsp;|&nbsp;
                a(href="{% url index:pricing %}") Pricing
                | &nbsp;|&nbsp;
                a(href="mailto:build@bazaarboy.com") Contact Us