// Index.Login

extends ../layout

block body
    div#login
        div.row
            div#container
                div#login-container
                    form#login-form
                        div.row
                            div.small-10.small-offset-1.columns
                                div.row
                                    div.small-12.medium-7.columns.text-center
                                        div.logo-small &nbsp;
                                div.row.title
                                    div.small-12.columns.text-center.site-title 
                                        | Bazaarboy
                                        span.page-title 
                                            span.hide-for-small-only &nbsp;&nbsp;|&nbsp;
                                            | &nbsp;Login
                                hr.separator
                                div.row.login-inputs
                                    div.small-12.columns
                                        input(name="email", type="text", name="email", placeholder="Email")
                                    div.small-12.columns
                                        input(type="password", name="password", placeholder="Password", autocomplete="off")
                                div.row.login-bottom
                                    //div.small-8.columns
                                        input(id="savepw", type="checkbox")
                                        label(for="savepw") Keep me signed in.
                                    div.small-12.medium-4.columns
                                        input.primary-btn.submit-login(type="submit", value="SIGN IN")
                div#footer
                    div.row
                        div.small-10.small-offset-1.columns
                            div.row
                                div.small-8.columns
                                    //a.trouble(href="javascript:;") Trouble Logging in?
                                div.small-12.medium-4.columns
                                    a.switch(href="{% url index:register %}") Register

append script
    script(type="text/javascript", src="{{ STATIC_URL }}hashchange/jquery.ba-hashchange.min.js")
    script(type="text/javascript", src="{{ STATIC_URL }}js/index/login.js")