// Index.Login

extends ../layout

block body
    div#login
        div.row
            div#container
                div#login-container
                    form#login-form
                        div.row
                            div.small-10.small-offset-1.columns
                                {% if not organizer_request and not reward_send %}
                                div.row
                                    div.small-12.medium-7.columns.text-center
                                        div.logo-small &nbsp;
                                div.row.title
                                    div.small-12.columns.text-center.site-title 
                                        | Bazaarboy
                                        span.page-title 
                                            span.hide-for-small-only &nbsp;&nbsp;|&nbsp;
                                            | &nbsp;Login
                                {% elif organizer_request %}
                                div.row
                                    div.small-12.columns.text-center.request_logo_container
                                        img.request_logo(src="{{ organizer_request.sender.profile.image.source.url }}")
                                div.row
                                    div.small-12.columns.request_info
                                        | '{{ organizer_request.sender.profile.name }}' has invited you to collaborate on the event&nbsp;
                                        b {{ organizer_request.event.name }}
                                        | . Log in to accept the request!
                                {% else %}
                                div.row
                                    div.small-12.columns.text-center.request_logo_container
                                        img.request_logo(src="{{ reward_send.reward.creator.image.source.url }}")
                                div.row
                                    div.small-12.columns.request_info
                                        | '{{ reward_send.reward.creator.name }}' has sent you a gift to distribute to your audience -&nbsp;
                                        b {{ reward_send.reward.name }}
                                        | . Log in to view the gift!
                                {% endif %}
                                hr.separator
                                div.row.login-inputs
                                    div.small-12.columns
                                        input(name="email", type="text", name="email", placeholder="Email")
                                    div.small-12.columns
                                        input(type="password", name="password", placeholder="Password")
                                div.row.login-bottom
                                    //div.small-8.columns
                                        input(id="savepw", type="checkbox")
                                        label(for="savepw") Keep me signed in.
                                    div.small-12.medium-4.medium-offset-8.columns
                                        {% if organizer_request %}
                                        input(type="hidden", name="request_id", value="{{ organizer_request.id }}")
                                        input(type="hidden", name="request_code", value="{{ organizer_request.code }}")
                                        {% endif %}
                                        {% if reward_send %}
                                        input(type="hidden", name="reward_id", value="{{ reward_send.id }}")
                                        input(type="hidden", name="reward_token", value="{{ reward_send.token }}")
                                        {% endif %}
                                        input.primary-btn.submit-login(type="submit", value="SIGN IN")
                div#footer
                    div.row
                        div.small-10.small-offset-1.columns
                            div.row
                                div.small-12.medium-8.columns
                                    a.trouble(href="{% url user:reset %}") Forgot your password?
                                div.small-12.medium-4.columns
                                    a.switch(href="{% url index:register %}{% if reward_send %}?rewid={{ reward_send.id }}&rewtok={{ reward_send.token }}{% endif %}{% if next %}?next={{ next }}{% endif %}{% if code %}&code={{ code }}{% endif %}{% if organizer_request %}?requestid={{ organizer_request.id }}&requestc={{ organizer_request.code }}{% endif %}") Register

append script
    script(type="text/javascript", src="{{ STATIC_URL }}hashchange/jquery.ba-hashchange.min.js")
    script(type="text/javascript").
        redirect = {% if next %}'{{ next }}'{% else %}false{% endif %};
        code = {% if code %}'{{ code }}'{% else %}false{% endif %};
    script(type="text/javascript", src="{{ STATIC_URL }}js/index/login.js")