// Index.Landing

extends ../layout

append script
    script(type="text/javascript", src="{{ STATIC_URL }}js/index/pricing.js")

block body
    div#wrapper-pricing
        div#background
        div#pricing
            div#header.row
                div.small-12
                    a(href="/")
                        img(src="{{ STATIC_URL }}images/pricing/logo.png")
            div#title.row
                div.small-12
                    div.title
                        | Free Events Are Always Free.
                    div.subtitle
                        | Paid Events Require No Setup Fee
            form.pricing_signup
                div#signup.row
                    div.small-12
                        div.row
                            div.small-4.columns
                                input.radius(type="text", placeholder="Organization Name", name="name")
                            div.small-4.columns
                                input.radius(type="text", placeholder="Organization Email", name="email")
                            div.small-4.columns
                                a.primary-btn(href="javascript:;") Sign Up For Free
            div#fees
                div.row
                    div.small-12.columns
                        div.title
                            | How Fees Work for Paid Events
                        div.boxes
                            div.row
                                div.box.service.small-5.columns
                                    img(src="{{STATIC_URL}}images/pricing/icon_person.png")
                                    div.numbers
                                        | 2% + $0.50
                                    div.subtitle
                                        | Service Fee*
                                div.plus.small-1.columns
                                    img(src="{{STATIC_URL}}images/pricing/plus.png")
                                div.box.cc.small-6.columns
                                    img(src="{{STATIC_URL}}images/pricing/icon_cc.png")
                                    div.numbers
                                        | 3%
                                    div.subtitle
                                        | Credit Card Processing Fee
                        div.captions
                            div.row
                                div.caption.service.small-5.columns
                                    | For every ticket you sell using Bazaarboy, we charge 2% + $0.50 of the ticket value.
                                    div.subtext
                                        | *service fee for 501(c)(3) organizations is 1% + $0.50
                                div.caption.cc.small-6.small-offset-1.columns
                                    div.fees_calculator
                                        form(name="calculator")
                                            div.row
                                                div.small-5.columns
                                                    div.calculator_title
                                                        | Compare Fees
                                                    input(name="ticket_price", type="text", placeholder="Enter Ticket Price")
                                                    input(type="checkbox", id="checkbox1", name="nonprofit")
                                                    label(for="checkbox1") non profit fee