// Index.Pricing

extends ../layout

append script
    script(type="text/javascript", src="{{ STATIC_URL }}js/index/pricing.js")

block body
    div#wrapper-pricing
        div#background
        div#pricing
            div#header.row
                div.small-12
                    a(href="/")
                        img(src="{{ STATIC_URL }}images/pricing/logo.png")
            div#title.row
                div.small-12
                    div.title
                        | Free Events Are Always Free.
                    div.subtitle
                        | Paid Events Require No Setup Fee
            form.pricing_signup
                div#signup.row
                    div.small-12
                        div.row
                            div.small-4.columns
                                input.radius(type="text", placeholder="Organization Name", name="name")
                            div.small-4.columns
                                input.radius(type="text", placeholder="Organization Email", name="email")
                            div.small-4.columns
                                a.primary-btn(href="javascript:;") Sign Up For Free
            div#fees
                div.row
                    div.small-12.columns
                        div.title
                            | How Fees Work for Paid Events
                        div.boxes
                            div.row
                                div.box.service.small-5.columns
                                    img(src="{{STATIC_URL}}images/pricing/icon_person.png")
                                    div.numbers
                                        | 2% + $0.50
                                    div.subtitle
                                        | Service Fee*
                                div.plus.small-1.columns
                                    img(src="{{STATIC_URL}}images/pricing/plus.png")
                                div.box.cc.small-6.columns
                                    img(src="{{STATIC_URL}}images/pricing/icon_cc.png")
                                    div.numbers
                                        | 3%
                                    div.subtitle
                                        | Credit Card Processing Fee
                        div.captions
                            div.row
                                div.caption.service.small-5.columns
                                    | For every ticket you sell using Bazaarboy, we charge 2% + $0.50 of the ticket value.
                                    div.subtext
                                        | *service fee for 501(c)(3) organizations is 1% + $0.50
                                div.caption.cc.small-6.small-offset-1.columns
                                    div.fees_calculator
                                        form(name="calculator")
                                            div.row
                                                div.small-5.columns
                                                    div.calculator_title
                                                        | Compare Fees
                                                    input(name="ticket_price", type="text", placeholder="Enter Ticket Price")
                                                    input(type="checkbox", id="checkbox1", name="nonprofit")
                                                    label(for="checkbox1") non profit fee
                                                div.small-6.small-offset-1.columns.calculator_prices
                                                    span Bazaarboy
                                                    span.calculator_price.bazaarboy  - $0
                                                    br
                                                    span Eventbrite
                                                    span.calculator_price.eventbrite  - $0
                                                    br
                                                    span Ticketleap
                                                    span.calculator_price.ticketleap  - $0
                                                    br
            div#stripe
                div.row
                    div.title.small-12.columns
                        | We use a secure third-party platform to process payments:
                div.row
                    div.stripe_logo.small-12.columns
                        img(src="{{STATIC_URL}}images/pricing/stripe.png")
                div.row.stripe_info
                    div.small-3.columns.line
                        hr
                    div.small-6.columns.text
                        | Bazaarboy and Stripe are PCI Compliant
                    div.small-3.columns.line
                        hr
                div.row.cc_info
                    div.small-6.columns.text
                        | We accept all major credit cards
                    div.small-6.columns
                        div.row.cards
                            div.small-3.columns
                                img(src="{{STATIC_URL}}images/pricing/credit-04.png")
                            div.small-3.columns
                                img(src="{{STATIC_URL}}images/pricing/credit-05.png")
                            div.small-3.columns
                                img(src="{{STATIC_URL}}images/pricing/credit-06.png")
                            div.small-3.columns
                                img(src="{{STATIC_URL}}images/pricing/credit-07.png")
            div#charges
                div.row
                    div.small-6.columns
                        img(src="{{STATIC_URL}}images/pricing/eat_charges.png")
                    div.small-6.columns
                        div.text
                            | Eat the charges or pass them to your customer
                        div.subtext
                            | It's your choice to either assume the cost of the service and credit card processing fees, or to pass them to your customer.
                div.row.second_row
                    div.small-6.columns
                        div.text
                            | How You Get Paid
                        div.subtext
                            | As you sell tickets, Stripe begins processing your payments and creates a deposit schedule. This information is accessible from your Bazaarboy dashboard.
                    div.small-6.columns
                        img(src="{{STATIC_URL}}images/pricing/get_paid.png")
            div#what_else
                div.row
                    div.title.small-12.columns
                        | What else?
                div.row.text
                    div.small-12.columns
                        | We understand that selling tickets is just one hurdle for event organizers. Our team can also provide strategic reccomendations to help your marketing and communication efforts. Whether it's sourcing event-based local products and services, or connecting with other members of our organizer community, we are here to help.
                div.row.contact
                    div.small-4.small-offset-4.columns
                        a.primary-btn(href="https://www.bazaarboy.com/pricing/mailto:build@bazaarboy.com") Contact Us

