// Index.Login

extends ../layout

block body
    div#register
        div.row
            div#container
                div#register-container
                    form.upload-logo.hide(name="upload_logo_form")
                        input(type="file", name="image_file", value="")
                    form#register-form
                        div.row
                            div.small-10.small-offset-1.columns
                                {% if not organizer_request and not reward_send %}
                                div.row
                                    div.small-12.medium-7.columns.text-center
                                        div.logo-small &nbsp;
                                div.row.title
                                    div.small-12.columns.text-center.site-title 
                                        | Bazaarboy
                                        span.page-title
                                            span.hide-for-small-only &nbsp;&nbsp;|&nbsp;
                                            | &nbsp;Register
                                {% elif organizer_request %}
                                div.row
                                    div.small-12.columns.text-center.request_logo_container
                                        img.request_logo(src="{{ organizer_request.sender.profile.image.source.url }}")
                                div.row
                                    div.small-12.columns.request_info
                                        | '{{ organizer_request.sender.profile.name }}' has invited you to collaborate on the event&nbsp;
                                        b {{ organizer_request.event.name }}
                                        | . Create an account to accept the request!
                                {% else %}
                                div.row
                                    div.small-12.columns.text-center.request_logo_container
                                        img.request_logo(src="{{ reward_send.reward.creator.image.source.url }}")
                                div.row
                                    div.small-12.columns.request_info
                                        | '{{ reward_send.reward.creator.name }}' has sent you a gift to distribute to your audience -&nbsp;
                                        b {{ reward_send.reward.name }}
                                        | . Register to view the gift!
                                {% endif %}
                                hr.separator
                                div.row.register-inputs
                                    div.small-12.columns
                                        input(type="text", name="first_name", placeholder="Your First Name")
                                    div.small-12.columns
                                        input(type="text", name="last_name", placeholder="Your Last Name")
                                    div.small-12.columns
                                        input(type="text", name="organization_name", placeholder="Organization Name")
                                    div.small-12.columns
                                        input(type="text", name="email", placeholder="Organization Email")
                                    div.small-12.medium-5.columns
                                        div.logo-title Organization Logo
                                        a.upload-logo-btn.primary-btn-inverse.full-btn(href="javascript:;") Upload
                                        input(name="logo_id", value="", type="hidden")
                                    div.small-12.medium-7.columns.text-center
                                        img#organization-logo(src='')
                                    div.small-12.columns
                                        input(type="password", name="password", placeholder="Password", autocomplete="off")
                                    div.small-12.columns
                                        input(type="password", name="confirm", placeholder="Confirm Password", autocomplete="off")
                                div.row.register-bottom
                                    div.small-12.columns.end
                                        {% if organizer_request %}
                                        input(type="hidden", name="request_id", value="{{ organizer_request.id }}")
                                        input(type="hidden", name="request_code", value="{{ organizer_request.code }}")
                                        {% endif %}
                                        {% if reward_send %}
                                        input(type="hidden", name="reward_id", value="{{ reward_send.id }}")
                                        input(type="hidden", name="reward_token", value="{{ reward_send.token }}")
                                        {% endif %}
                                        input.primary-btn.full-btn.submit-register(type="submit", value="Create Bazaarboy Account")
                div#footer
                    div.row
                        div.small-10.small-offset-1.columns
                            div.row
                                div.small-12.medium-4.medium-offset-8.columns.end
                                    a.switch(href="{% url index:login %}{% if reward_send %}?rewid={{ reward_send.id }}&rewtok={{ reward_send.token }}{% endif %}{% if next %}?next={{ next }}{% endif %}{% if code %}&code={{ code }}{% endif %}{% if organizer_request %}?requestid={{ organizer_request.id }}&requestc={{ organizer_request.code }}{% endif %}") Login

append script
    script(src="https://dme0ih8comzn4.cloudfront.net/js/feather.js")
    script(type="text/javascript", src="{{ STATIC_URL }}hashchange/jquery.ba-hashchange.min.js")
    script(type="text/javascript").
        redirect = {% if next %}'{{ next }}'{% else %}false{% endif %};
        code = {% if code %}'{{ code }}'{% else %}false{% endif %};
    script(type="text/javascript", src="{{ STATIC_URL }}js/index/login.js")