// Index.Login

extends ../layout

block body
    div#register
        div.row
            div#container
                div#register-container
                    form#register-form
                        div.row
                            div.small-10.small-offset-1.columns
                                {% if not organizer_request %}
                                div.row
                                    div.small-12.medium-7.columns.text-center
                                        div.logo-small &nbsp;
                                div.row.title
                                    div.small-12.columns.text-center.site-title 
                                        | Bazaarboy
                                        span.page-title
                                            span.hide-for-small-only &nbsp;&nbsp;|&nbsp;
                                            | &nbsp;Register
                                {% else %}
                                div.row
                                    div.small-12.columns.text-center.request_logo_container
                                        img.request_logo(src="{{ organizer_request.sender.profile.image.source.url }}")
                                div.row
                                    div.small-12.columns.request_info
                                        | '{{ organizer_request.sender.profile.name }}' has invited you to collaborate on the event&nbsp;
                                        b {{ organizer_request.event.name }}
                                        | . Create an account to accept the request!
                                {% endif %}
                                hr.separator
                                div.row.register-inputs
                                    div.small-12.columns
                                        input(type="text", name="first_name", placeholder="First Name")
                                        input(type="text", name="last_name", placeholder="Last Name")
                                    div.small-12.columns
                                        input(type="text", name="email", placeholder="Email")
                                    div.small-12.columns
                                        input(type="password", name="password", placeholder="Password", autocomplete="off")
                                    div.small-12.columns
                                        input(type="password", name="confirm", placeholder="Confirm Password", autocomplete="off")
                                div.row.register-bottom
                                    div.small-12.medium-4.medium-offset-8.columns.end
                                        {% if organizer_request %}
                                        input(type="hidden", name="request_id", value="{{ organizer_request.id }}")
                                        input(type="hidden", name="request_code", value="{{ organizer_request.code }}")
                                        {% endif %}
                                        input.primary-btn.submit-register(type="submit", value="REGISTER")
                div#footer
                    div.row
                        div.small-10.small-offset-1.columns
                            div.row
                                div.small-12.medium-4.medium-offset-8.columns.end
                                    a.switch(href="{% url index:login %}{% if next %}?next={{ next }}{% endif %}{% if code %}&code={{ code }}{% endif %}{% if organizer_request %}?requestid={{ organizer_request.id }}&requestc={{ organizer_request.code }}{% endif %}") Login

append script
    script(type="text/javascript", src="{{ STATIC_URL }}hashchange/jquery.ba-hashchange.min.js")
    script(type="text/javascript").
        redirect = {% if next %}'{{ next }}'{% else %}false{% endif %};
        code = {% if code %}'{{ code }}'{% else %}false{% endif %};
    script(type="text/javascript", src="{{ STATIC_URL }}js/index/login.js")