// Index.Login

extends ../layout

block title
    | Claim {{ reward_item.reward.name }} | {{ reward_item.reward.creator.name }}

append head
    link(rel="stylesheet", href="{{ STATIC_URL }}slick/slick-theme.css")
    link(rel="stylesheet", href="{{ STATIC_URL }}slick/slick.css")

block body
    div#claim
        div.row
            div#container
                div#claim-container
                    form#claim-form
                        div.row
                            div.small-10.small-offset-1.columns
                                div.row
                                    div.small-12.columns.text-center.request_logo_container
                                        img.request_logo(src="{{ reward_item.reward.creator.image.source.url }}")
                                //div.row
                                    div.small-12.columns.value
                                        div.headline ${{ reward_item.reward.value|floatformat:2 }} Value
                                div.row
                                    div.small-12.columns.title
                                        div.headline {{ reward_item.reward.name }}
                                {% if giveaway and giveaway.quantity = 0 %}
                                div.row.claim-success
                                    div.small-12.columns
                                        | Sorry, you are too late. All the gifts have been claimed!
                                {% else %}
                                div.claim-views
                                    div.claim-description
                                        div.row
                                            div.small-12.columns
                                                | {{ reward_item.reward.description }}
                                        div.row
                                            div.small-12.columns.end
                                                a.claim-next.primary-btn(href="javascript:;") Claim Gift
                                    div.claim-inputs
                                        div.row
                                            div.small-12.columns
                                                input(name="first_name", type="text", placeholder="Your First Name", value="{{ claim.owner.first_name }}")
                                            div.small-12.columns
                                                input(name="last_name", type="text", placeholder="Your Last Name", value="{{ claim.owner.last_name }}")
                                            {% for field in extra_fields %}
                                            div.small-12.columns
                                                input.extra-field(type="text", data-field="{{ field }}", placeholder="{{ field }}", value="")
                                            {% endfor %}
                                            {% if giveaway %}
                                            div.small-12.columns
                                                input(name="email", type="text", placeholder="Your Email")
                                            {% endif %}
                                        hr
                                        div.row
                                            div.small-8.columns.phone
                                                input(name="phone", type="text", name="phone", placeholder="Phone #")
                                            div.small-4.columns
                                                {% if giveaway %}
                                                input(type="hidden", name="giveaway_id", value="{{ giveaway.id }}")
                                                input(type="hidden", name="giveaway_token", value="{{ giveaway.token }}")
                                                {% else %}
                                                input(type="hidden", name="claim_id", value="{{ claim.id }}")
                                                input(type="hidden", name="claim_token", value="{{ claim.token }}")
                                                {% endif %}
                                                input.primary-btn.full-btn.submit-claim(type="submit", value="Claim!")
                                        div.row
                                            div.small-12.columns
                                                small * You will recieve the gift via MMS. Your phone WILL NOT be sent any more messages.
                                div.row.claim-success.hide
                                    div.small-12.columns
                                        | Congrats on your gift! You will recieve claim instructions to your phone shortly.
                                {% endif %}

append script
    script(type="text/javascript", src="{{ STATIC_URL }}hashchange/jquery.ba-hashchange.min.js")
    script(type="text/javascript", src="{{ STATIC_URL }}slick/slick.min.js")
    script.
        var isGiveaway = {% if giveaway %}true{% else %}false{% endif %};
    script(type="text/javascript", src="{{ STATIC_URL }}js/reward/claim.js")