// Event.Manage

extends ../layout

block title
    | Manage/Redeem | {{ reward.name }}

block sidebar
    +sidebarItem('ss-newspaper')(href="{% url index %}")
        | Events
    form.reward-search-container
        div.reward-search.show-for-large-only
            label Search Rewards
            input(type="text", name="reward_name", data-type="name", placeholder="Search Name")
            input(type="text", name="reward_email", data-type="email",, placeholder="Search Email")
            input(type="text", name="reward_code", data-type="code",, placeholder="Search Code")

block header
    div.header-title.large-9.medium-10.columns.small-centered.hide-for-small-only
        div.row.clearfix
            div.text.left
                | Reward Management | 
                span.sub {{ reward.name }}


block content
    div.small-12.columns
        form.mobile-reward-search.show-for-small-only
            div.row
                div.small-12.columns.mobile-guest-input-container
                    input(type="text", name="guest_name", placeholder="Search Name")
            div.row
                div.small-12.columns.mobile-guest-input-container
                    input(type="text", name="guest_code", placeholder="Search Conf. #")
        div#wrapper-reward-manage.large-9.medium-10.columns.small-centered
            div#reward-manage.small-12.columns
                div.row
                    div.small-12.columns.rewards
                        div.rewards
                            div.list_headers.row.hide-for-small-only
                                div.checkin.medium-2.columns Status
                                div.confirmation.medium-2.columns Code
                                div.ticket_name.medium-3.columns Expiration
                                div.name.medium-5.columns Name
                            {% for claim in claims %}
                            div.reward.row(class="{% if claim.is_redeemed %}claimed{% endif %}", data-id="{{ claim.id }}", data-code="{{ claim.code|lower }}", data-email="{{ claim.owner.email|lower }}", data-name="{{ claim.owner.first_name|lower }} {{ claim.owner.last_name|lower }}")
                                div.redeem.medium-2.small-12.columns.hide-for-small-only
                                    a.full-btn(href="javascript:;", class="{% if claim.is_redeemed %}disabled-btn{% else %}secondary-btn{% endif %}")
                                        {% if claim.is_redeemed %}Redeemed{% else %}Redeem{% endif %}
                                div.code.medium-2.small-6.columns
                                    {{ claim.code }}&nbsp;
                                div.reward-expiration.medium-3.small-6.columns.clearfix
                                    {{ claim.item.expiration_time|date:"m/d/Y" }}
                                div.spacer.show-for-small-only
                                div.name.medium-5.small-6.columns
                                    {{ claim.owner.first_name }} {{ claim.owner.last_name }}
                                div.redeem.small-6.columns.show-for-small-only
                                    a.full-btn(href="javascript:;", class="{% if claim.is_redeemed %}disabled-btn{% else %}secondary-btn{% endif %}") 
                                        {% if claim.is_redeemed %}Redeemed{% else %}Redeem{% endif %}
                            {% endfor %}


append script
    script(type="text/javascript", src="{{ STATIC_URL }}js/reward/manage.js")