extends ../layout

block title
    | Create Reward

block sidebar
    +sidebarItem('ss-newspaper')(href="{% url index %}")
        | Events
    +sidebarItem('ss-database')(href="{% url list:index %}")
        | Lists
    +sidebarItem('ss-tag')(href="{% url reward:index %}", class="selected")
        | Gifts
    +sidebarItem('ss-share')(href="{% url user:settings %}")
        | Settings

block header
    div.header-title.large-9.medium-10.columns.small-centered
        div.row.clearfix
            div.icon.left
                span.ss-file
            div.text.left
                | Create Gift |
                span.sub &nbsp; {{ profile.name }}

block content
    div#wrapper-new-reward.large-9.medium-10.columns.small-centered
        div#new-reward
            form#new-reward-form
                {% csrf_token %}
                br
                div.row
                    div.small-12.columns
                        label Gift Name
                        input(type="text", name="name", placeholder="Name of Reward")
                div.row
                    div.small-12.columns
                        label Gift Description
                        textarea(name="description", placeholder="Reward Description")
                div.row
                    div.small-12.columns
                        label Gift Value ($)
                        input(type="text", name="value", placeholder="Value of the reward in Dollars (USD)")
                div.row
                    div.small-12.medium-4.columns
                        label Attachment (JPG, PNG, GIF)
                        input.hide(type="file", name="attachment_file")
                        a.add-attachment.primary-btn-inverse.full-btn(href="javascript:;") Add Attachment
                        br
                        a.attachment-name.hide(href="javascript:;", target="_blank") &nbsp;
                    div.small-12.medium-1.columns
                        div.or.text-center OR
                    div.small-12.medium-7.columns.end
                        label Search For GIF
                        div.row
                            div.small-12.medium-8.columns
                                input(type="text", name="gif_search", placeholder="GIF Search (pizza, coffee, etc)")
                            div.small-12.medium-4.columns
                                a.gif-search-start.primary-btn-inverse.full-btn(href="javascript:;") Search
                hr
                div.row.create-actions
                    div.small-12.medium-4.columns
                        a.create-reward.primary-btn.full-btn(href="javascript:;") Create Gift
                    div.small-12.medium-4.columns.end
                        a.secondary-btn-inverse.full-btn(href="{% url reward:index %}") Cancel
    div#gif-modal.reveal-modal.large(data-reveal)
        div.gif.small-12.columns.end.gif-template.hide(data-url='')
            img(src='')
        div.gif-model-title.row
            div.small-12.headline.text-center Choose A GIF
        hr
        div.gif-model.row
            div.small-12.columns
                div.gifs.row
                    div.small-12.medium-4.columns.gifs-1.gif-column
                        div.row 
                    div.small-12.medium-4.columns.gifs-2.gif-column
                        div.row 
                    div.small-12.medium-4.columns.gifs-3.gif-column
                        div.row
                br

                    


append script
    script.
        var profileId = {{ profile.id }};
    script(src="{{ STATIC_URL }}js/reward/new.js")