// User.Login

extends ../layout

block title
    | Bazaarboy | Login

append script
    script(type="text/javascript", src="{{ STATIC_URL }}js/user/login.js")
    script(type="text/javascript").
        Bazaarboy.user.login.init();

block body
    include ../components/facebook
    div#login
        h2 Login
        br
        a#fb_login(href="javascript:;") Login with Facebook
        br
        form(name="login")
            label Email
            input(type="text", name="email")
            br
            label Password
            input(type="password", name="password")
            br
            input(type="submit", name="submit", value="Login")