// User.Register

extends ../layout

block title
    | Bazaarboy | Register

append script
    script(type="text/javascript", src="{{ STATIC_URL }}js/user/register.js")
    script(type="text/javascript").
        Bazaarboy.user.register.init();

block vars
    - var whiteBg = true

block body
    include ../components/facebook
    div#register
        div.background
        div.inner
            div.logo
                div.image
                    a(href="{% url index %}")
                        img(src="{{ STATIC_URL }}images/logo-big.png")
                div.caption Get Started With Your First Event
            div.register_content.content
                div.title 
                    b Event Organizer Registration
                div.top
                    form.register(name="register")
                        input.register_input(type="text", name="full_name", value="{{ orgInfo.name }}", placeholder="Organization Name", autocomplete="off")
                        input.register_input(type="text", name="email", value="{{ orgInfo.email }}", placeholder="Organization Email", autocomplete="off")
                        input.register_input(type="password", name="password", placeholder="Password", autocomplete="off")
                        input.register_input(type="password", name="confirm", placeholder="Confirm Password", autocomplete="off")
                        input(type="hidden", name="city", value="1")
                div.bottom
                    a.register_btn(href="javascript:;") Register
                    div.clear
            div.footer
                | &copy; 2013 Bazaarboy LLC. All rights reserved. 
                a(href="http://blog.bazaarboy.com") Blog
                | &nbsp;|&nbsp;
                a(href="{% url index:pricing %}") Pricing
                | &nbsp;|&nbsp;
                a(href="mailto:build@bazaarboy.com") Contact Us