extends ../layout

block content
    div#payment
        {% for account in paymentAccounts %}
        div.account
            {{ account.user_id }}
        {% endfor %}
        a(href="{{ stripeConnectUrl|safe }}") Connect a Payment Account