extends ../layout

block title
    | Profile Settings

append head
    link(rel="stylesheet", href="{{ STATIC_URL }}jQueryUI/jquery-ui.css")

block sidebar
    div.create-event(data-profile-id="{{ profiles.0.id }}")
        div.primary-btn.hide-for-medium-only
            | <span class="plus">+</span> Create Event
        div.primary-btn.show-for-medium-only
            | <span class="plus">+</span>
    +sidebarItem('ss-newspaper')(href="{% url index %}")
        | Events
    //-+sidebarItem('ss-database')
        | Lists
    +sidebarItem('ss-share')(href="{% url user:settings %}", class="selected")
        | Settings

block header
    div.header-title.large-9.medium-10.columns.small-centered
        div.row.clearfix
            div.icon.left
                span.ss-file
            div.text.left
                | Edit Profile | 
                span.sub {{ profile.name }}

block content
    div#wrapper-user-settings.large-9.medium-10.columns.small-centered
        div#user-settings.small-12.columns
            div#payment.row
                {% if profile.payment_account %}
                div.medium-4.columns.stripe_status
                    | Stripe Connected
                div.account.medium-8.columns
                    a.secondary-btn.stripe_connect(href="https://manage.stripe.com/") View Stripe Account
                {% else %}
                div.medium-4.columns.stripe_status
                    | Stripe NOT Connected
                div.medium-8.columns
                    a.secondary-btn.stripe_connect(href="{{ stripeConnectUrl|safe }}") Connect a Payment Account
                {% endif %}
            form.profile-settings
                div.row
                    div.name.medium-2.columns
                        | Name
                    div.medium-10.columns
                        input.field(type="text", name="name", value="{{ profile.name }}", placeholder="Profile name")
                    div.text.medium-10.medium-offset-2.columns
                        p The name of your organization, maximum 100 characters.
                div.row
                    div.name.medium-2.columns
                        | Email
                    div.medium-10.columns
                        input.field(type="text", name="email", value="{{ profile.email }}", placeholder="Profile email")
                    div.text.medium-10.medium-offset-2.columns
                        p The contact email for your organization
                div.row
                    div.name.medium-2.columns
                        | Description
                    div.medium-10.columns
                        textarea.field(type="text", name="description", placeholder="Profile description")
                            {{ profile.description }}
                    div.text.medium-10.medium-offset-2.columns
                        p A description of your organization.
                div.row.logo
                    div.name.medium-2.columns
                        | Logo
                    div.medium-3.columns
                        div.logo_controls
                            a.secondary-btn.upload(href="javascript:;") Upload
                            a.secondary-btn.delete.last(href="javascript:;") Delete
                            a.secondary-btn.save.hide(href="javascript:;") Save
                            a.secondary-btn.cancel.hide.last(href="javascript:;") Cancel
                    div.medium-7.columns
                        div.logo_image
                            {% if profile.image %}
                            img(src="{{ profile.image.source.url }}")
                            {% endif %}
                div.row
                    div.name.medium-2.columns
                        | Location
                    div.medium-10.columns
                        input.field(type="text", name="location", value="{{ profile.location }}", placeholder="Profile location")
                    div.text.medium-10.medium-offset-2.columns
                        p The location of your organization. If you don't think marker position is accurate, you can also drag the marker to where you desire.
                    div.medium-10.medium-offset-2.columns
                        div#map-canvas
                    div.hide
                        div#map-canvas-hidden
                div.row
                    div.status.medium-3.medium-offset-1.columns
                        | Saved
                    div.medium-4.columns.end
                        input.primary-btn(type="submit", value="Save Profile")
                input(type="hidden", name="latitude", value="{{ profile.latitude }}")
                input(type="hidden", name="longitude", value="{{ profile.longitude }}")
            form.upload_logo.hide
                input(type="file", name="image_file")
                {% csrf_token %}

append script
    script(src="{{ STATIC_URL }}jQueryUI/jquery-ui.min.js")
    script(src="{{ STATIC_URL }}jQueryUI/jquery-ui.autocomplete.html.js")
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAasW6vqPCn18g6UMaFWV90qGMSo6pErwo&sensor=false&libraries=places")
    script.
        var profileId = {{ profile.id }};
    script(src="{{ STATIC_URL }}js/user/settings.js")