// User.Unsubscribe

extends ../layout

block body
    div#login
        div.row
            div#container
                div#login-container
                    form#login-form
                        div.row
                            div.small-10.small-offset-1.columns
                                div.row
                                    div.small-12.medium-7.columns.text-center
                                        div.logo-small &nbsp;
                                div.row.title
                                    div.small-12.columns.text-center.site-title 
                                        | Bazaarboy
                                        span.page-title 
                                            span.hide-for-small-only &nbsp;&nbsp;|&nbsp;
                                            | &nbsp;Login
                                hr.separator
                                div.row.login-inputs
                                    div.small-12.columns
                                        | You have succesfully unsubscribed from Bazaarboy emails. You will still receive confirmation emails if you RSVP for an event.
                                div.row.login-bottom
                                    div.small-12.medium-12.columns.text-center
                                        a(href="/") Bazaarboy Home