@import (reference) "vars.less";

div#profile {
  .bigger{
    font-size: 14px;
    font-weight: bold;
  }
  div#profile-container{
    div.profile-header{
      position: relative;
      div.overlay{
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.15)
      }
      div.header-top{
        padding-top: 50px;
        @media @media_small{
          text-align: center;
        }
        a.brand-logo{
          img{
            height: 45px;
          }
        }
        a.learn-more{
          @media @media_small{
            display: none;
          }
        }
      }
      div.header-bottom{
        padding-top: 350px;
        padding-bottom: 72px;
        @media @media_small{
          padding-top: 100px;
          padding-bottom: 125px;
        }
        div.profile-name{
          color: @white;
          font-size: 42px;
          text-shadow: 0 1px 3px rgba(0, 0, 0, .6);
          font-weight: 500;
          @media @media_small{
            text-align: center;
            font-size: 32px;
          }
        }
        div.subscribe-container{
          background-color: rgba(0, 0, 0, .2);
          padding: 5px;
          border-radius: 4px;
          @media @media_small{
            margin-top: 20px;
          }
          input{
            margin-bottom: 0;
          }
        }
      }
    }
    div.profile-body{
      border-top: 2px solid @medium_grey;
      background: @light-grey;
      padding-bottom: 50px;
      div.body-container{
        position: relative;
        top: -50px;
        background: @white;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
        padding-bottom: 50px;
        @media @media_small{
          padding-bottom: 0;
        }
        div.body-bottom{
          div.business-info{
            position: relative;
            top: -90px;
            word-wrap:break-word;
            border-radius: 4px;
            margin-left: 1.875rem;
            padding-left: 10px;
            padding-right: 10px;
            @media @media_small{
              top: -60px;
              margin-right: 1.875rem;
              padding-left: 0;
              padding-right: 0;
            }
            div.profile-logo{
              height: 90px;
              width: 180px;
              background-color: rgba(122, 122, 122, 0.3);
              padding: 5px;
              border-radius: 4px;
              margin-bottom: 110px;
              @media @media_small{
                height: 60px;
                width: 120px;
                margin: 0 auto;
                margin-bottom: 100px;
              }
              div.logo{
                border-radius: 4px;
                height: 170px;
                width: 170px;
                background-color: @white;
                border: @light-grey 1px solid;
                @media @media_small{
                  width: 110px;
                  height: 110px;
                }
              }
            }
            div.info-container{
              div.title{
                color: @light-orange;
                margin-bottom: 15px;
              }
              div.info{
                margin-bottom: 20px;
                font-size: 12px;
                line-height: 1rem;
                div.photo-feed{
                  margin-right: .9375rem;
                  div.photo-container{
                    padding-right: 0;
                  }
                  ul.clearing-thumbs{
                    li{
                      margin-right: 0 !important;
                      padding: 5px;
                      @media @media_small{
                        padding-right: 0;
                        padding-bottom: 10px;
                      }
                      &:hover{
                        opacity: .6;
                      }
                    }
                  }
                }
              }
            }
          }
          div.event-content{
            hr{
              margin: 0;
              margin-top: 20px;
              margin-bottom: 30px;
              margin-right: .9375rem;
              @media @media_small{
                margin-right: 0;
              }
            }
            @media @media_small{
              padding-left: .9375rem;
              padding-right: .9375rem;
              position: relative;
              top: -60px;
              margin-top: 0;
            }
            div.events-title{
              color: @dark_grey;
              margin-bottom: 20px;
            }
            div.event-image{
              position: relative;
              height: 0;
              border-radius: 2px;
              div.event-date{
                position: absolute;
                top: 0;
                left: 0;
                height: 40px;
                width: 40px;
                background: rgba(0, 0, 0, 0.6);
                border-top-left-radius: 2px;
                transition: all .1s;
                div.month{
                  padding-top: 4px;
                  padding-bottom: 1px;
                  width: 100%;
                  text-align: center;
                  color: @white;
                  font-size: 12px;
                  font-weight: bold;
                  text-transform: uppercase;
                }
                div.day{
                  width: 100%;
                  text-align: center;
                  color: @white;
                  font-size: 18px;
                  font-weight: bold;
                }
              }
            }
            div.upcoming-events{
              margin-top: 30px;
              background: @light-grey;
              padding: 20px;
              padding-bottom: 0;
              margin-right: 30px;
              border-radius: 4px;
              @media @media_small{
                margin-right: 0;
                margin-top: 0;
              }
              div.events-title{
                padding-top: 5px;
                padding-bottom: 5px;
              }
              div.upcoming-event{
                margin-left: .9375rem;
                margin-bottom: 40px;
                @media @media_small{
                  margin-left: 0;
                  padding-right: .9375rem;
                }
                > .row{
                  @media @media_small{
                    margin-left: 0;
                  }
                }
                div.event-image{
                  padding-bottom: 30%;
                  @media @media_small{
                    padding-bottom: 50%;
                  }
                }
                div.event-info-container{
                  @media @media_small{
                    padding-left: 0;
                    margin-top: 20px;
                  }
                  div.event-info{
                    margin-right: .9375rem;
                    a.event-name{
                      display: block;
                      color: @orange;
                      font-size: 16px;
                      font-weight: 500;
                      margin-bottom: 10px;
                      &:hover{
                        color: @light-orange;
                      }
                    }
                    div.event-summary{
                      color: @dark_grey;
                      font-size: 12px;
                      line-height: 1rem;
                      min-height: 60px;
                    }
                    div.event-link{
                      a{
                        display: block;
                        width: 80px;
                        margin-top: 15px;
                        font-weight: 400;
                        font-size: 14px;
                        padding-top: 6px;
                        padding-bottom: 6px;
                      }
                    }
                  }
                }
                a:hover{
                  div.event-date{
                    background: rgba(0, 0, 0, 1);
                  }
                }
              }
            }
            div.past-events{
              margin-top: 30px;
              div.events-title{
                margin-bottom: 30px;
              }
              div.past-events-container{
                margin-right: .9375rem;
                div.slider-container{
                  padding-left: 2rem;
                  padding-right: 2rem;
                  @media @media_small{
                    padding-right: 0;
                  }
                }
              }
              div.past-event{
                margin-left: 1.5rem;
                margin-right: 1.5rem;
                margin-bottom: 20px !important;
                margin-top: 0px !important;
                @media @media_small{
                  margin-left: 0;
                  margin-right: -.9375rem;
                  padding-right: 0;
                }
                > .row{
                  @media @media_small{
                    margin-left: 0;
                  }
                }
                div.event-image{
                  padding-bottom: 100%;
                  @media @media_small{
                    padding-bottom: 50%;
                  }
                  div.event-name{
                    background: rgba(197, 119, 36, 0.7);
                    padding: 5px;
                    color: @white;
                    position: absolute;
                    font-size: 12px;
                    line-height: 1rem;
                    font-weight: bold;
                    left: 0;
                    bottom: 0;
                    border-bottom-left-radius: 2px;
                    border-bottom-right-radius: 2px;
                    width: 100%;
                    transition: all .1s;
                  }
                }
                a:hover{
                  div.event-name{
                    background: rgba(197, 119, 36, 1);
                  }
                  div.event-date{
                    background: rgba(0, 0, 0, 1);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}