extends ../layout

block title
    | List Dashboard

block sidebar
    +sidebarItem('ss-newspaper')(href="{% url 'index' %}")
        | Events
    +sidebarItem('ss-database')(href="{% url 'list:index' %}", class="selected")
        | Lists
    +sidebarItem('ss-tag')(href="{% url 'reward:index' %}")
        | Gifts
    +sidebarItem('ss-share')(href="{% url 'user:settings' %}")
        | Settings

block header
    div.header-title.large-9.medium-10.columns.small-centered
        div.row.clearfix
            div.icon.left
                span.ss-file
            div.text.left
                | List Management |
                span.sub &nbsp;All Lists

block content
    div#wrapper-list-dashboard.large-9.medium-10.columns.small-centered
        {% if listsCount == 0 %}
        div.empty-state-container
            div.row
                div.medium-5.columns
                    &nbsp;
                div.medium-7.columns.end.empty-state-content
                    div.text YOU HAVEN'T MADE A LIST YET
                    hr
                    div.subtext Use lists to create segmented groups of your audience. Targeted lists will allow you send more effective event invitations and gifts to your followers.
                    div.row
                        div.large-5.medium-7.small-9
                            div.new-list-btn
                                div.secondary-btn.btn.full-btn
                                    | <span class="plus">+</span> Add New List
        {% endif %}
        div#list-dashboard.small-12.columns
            div.row.new-list-container(class="{% if listsCount == 0 %}hide{% endif %}")
                div.medium-4.columns.new-list
                    a.new-list-btn.primary-btn(href="javascript:;") + New List
                div.medium-4.columns.new-list.end
                    a.primary-btn-inverse(href="{% url 'list:new-sign-up' %}") + New Sign Up Form
            div.row
                {% if active_sign_ups|length > 0 %}
                div.small-12.columns.lists
                    div.row
                        div.small-12.columns
                            div.headline Sign Up Forms
                    hr
                    div.row
                        div.small-12.columns
                            {% for signup in active_sign_ups %}
                            div
                                div.row.list
                                    div.small-3.columns.list-name
                                        | {{ signup.name }}
                                        {% if signup.newSignups > 0 %}
                                        span.new-signups ({{ signup.newSignups }} new)
                                        {% endif %}
                                    div.small-5.columns.text-left.list-members
                                        | {{ signup.description|truncatechars:35 }}
                                    div.small-2.columns.text-center.list-action
                                        a(href="{% url 'list:sign-up' signup.id %}") View Form
                                    div.small-2.columns.text-center.list-action
                                        a(href="javascript:;", data-dropdown="drop1", data-options="is_hover:true") Form Actions
                                        ul#drop1.f-dropdown(data-dropdown-content)
                                            li
                                                a(href="{% url 'list:manage-sign-up' signup.id %}") View Signups
                                            li
                                                a(href="{% url 'list:edit-sign-up' signup.id %}") Edit Form
                                            li
                                                a.delete-signup.btn(href="javascript:;", data-id="{{ signup.id }}") Archive Form
                            {% endfor %}
                            {% if archived_sign_ups|length > 0 %}
                    div.row.archived-button-container
                        div.small-12.medium-3.columns
                            a.show-archived-signups.primary-btn-inverse.small-btn(href="javascript:;") View Archived Signups
                            {% endif %}
                    div.row
                        div.small-12.columns
                            {% for signup in archived_sign_ups %}
                            div.hide.archived_sign_up
                                div.row.list
                                    div.small-3.columns.list-name
                                        | {{ signup.name }}
                                        {% if signup.newSignups > 0 %}
                                        span.new-signups ({{ signup.newSignups }} new)
                                        {% endif %}
                                    div.small-5.columns.text-left.list-members
                                        | {{ signup.description|truncatechars:35 }}
                                    div.small-2.columns.text-center.list-action
                                        a(href="{% url 'list:sign-up' signup.id %}") View Form
                                    div.small-2.columns.text-center.list-action
                                        a(href="javascript:;", data-dropdown="drop1", data-options="is_hover:true") Form Actions
                                        ul#drop1.f-dropdown(data-dropdown-content   )
                                            li
                                                a(href="{% url 'list:manage-sign-up' signup.id %}") View Signups
                                            li
                                                a(href="{% url 'list:edit-sign-up' signup.id %}") Edit Form
                            {% endfor %}
                {% endif %}
            div.row
                {% if lists|length > 0 %}
                div.small-12.columns.lists
                    div.row
                        div.small-12.columns
                            div.headline Lists
                    hr
                    div.row
                        div.small-12.columns
                            {% for list in lists %}
                            div
                                div.row.list
                                    div.small-6.columns.list-name
                                        | {{ list.name|truncatechars:30 }}
                                    div.small-2.columns.text-left.list-members
                                        | {{ list.items }} Membe{{ list.items|pluralize:"r,rs" }}
                                    div.small-2.columns.text-center.list-action
                                        a(href="{% url 'list:list' list.id %}") Manage List
                                    div.small-2.columns.text-center.list-action
                                        a.delete-list-btn(href="javascript:;", data-id="{{ list.id }}") Delete List
                            {% endfor %}
                {% endif %}
    div#new-list-modal.reveal-modal.medium(data-reveal)
        div.row.new-list-title
            div.small-12.columns
                h3 Give Your List a Name
        div.row.new-list-inputs
            div.medium-8.small-12.columns
                input(name="list_name", placeholder="List Name (required)")
            div.small-12.medium-4.columns
                a.create-list.primary-btn(href="javascript:;") + Add New List
        div.row.new-list-cancel
            div.small-12.medium-4.medium-offset-8.columns.text-center
                a.close-list-modal(href="javascript:;") Cancel Adding List


append script
    script.
        var profileId = {{ profile.id }};
    script(src="{{ STATIC_URL }}js/list/index.js")