extends ../layout

block title
    | List Management

append head
    link(rel="stylesheet", href="{{ STATIC_URL }}jQueryUI/jquery-ui.css")

block sidebar
    div.create-event(data-profile-id="{{ profiles.0.id }}")
        div.primary-btn.hide-for-medium-only
            | <span class="plus">+</span> Create Event
        div.primary-btn.show-for-medium-only
            | <span class="plus">+</span>
    +sidebarItem('ss-newspaper')(href="{% url index %}")
        | Events
    +sidebarItem('ss-database')(href="{% url list:index %}", class="selected")
        | Lists
    +sidebarItem('ss-share')(href="{% url user:settings %}")
        | Settings

block header
    div.header-title.large-9.medium-10.columns.small-centered
        div.row.clearfix
            div.icon.left
                span.ss-file
            div.text.left
                | List Management | 
                span.sub {{ profile.name }}

block content
    div#wrapper-list-management.large-9.medium-10.columns.small-centered
        div#list-management.small-12.columns
            form.upload_csv
                input(type="file", name="csv_file")
                {% csrf_token %}

append script
    script.
        var profileId = {{ profile.id }};
    script(src="{{ STATIC_URL }}js/list/index.js")