extends ../layout

block title
    | List Dashboard

block sidebar
    +sidebarItem('ss-newspaper')(href="{% url index %}")
        | Events
    +sidebarItem('ss-database')(href="{% url list:index %}", class="selected")
        | Lists
    +sidebarItem('ss-tag')(href="{% url reward:index %}")
        | Gifts
    +sidebarItem('ss-share')(href="{% url user:settings %}")
        | Settings

block header
    div.header-title.large-9.medium-10.columns.small-centered
        div.row.clearfix
            div.icon.left
                span.ss-file
            div.text.left
                | List Management |
                span.sub &nbsp;All Lists

block content
    div#wrapper-list-dashboard.large-9.medium-10.columns.small-centered
        {% if listsCount == 0 %}
        div.empty-state-container
            div.row
                div.medium-5.columns
                    &nbsp;
                div.medium-7.columns.end.empty-state-content
                    div.text YOU HAVEN'T MADE A LIST YET
                    hr
                    div.subtext Make event communication easier with lists
                    div.row
                        div.large-5.medium-7.small-9
                            div.new-list-btn
                                div.secondary-btn.btn.full-btn
                                    | <span class="plus">+</span> Add New List
        {% endif %}
        div#list-dashboard.small-12.columns
            div.row.new-list-container(class="{% if listsCount == 0 %}hide{% endif %}")
                div.medium-4.columns.new-list
                    a.new-list-btn.primary-btn(href="javascript:;") + New List
            div.row
                div.small-12.columns.lists
                    {% for list in lists %}
                    div
                        div.row.list
                            div.small-6.columns.list-name
                                | {{ list.name|truncatechars:30 }}
                            div.small-2.columns.text-left.list-members
                                | {{ list.items }} Membe{{ list.items|pluralize:"r,rs" }}
                            div.small-2.columns.text-right.list-action
                                a(href="{% url list:list list.id %}") Manage List
                            div.small-2.columns.text-right.list-action
                                a.delete-list-btn(href="javascript:;", data-id="{{ list.id }}") Delete List
                    {% endfor %}
    div#new-list-modal.reveal-modal.medium(data-reveal)
        div.row.new-list-title
            div.small-12.columns
                h3 Give Your List a Name
        div.row.new-list-inputs
            div.medium-8.small-12.columns
                input(name="list_name", placeholder="List Name (required)")
            div.small-12.medium-4.columns
                a.create-list.primary-btn(href="javascript:;") + Add New List
        div.row.new-list-cancel
            div.small-12.medium-4.medium-offset-8.columns.text-center
                a.close-list-modal(href="javascript:;") Cancel Adding List


append script
    script.
        var profileId = {{ profile.id }};
    script(src="{{ STATIC_URL }}js/list/index.js")