extends ../layout

block title
    | List Management

block sidebar
    +sidebarItem('ss-newspaper')(href="{% url index %}")
        | Events
    +sidebarItem('ss-database')(href="{% url list:index %}", class="selected")
        | Lists
    +sidebarItem('ss-share')(href="{% url user:settings %}")
        | Settings

block header
    div.header-title.large-9.medium-10.columns.small-centered
        div.row.clearfix
            div.icon.left
                span.ss-file
            div.text.left
                | List Management | 
                span.sub {{ lt.name }}

block content
    div#wrapper-list-management.large-9.medium-10.columns.small-centered
        div#list-management.small-12.columns
            // HEADER
            div.row.list-title
                div.small-12.columns
                    h3 You're Viewing This List:
            div.row.list-header
                div.small-8.columns.list-name
                    | {{ lt.name }}
                div.small-4.columns.text-right.list-members
                    span.member-count {{ list_items.count }}
                    span &nbsp; Members
            // ADD TO LIST CONTROLS
            div.row.list-controls
                div.small-12.columns
                    h3 How Would You Like To Add Members?
                form.upload_csv.small-12.columns.hide
                    input(type="file", name="csv_file")
                    {% csrf_token %}
                div.small-12.medium-3.columns.from-csv
                    a.start-member-add.add-from-csv.secondary-btn-inverse(href="javascript:;") Upload CSV
                div.small-12.medium-3.columns.from-event
                    a.start-member-add.add-from-event.secondary-btn-inverse(href="javascript:;") From Event
                div.small-12.medium-3.columns.from-manual
                    a.start-member-add.add-single-item.secondary-btn-inverse(href="javascript:;") Manual Entry
                div.small-12.medium-3.columns.text-right
                    a.cancel-add(href="javascript:;") Cancel Add Members
            // CSV UPLOAD
            div.member-add-interface.csv_upload_interface.row.hide
                div.small-12.medium-9.medium-centered.columns.upload-btn-container
                    a.upload-csv-btn.btn.secondary-btn.full-btn(href="javascript:;") Upload CSV For Import
                div.small-12.medium-11.medium-centered.columns.csv-info-container.hide
                    div.row
                        div.small-12.medium-8.columns
                            div.csv-name &nbsp;
                        div.small-12.medium-4.columns
                            a.blue-btn.cancel-csv-upload(href='javascript:;') Cancel Upload
                div.small-12.columns.title_rows.hide
                    div.row
                        div.blue.small-12.medium-3.columns Choose Field Type
                        div.small-12.medium-3.columns Row 1
                        div.small-12.medium-3.columns Row 2
                        div.small-12.medium-3.columns Row 3
                div.small-12.columns.upload_rows.hide
                    div.upload_row.template.row.hide
                        div.choices.small-12.medium-3.columns
                            select(name='field')
                                option(value="none") None
                                option(value="email") Email
                                option(value="first_name") First Name
                                option(value="last_name") Last Name
                                option(value="note") Note (optional)
                        div.col.col-1.small-12.medium-3.columns
                        div.col.col-2.small-12.medium-3.columns
                        div.col.col-3.small-12.medium-3.columns
                div.small-12.columns.csv-controls.hide
                    div.row
                        div.small-12.medium-6.error-message.columns &nbsp;
                        div.small-12.medium-3.columns
                            a.primary-btn.btn.full-btn.submit-csv-btn(href="javascript:;") Submit
                        div.small-12.medium-3.columns
                            a.primary-btn.btn.full-btn.cancel-csv-upload(href="javascript:;") Cancel
            // ADD FROM EVENT
            div.member-add-interface.event-add-interface.row.hide
                div.small-12.medium-12.columns.event-info-container
                    div.title Select Attendee Lists to Add to '{{ lt.name }}'
                    div.subtext Duplicate email addresses will not be added twice
                div.small-12.columns.event-list
                    {% for k, event in pastEventList.items %}
                    div.row.event(data-id="{{ event.id }}")
                        div.small-12.medium-9.columns.event-name {{ event.name }}
                        div.small-12.medium-3.columns.event-quantity.text-right {{ event.quantity }} Attendees
                    {% endfor %}
                div.small-12.columns.event-add-controls
                    div.row
                        div.small-12.medium-6.error-message.columns &nbsp;
                        div.small-12.medium-3.columns
                            a.primary-btn.btn.full-btn.submit-event-add(href="javascript:;") Confirm
                        div.small-12.medium-3.columns
                            a.primary-btn.btn.full-btn.cancel-event-add(href="javascript:;") Cancel
            // ADD MANUALLY
            div.member-add-interface.manual-add-interface.row.hide
                div.small-12.medium-12.columns.manual-add-info-container
                    div.title Manually Add Members To '{{ lt.name }}'
                div.small-12.columns.manual-add-form
                    form.add-item-form
                        div.row
                            div.small-12.medium-6.columns
                                div
                                    input(type="text", name="first_name", placeholder="First Name (required)")
                                div
                                    input(type="text", name="last_name", placeholder="Last Name (required)")
                                div
                                    input(type="text", name="email", placeholder="Email (required)")
                            div.small-12.medium-6.columns
                                div
                                    textarea(name="note", placeholder="Notes (optional)")
                                div
                                    a.primary-btn.btn.full-btn.add-member-submit(href="javascript:;") Add Member

            // MEMBER LIST
            div.row.list
                div.small-12.list-title List Members
                div.small-12.columns.list-items
                    div.row.list-item.template.hide
                        div.medium-3.small-12.columns.name
                        div.medium-6.small-12.columns.email
                        div.medium-3.small-12.columns.text-right
                            a.remove-member(href="javascript:;") Remove From List
                    {% for item in list_items %}
                    div.row.list-item
                        div.medium-3.small-12.columns {{ item.first_name }} {{ item.last_name }}
                        div.medium-6.small-12.columns {{ item.email }}
                        div.medium-3.small-12.columns.text-right
                            a.remove-member(href="javascript:;", data-id="{{ item.id }}") Remove From List
                    {% endfor %}

append script
    script.
        var listId = {{ lt.id }};
        var profileId = {{ profile.id }};
    script(src="{{ STATIC_URL }}js/list/list.js")