extends ../layout

block title
    | Sign Up Form

append head
    link(rel="stylesheet", href="{{ STATIC_URL }}jQueryUI/jquery-ui.css")
    link(rel="stylesheet", href="{{ STATIC_URL }}pikaday/pikaday.css")

block sidebar
    +sidebarItem('ss-newspaper')(href="{% url index %}")
        | Events
    +sidebarItem('ss-database')(href="{% url list:index %}", class="selected")
        | Lists
    +sidebarItem('ss-tag')(href="{% url reward:index %}")
        | Gifts
    +sidebarItem('ss-share')(href="{% url user:settings %}")
        | Settings

block header
    div.header-title.large-9.medium-10.columns.small-centered
        div.row.clearfix
            div.icon.left
                span.ss-file
            div.text.left
                | Sign Up Form | 
                span.sub {{ profile.name }}

block content
    div#wrapper-new-sign-up.large-9.medium-10.columns.small-centered
        div#new-sign-up.small-12.columns
            form.channel-settings
                div.row
                    div.small-12.columns
                        div.headline {% if sign_up %}Edit{% else %}Create{% endif %} Sign Up Form
                hr
                div.row
                    div.small-12.columns
                        div.input-container
                            div.row
                                div.small-4.columns.input-title Form Name
                                div.small-8.columns.input-note.text-right Short and Sweet
                            input.field(type="text", name="name", value="", placeholder="Name")
                div.row
                    div.small-12.columns
                        div.input-container
                            div.row
                                div.small-4.columns.input-title Form Description
                                div.small-8.columns.input-note.text-right What are people signing up for?
                            textarea.field(type="text", name="description", placeholder="Description")
                div.row
                    div.small-12.columns
                        div.input-container
                            div.row
                                div.small-4.columns.input-title End Date
                                div.small-8.columns.input-note.text-right When is this no longer valid?
                            input.field(type="text", name="end_date", value="", placeholder="MM/DD/YYYY")
                div.row
                    div.small-12.columns
                        div.input-container
                            div.row
                                div.small-4.columns.input-title Form Image (Optional)
                                div.small-8.columns.input-note.text-right if empty, your logo will be used
                            a.upload-image-btn.primary-btn-inverse(href="javascript:;", style="{% if signup.image %}display:none;{% endif %}") Upload Image
                            a.delete-image-btn.primary-btn-inverse.hide(href="javascript:;", style="{% if not signup.image %}display:none;{% endif %}") Delete Image
                            input.hide(type="file", name="image_file", value="")
                            img#cover-image(src="{% if signup.image %}{{ signup.image.source.url }}{% endif %}")
                            
                div.row
                    div.medium-4.columns.end
                        a.create-sign-up-btn.primary-btn.full-btn(href="javascript:;") Create Sign Up Form
append script
    script(src="https://dme0ih8comzn4.cloudfront.net/js/feather.js")
    script(src="{{ STATIC_URL }}pikaday/pikaday.js")
    script(src="{{ STATIC_URL }}pikaday/pikaday.jquery.js")
    script.
        var profileId = {{ profile.id }};
    script(src="{{ STATIC_URL }}js/list/new-sign-up.js")