// Index.Login

extends ../layout

block title
    | {{ signup.name }}

block body
    div#sign-up
        div.row
            div#container
                div#sign-up-container
                    form#sign-up-form
                        div.row
                            div.small-10.small-offset-1.columns
                                div.row
                                    div.small-12.columns.text-center.image-container
                                        img(src="{% if signup.image %}{{ signup.image.source.url }}{% else %}{{ signup.owner.image.source.url }}{% endif %}")
                                div.row.title
                                    div.small-12.columns.text-center.site-title 
                                        | {{ signup.name }}
                                div.row
                                    div.small-12.columns.request_info
                                        {{ signup.description }}
                                hr.separator
                                div.row.login-inputs
                                    div.small-12.columns
                                        input(type="text", name="first_name", placeholder="First Name")
                                    div.small-12.columns
                                        input(type="text", name="last_name", placeholder="Last Name")
                                    div.small-12.columns
                                        input(type="text", name="email", placeholder="Email")
                                div.row.login-bottom
                                    div.small-12.medium-4.medium-offset-8.columns
                                        input.primary-btn.submit-login(type="submit", value="SUBMIT")

append script
    script(type="text/javascript", src="{{ STATIC_URL }}hashchange/jquery.ba-hashchange.min.js")
    script(type="text/javascript").
        signup = {{ signup.id }};
    script(type="text/javascript", src="{{ STATIC_URL }}js/list/sign-up.js")