//- Components.Bottom

div.inner
    span &copy; Bazaarboy LLC. All rights reserved.
    | &nbsp;
    a(href="javascript:;") Terms of Use
    | &nbsp;|&nbsp;
    a(href="https://blog.bazaarboy.com") Blog
    | &nbsp;|&nbsp;
    a(href="mailto:build@bazaarboy.com") Contact Us