//- Components.Bottom

div.inner
    span &copy; Bazaarboy LLC. All rights reserved.
    | &nbsp;
    a(href="{% url index:terms %}") Terms of Use
    | &nbsp;|&nbsp;
    a(href="http://blog.bazaarboy.com") Blog
    | &nbsp;|&nbsp;
    a(href="{% url index:pricing %}") Pricing
    | &nbsp;|&nbsp;
    a(href="mailto:build@bazaarboy.com") Contact Us