//- Mixins

mixin sidebarItem(icon)
    - icon = icon || ''
    a.sidebar-item(class!=attributes.class, href!=attributes.href)
        div.sidebar-item-icon
            div.absolute-center(class="#{icon}")
        div.sidebar-item-text
            div
                div
                    block

mixin sidebarItemSub(count)
    a.sidebar-item.sub(class!=attributes.class, href!=attributes.href)
        div.sidebar-item-text
            div
                div
                    block
        div.sidebar-item-icon
            div.text.absolute-center= count